
#bug-report-wrapper, .bug-report-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 200px;
    z-index: 99999;
}

.brp-title {
    text-align: center;
    padding: 10px;
    background-color: rgb(var(--secondary-accent-color));
    color: white;
}

.bug-report-panel {
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: white;
    width: 400px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(153, 153, 153, 0.53);
    -moz-box-shadow: 0px 0px 3px 1px rgba(153, 153, 153, 0.53);
    box-shadow: 0px 0px 3px 1px rgba(153, 153, 153, 0.53);
    display: none;
}

.brp-type, .brp-summary, .brp-description {
    padding: 10px;
}

.brp-summary {
    border-top: 1px solid rgb(var(--secondary-accent-color));
    margin-bottom: -18px;
    #border-bottom: 1px solid var(--main-accent-color);
}

.brp-description {
    border-top: 1px solid rgb(var(--secondary-accent-color));
}

.bug-report-panel textarea {
    resize: none !important;
    border: none;
    font-size: 11pt !important;
}

.bug-report-panel textarea:focus, .bug-report-panel input:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bug-report-button {
    border-radius: 50%;
    padding-top: 6px;
    margin-right: 10px;
    background-color: rgb(var(--secondary-accent-color));
    opacity: 0.7;
    font-size: 18pt;
    color: white;
    width: 50px;
    height: 47px;
    text-align: center;
    float: right;
    margin-bottom: 5px;
}

.bug-report-button:hover {
    cursor: pointer;
    background-color: rgb(var(--secondary-accent-color));
    box-shadow: inset 0 0 0 99999px rgba(128,128,128,0.3) !important;
}

.brp-small-text {
    font-size: 9pt;
    padding: 10px;
    margin-top: -15px;
    border-top: rgb(var(--secondary-accent-color))
}

.brp-submit {
    height: 42px;
}

#submit-report-button {
    border-radius: 0 !important;
    font-size: 10pt;
    float: right;
    margin-right: 10px;
}

.close-brp-panel {
    float: right;
}

.close-brp-panel:hover {
    cursor: pointer;
    color: #ededed;
}

.brp-loading-panel {
    border-top: 1px solid rgba(var(--secondary-accent-color), 0.3);
    text-align: center;
    margin-bottom: 40px;
    padding-top: 15px;
}