.dashboard-close {
    float: right;
    margin-top: -40px;
    font-size: 20pt;
    background-color: var(--main-accent-color);
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

.dashboard-close:hover {
    cursor: pointer;
    color: var(--main-accent-color);
    background-color: #ffffff;
}
