.panel-wrapper {
    width: 400px;
}

.right-panel-header-healthyrivers {
    font-size: 17pt;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    min-height: 60px;
    background: white;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.healthyrivers-site-header {
    text-align: center !important;
    margin-bottom: 10px;
}

.healthyrivers-close-panel {
    position: fixed;
    right: 397px;
    top: 0;
}

.healthyrivers-icon-close {
    background-color: #ded241;
    color: black;
    border: none !important;
    width: 25px;
    line-height: 40px !important;
    font-size: 20pt;
}

.healthyrivers-site-summary {
    font-size: 11pt;
}

.healthyrivers-site-summary p {
    margin-bottom: 0;
    font-size: 10pt;
}

.healthyrivers-site-summary p:first-child {
    text-decoration: underline !important;
}

.healthyrivers-site-detail {
    text-align: center !important;
    margin-top: 25px;
}

.healthyrivers-site-detail {
    font-weight: bold;
}

.healthyrivers-site-detail table, .healthyrivers-site-detail tr, .healthyrivers-site-detail td {
    border: 1px solid lightgrey;
}

.healthyrivers-site-detail table {
    width: 100%;
}

.endemic-title {
    font-size: 30pt;
    font-weight: bolder;
    color: red;
}

.endemic-total {
    font-size: 24pt;
    color: grey;
}

.healthyrivers-site-detail td {
    padding: 10px 10px 0 0;
}

.healthyrivers-side-panel-footer {
    font-size: 16pt;
    padding: 5px;
}

.healthyrivers-side-panel-footer i {
    font-size: 25pt;
    line-height: 60px;
}