body {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    box-sizing: border-box; //to account for the border on top
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    position: relative;
}

.bg-primary {
    background-color: #526B43 !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

section {
    padding: 1rem 0;
    border-bottom: none !important;
}

#section-wrapper {
    box-sizing: border-box; //to account for the padding
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 100%;
    position: relative;
}

#fish-data {
    padding-top: 30px;
    min-height: 500px;
    padding-bottom: 150px;
}

#about {
    background-color: #333333;
    color: white;
    width: 100%;
    padding: 12px 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-shrink {
    background-color: rgba(170, 217, 147, 0.5) !important;
    transition: 0.3s;
}

::-moz-selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #212529;
    text-shadow: none;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    height: 400px !important;
    min-height: auto !important;
}

header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

header.masthead h1 {
    font-size: 2rem;
}

header.masthead p {
    font-weight: 300;
}

@media (min-width: 768px) {
    header.masthead p {
        font-size: 1.15rem;
    }
}

@media (min-width: 992px) {
    header.masthead {
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 4rem;
    }
}

#title-header {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
}

.title-header-buttons {
    height: 100%;
    width: 100%;
}

.title-header-buttons div {
    margin: 0 auto;
    margin-top: 250px;
    width: 250px;
    padding: 5px 10px;
    background-color: white;
    color: #1b900d;
    border: 2px solid #1b900d;
    text-align: left;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    .title-header-buttons div {
        margin-top: 200px
    }
    .carousel-title {
        display: none !important;
    }
}

#search-on-map {
    border: none;
    height: 30px;
    padding-top: 4px;
}

#search-on-map:focus {
    outline: none;
}

#search-on-map::placeholder {
    font-size: 10pt;
    font-style: italic;
}

.icon {
    font-size: 20px;
    font-weight: normal;
}

.title-header-buttons .btn {
    margin-top: 20px;
}

.login-carousel {
    margin-top: 250px !important;
}

#carouselIndicators {
    width: 100%;
    position: relative;
    height: 400px;
    overflow-y: hidden;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid white;
}

.chart-icon-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.fish-icon {
    width: 110px !important;
    height: 110px !important;
    position: absolute;
    margin-top: 40px;
    margin-left: -55px;
}

.bullet {
    width: 130px;
    height: 130px;
    border-radius: 75px;
    border: 1px solid #000;
    position: absolute;
    margin: 0;
    display: none;
    left: 75px;
    top: 30px;

  -webkit-box-shadow:
    0 0 0 5px #ffcc00,
    inset 0 0 0 5px #ffcc00;
  -moz-box-shadow:
    0 0 0 5px #ffcc00,
    inset 0 0 0 5px #ffcc00;
  -o-box-shadow:
    0 0 0 5px #ffcc00,
    inset 0 0 0 5px #ffcc00;
  box-shadow:
    0 0 0 5px #ffcc00,
    inset 0 0 0 5px #ffcc00;
}

.carousel-item {
	transition: -webkit-transform 500ms ease;
	transition: transform 500ms ease !important;
	-webkit-backface-visibility: visible;
	        backface-visibility: visible;
}

.service-box {
    max-width: 400px;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(240, 95, 64, 0.9);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.portfolio-box:focus {
    outline: none;
}

@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.text-primary {
    color: #526B43 !important;
}

html, body {
    margin: 0;
    width: 100%;
}

.crab {
    padding: 15px 0;
}

.algae {
    padding: 10px;
}

.donut-chart {
    position: absolute !important;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.btn-account {
    background-color: white;
    border-radius: 4px;
    margin: 10px;
    font-weight: normal;
    color: #1b900d;
    padding: 7px 22px;
    font-size: 11pt;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    border: 2px solid #1b900d;
}

.btn-account:hover {
    color: white;
    background-color: #1b900d;
}

.section-heading-container {
    border-bottom: 1px solid #1b900d;
    padding-bottom: 0;
    margin-bottom: 25px;
}

.section-heading {
    color: #1b900d;
    font-weight: lighter !important;
    font-size: 1.75em !important;
    margin-top: 0;
}

.total-data {
    padding-top: 60px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin-bottom: 0;
}

.total-data-desc {
    font-weight: 100;
    padding-bottom: 65px;
    font-size: 17px;
    color: #000;
    margin-bottom: 0;
}

.kartoza-icon {
    margin: auto auto;
}

.about-links {
    text-align: right;
    border-right: 1px solid #ffcc00;
}

.about-links>p {
    margin: 8px 0;
    font-size: 11pt;
    font-weight: lighter;
}

.about-links a {
    color: white !important;
}

.dropdown-toggle {
    color: transparent !important;
}

.carousel-title {
    margin-top: -30px;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 30px;
    width: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5)
}

.carousel-inner, .carousel-item {
    height: 100%;
}

.dashboard-data, .dashboard-row {
    justify-content: center !important;
}

.dashboard-row {
    margin-top: 20px;
}