.dashboard-title {
    border-bottom: 3px solid #1b900d;
    margin-bottom: 10px;
}

.site-form-close {
    float: right;
    font-size: 20pt;
    background-color: #526B43;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    margin-bottom: 5px;
}

.site-form-close:hover {
    cursor: pointer;
    color: #526B43;
    background-color: #ffffff;
}

.hr-normal {
    max-width: 100%;
    border-width: 1px;
    border-color: rgba(0,0,0,.1);
}

.carousel-inner {
    background-color: white;
    text-align: center;
}

.metadata-table {
    word-break: break-word;
}

.carousel-control-next, .carousel-control-prev {
    color: grey;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border: 0;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #1b900d;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #1b900d;
}

.carousel-indicators li {
    position: relative;
    background-color: #d2d2d2;
}

.carousel-indicators .active {
    background-color: #1b900d;
}
