body {
    font-family: "Roboto Condensed";
}

.container {
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width: 100% !important;
}

.row.side-panel.full-height {
    height: 100%;
}

#content-panel {
    margin: 0 10px 10px 0;
    font-size: 8pt;
    font-weight: normal;
    padding: 15px 30px 15px 15px;
    word-wrap: break-word;
    max-height: 85%;
    overflow-y: auto;
}

#content-panel p, .side-panel p {
    margin-bottom: 0 !important;
}

.text-yellow {
    color: #e0d441;
}

.text-bold {
    font-weight: bold;
}

.side-marker {
    font-size: 60pt;
    margin-top: 20px;
}

#number_site {
    font-weight: bold;
}

.right-panel-icon {
    width: 70px;
}

.panel-icons p {
    font-size: 11pt;
}

.right-panel > .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

html, body, .map, .map-wrapper, #map-container {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.right-panel {
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 250px;
    max-width: 400px;
    background: rgba(204, 204, 204, 0.7);
    color: #4e4e4e;
    z-index: 2000;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); /* Firefox 3.5 - 3.6 */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    border-radius: 0;
}

.title-side-panel {
    font-size: 10pt;
}

.search-result-info {
    padding: 15px;
    color: black !important;
    font-size: 10pt;
}

.right-panel-header {
    font-size: 17pt;
    padding-bottom: 5px;
    padding-left: 15px;
    height: 100px;
    background: rgba(255, 255, 255, 0.7);
}

.right-panel-title {
    padding-top: 10px;
    padding-left: 0;
}

.close-panel {
    float: right;
    padding-right: 30px;
    padding-top: 15px;
}

.close-panel:hover {
    cursor: pointer;
}

.map-control-panel {
    background-color: white;
    position: absolute;
    left: 0;
    top: 162px;
    transform: translateY(-50%);
    padding-left: 6px;
    padding-right: 6px;
    font-size: 18pt;
    text-align: center;
    color: #4e4e4e;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    margin-left: 31px;
    padding-top: 0;
    border-top: none;
    width: 54px;
}

.zoom-control {
    font-size: 11pt;
    padding: 7px 0;
    position: absolute;
    left: 0;
    top: 60px;
    background-color: rgba(219, 175, 0, 0.7);
    margin-left: 31px;
    border-radius: 0;
    color: white;
    width: 54px;
    height: 33px;
    z-index: 11;
    text-align: center;
    box-shadow: none;
}

.sub-zoom-control {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sub-zoom-control:hover {
    color: #323437 !important;
}

.sub-control-panel {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -6px;
    margin-right: -6px;
}

.control-panel-selected {
    background-color: #1b900d;
    padding-right: 0;
    color: white !important;
}

.sub-control-panel:hover, .sub-zoom-control:hover {
    cursor: pointer;
    color: #323437;
}

@media (max-width: 800px) and (min-width: 500px) {
    .right-panel {
        width: 40%;
    }
}

@media (max-width: 500px) {
    .right-panel {
        width: 100%;
    }
}

.green {
    color: #436461;
    font-size: 20pt;
    margin-bottom: 0;
}

.about-links {
    border-left: 2px solid #436461;
    padding: 15px 20px;
}

.about-links p {
    margin-bottom: 5px;
}

.dropdown-toggle {
    color: transparent;
}

.panel-loading {
    display: none;
    margin-top: 50px;
}

.panel-loading img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.map-control-panel-box {
    width: 265px;
    background-color: rgba(204, 204, 204, 0.4);
    position: absolute;
    top: 0;
    color: black;
    padding: 5px 15px;
    border: none;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: normal;
    border-radius: 0;
    margin-left: 85px;
    margin-top: 60px;
}

.layers-selector-container {
    display: none;
    padding-bottom: 0 !important;
}

#layers-selector {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

#layers-selector li {
    text-align: left;
    background: none;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    cursor: pointer;
}

#layers-selector li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.layer-selector-input {
    margin-right: 5px;
    cursor: pointer;
}

.layers-selector-container .content {
    border-top: 1px solid darkgray;
    margin-top: 3px;
}

.map-control-panel-box .title {
    font-size: 16pt;
    line-height: 20px;
}

.map-filter-title {
    margin-top: 20px;
    font-size: 16pt;
}

.map-control-panel-box .subtitle, .search-results-total {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    border: 1px solid grey;
}

.filter-icon-arrow {
    line-height: 18pt;
}

.filter-content {
    text-align: left;
    max-height: 300px;
    overflow-y: scroll;
}

.map-control-panel-box .close-button, .close-panel {
    cursor: pointer;
    padding: 0 5px;
    border: 2px solid black;
    font-size: 12pt;
    font-weight: bolder;
    line-height: 20px;
}

.map-control-panel-box .close-button:hover, .close-panel:hover {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: white !important;
}

.search-box {
    margin-top: 4px;
    width: 100%;
    height: 46px;
    background-color: #1b900d;
    padding-top: 4px;
    padding-bottom: 4px;
}

.search-info {
    text-align: left;
    font-size: 10pt;
}

.container-1 {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    width: 220px;
    height: 37px;
    background: #ffffff;
    border: none;
    font-size: 12pt;
    float: left;
    color: #596775;
    padding-left: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.container-1 input#search:focus {
    outline: none !important;
}

.container-1 input#search::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.search-arrow {
    line-height: 37px;
    margin-left: 4px;
    font-weight: bolder;
    font-size: 25pt;
    color: white !important;
    padding-left: 3px;
    padding-right: 3px;
}

.container-1 .icon {
    position: absolute;
    margin-left: 17px;
    margin-top: 10px;
    z-index: 1;
    color: #4f5b66;
}

.slide-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e0d441;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e0d441;
    cursor: pointer;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.layer-switcher {
    position: absolute;
    top: 258px !important;
    left: 0;
    right: auto !important;
    text-align: left;
    margin-left: 30px;
    cursor: pointer;
    padding: 0 !important;
}

.layer-switcher button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 41px !important;
    height: 41px !important;
    background-position: 6px !important;
    background-size: 32px;
}

.layer-switcher .panel {
    background-color: white;
    border: none !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 9px !important;
}

.layer-switcher ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.layer-switcher input {
    cursor: pointer;
}

.result-search {
    background-color: rgba(188, 188, 188, 0.15);
    padding: 5px;
    margin-bottom: 10px;
    overflow-x: hidden;
}

.result-search .group-title {
    font-style: italic;
    font-weight: 700;
    font-size: 9pt;
}

.result-search .group-description {

}

.result-search:hover {
    cursor: pointer;
}

#search-results-wrapper {
    height: 200px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 7px;
    display: none;
}

div:hover::-webkit-scrollbar {
    display: block;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: white;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
}

.search-results-total {
    font-weight: bold;
    font-size: 9pt;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 5px;
}

.search-results-total:hover {
    cursor: pointer;
}

#loading-warning, #fetching-error {
    position: absolute;
    padding: 10px;
    top: 10px;
    width: 100%;
    text-align: center;
    opacity: 0.3;
    display: none;
    z-index: 9999;
}

#fetching-error {
    opacity: 0.8;
}

#loading-warning span {
    background-color: grey;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.result-search:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.sub-filter {
    cursor: pointer;
}

.mouse-position {
    position: absolute;
    bottom: .5em;
    left: .5em;
    font-size: .7rem;
    color: #000;
    background: rgba(255, 255, 255, .8);

}

#fetching-error .try-again-button {
    color: blue;
    cursor: pointer;
}

#fetching-error span {
    background-color: red;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.mouse-position button {
    height: 1.375em;
    width: 1.375em;
    cursor: pointer;
}

.mouse-position.active {
    width: 117px;
}

.ol-mouse-position {
    top: 5px;
    left: 30px;
    position: absolute;
}

.date-filter {
    width: 71%;
}

.sub-filter .fa-angle-up {
    display: none;
}

#ui-datepicker-div {
    z-index: 9999 !important;
}

.search-arrow {
    cursor: pointer;
}

.search-arrow:hover {
    opacity: 0.5;
}

#popup {
    background-color: white;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 3px;
}

#popup:before, #popup:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -1px;
    width: 0;
    height: 0;
    border: solid transparent;
}

#popup:before {
    margin-left: -11px;
    border-width: 11px;
    border-top-color: #cccccc;

}

#popup:after {
    margin-left: -10px;
    border-width: 10px;
    border-top-color: #ffffff;
}

#popup td {
    border: 1px solid grey;
    font-size: 8pt;
    padding: 3px;
}

#popup tr td:first-child {
    font-weight: 700;
}