.dropdown-menu {
    margin-top: -7px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown-menu-left {
    margin-left: 13px;
}

.dropdown a:active {
    background-color: white !important;
}

.dropdown-menu a:active {
    background-color: #1b900d !important;
    color: #fff;
}

.dropdown-item {
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 15px;
    color: rgb(76, 76, 76);
    padding-right: 50px;
}

.close-dropdown {
    position: fixed;
    border: 2px solid white;
    font-size: 27pt;
    padding: 0 5px;
    top: 0;
    left: 0;
    color: white !important;
    z-index: 2005;
    line-height: 40px;
}

.close-dropdown:hover {
    color: black !important;
    background-color: white !important;
}

.right-nav-dropdown {
    text-align: right;
    margin-right: 11px;
}

.right-nav-dropdown .dropdown-item {
    padding-right: 30px !important;
}

.bims-title {
    position: fixed;
    top: 20px;
    left: 0;
    color: yellow;
    font-weight: lighter;
    width: 100%;
    z-index: 2004;
}

.bims-title-big {
    text-align: right;
    border-right: 2px solid yellow;
    font-size: 30px;
}

.bims-title-acc {
    text-align: left;
}

.bims-nav-footer {
    color: white !important;
    position: fixed;
    text-align: center;
    bottom: 5px;
    left: 0;
    width: 100%;
    z-index: 2006;
    line-height: 20px;
    border-top: 1px solid white;
    font-weight: bolder;
    padding-top: 5px;
    font-size: 10pt;
}

.bims-nav-footer a {
    font-size: 10pt;
}

.bims-nav-footer a:hover {
    color: yellow !important;
}

.bims-nav-footer img {
    vertical-align: top;
}

.user-icon {
    border: 3px solid rgb(76, 76, 76) !important;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: lighter;
    color: rgb(72, 72, 72) !important;
    background-color: white !important;
    font-size: 18pt !important;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    width: 55px;
    text-align: center;
}

#navbarResponsive .dropdown-menu {
  right: 0!important;
  left: auto !important;
}

.navbar-light .navbar-toggler {
    border: 2px solid black;
    background: rgba(255, 255, 255, 0.6);
}

.col-lg-6 {
    max-width: 50% !important;
}

.navbar-toggler {
    padding: .15rem .35rem;
}

@media screen and (max-width: 650px) {
    .user-icon {
        font-size: 20pt !important;
        width: 47px;
    }
    .dropdown-menu a {
        font-size: 15pt;
    }
    .dropdown-menu li {
        margin-top: 10px;
    }
    .bims-title-acc {
        line-height: 1.1rem;
        font-size: 0.7rem;
    }
    .close-dropdown {
        font-size: 20pt;
        line-height: 30px;
    }

    .bims-nav-footer a {
        font-size: 10pt !important;
    }
}