body {
    font-family: "Roboto Condensed";
}

tr:nth-child(odd) {background: #f5f5f5}

.pagination {
    text-align: center;
    margin-bottom: 25px;
}

.validate-action {
    text-align: center;
    color: orange
}

.edit-action a {
    text-align: center;
    color: cadetblue;
}

.validate-action:hover {
    color: #18A090;
}

.reject-action {
    text-align: center;
    color: #8a5f5d
}

.reject-action:hover {
    color: #8a2000;
}


.edit-action a:hover {
    color: darkblue;
}

.ready-validate-action:hover a {
    color: orange !important;
}

.site-link {
    color: cadetblue !important;
    cursor: pointer;
}

.site-link:hover {
    text-decoration: underline !important;
}

.title-heading {
    color: #a02246;
    font-size: 27pt;
}

.page-current a {
    color: cadetblue !important;
}

#popup {
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    font-size: 8pt;
}

#about {
    background-color: #aad993;
    color: white;
    width: 100%;
    padding: 12px 0;
}

.about-links {
    border-left: 1px solid white;
}

.about-links>p {
    margin: 0;
    font-size: 11pt;
}

.kartoza-icon {
    margin: auto auto;
}

select {
    background: none;
    border: 1px solid gainsboro;
}

.form-wrapper {
    border: 1px solid gainsboro;
    padding: 25px;
    border-radius: 2px;
}

#message-success {
    background: #eaffe8 !important;
    border: 1px solid #18A090 !important;
    border-radius: 5px;
    text-align: center !important;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20pt;
    line-height: 50px;
}

#map {
    height: 300px;
}

.ol-zoom {
    position: absolute;
    top: 5px;
    left: 5px;
}

.layer-switcher {
    top: 5px !important;
}

.enable-edit-map {
    position: absolute;
    top: 5px !important;
    left: 60px !important;
}

.selected > button {
    background-color: #16C020 !important;
}

.form-control-custom {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 3px 5px;
}

.header-wrapper {
    padding-top: 100px;
    font-size: 15pt;
    padding-bottom: 10px;
}

.header-wrapper hr {
    max-width: 100%;
}

.reference-wrapper {
    border: 1px solid gainsboro;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 10px;
}

.update-reference {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11pt;
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: 800px;
    }
}

.modal-body {
    max-height: 500px;
    overflow-y: auto;
}

.capitalize {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 20px;
    text-transform: capitalize;
}