body {
    font-family: "Roboto Condensed";
}

table, tr, th, td {
    border: 1px solid black;
    padding: 5px 10px;
}

th {
    background-color: lightgrey;
}

tr:nth-child(odd) {background: #f5f5f5}

.pagination {
    text-align: center;
    margin-bottom: 25px;
}

.validate-action {
    text-align: center;
    color: orange
}

.validate-action:hover {
    color: #1b900d;
}

.site-link {
    color: cadetblue !important;
    cursor: pointer;
}

.site-link:hover {
    text-decoration: underline !important;
}

.title-heading {
    color: #a02246;
    font-size: 27pt;
}

.page-current a {
    color: cadetblue !important;
}

#popup {
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    font-size: 8pt;
}
