body {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    position: relative;
}

.btn {
    border-radius: 2.5px;
    font-size: 14px;
}

.header {
    font-size: 15pt;
    padding-bottom: 10px;
}

#site-map {
    width: 100%;
    max-height: 500px;
    height: 500px;
    padding-bottom: 15px;
}

/* Loading overlay styles */
#loading {
    position: absolute;
    width: 600px;
    height: 400px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 400px;
    font-size: 24px;
}

#update-coordinate {
    margin-top: 2px;
}

.submit-holder {
    text-align: center;
}

.submit-button {
    text-align: center;
}

.btn {
    padding-left: 50px;
    padding-right: 50px;
}

label.error {
    color: red;
    font-size: 10pt;
}

.custom-control {
    top: 10px;
    right: 10px;
}

.custom-control button {
    height: 40px !important;
    width: 40px !important;
}

.ol-control-selected button {
    background-color: green !important;
}

.custom-control:hover button {
    background-color: green;
}

.ol-control-selected:hover button {
    background-color: rgba(0,60,136,.7);
}

.delete-image-btn {
    opacity: 0.8;
}

.image-buttons-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    padding-top: 10px;
}

.survey a {
    color: white;
    font-size: 10pt;
}


/* Loading overlay styles */
#map-loading {
    display: none;
    color: #444444;
    position: absolute;
    width: 100%;
    max-height: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.8);
    line-height: 500px;
    font-size: 24px;
    top: 0;
    left: 0;
    z-index: 999;
    justify-content: center;
}
#map-loading .loading-text {
    width: 300px;
}
#map-loading .loading-text::after {
    display: inline-block;
    animation: dotty steps(1,end) 1s infinite;
    content: '';
}
@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

#loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 2.5px;
    font-size: 16px;
    z-index: 1000;
}

#site-map {
    width: 100%;
    height: 100vh;
}