body {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    position: relative;
}

.btn {
    border-radius: 5px;
    font-size: 14px;
}

.body-form {
    padding-top: 100px;
    padding-bottom: 50px;
}

.header {
    font-size: 15pt;
    padding-bottom: 10px;
}

#site-map {
    width: 100%;
    max-height: 500px;
    height: 500px;
    padding-bottom: 15px;
}

#update-coordinate {
    margin-top: 2px;
}

.submit-holder {
    text-align: center;
}

.submit-button {
    text-align: center;
}

.btn {
    padding-left: 50px;
    padding-right: 50px;
}

label.error {
    color: red;
    font-size: 10pt;
}

.custom-control {
    top: 10px;
    right: 10px;
}

.custom-control button {
    height: 40px !important;
    width: 40px !important;
}

.ol-control-selected button {
    background-color: green !important;
}

.custom-control:hover button {
    background-color: green;
}

.ol-control-selected:hover button {
    background-color: rgba(0,60,136,.7);
}

.site-form-close {
    float: right;
    font-size: 20pt;
    background-color: #526B43;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    margin-bottom: 5px;
}

.site-form-close:hover {
    cursor: pointer;
    color: #526B43;
    background-color: #ffffff;
}

.delete-image-btn {
    opacity: 0.8;
}

.image-buttons-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    padding-top: 10px;
}

.survey a {
    color: white;
    font-size: 10pt;
}
