.card {
    margin-bottom: 10px;
}

.custom-control-label {
    max-width: 80%;
}

.reference-filter-title {
    margin-bottom: 0 !important;
    font-weight: bold;
}
.badge-occurrences {
    font-size: 9pt;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.badge-zero {
    background-color: #b8b8b8;
}
.reference-type-label {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10pt;
}
.active.active:hover {
    color: white;
}
.input-group-append:hover {
    cursor: pointer;
}
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
