{% extends 'main_base.html' %}
{% load static from staticfiles %}

{% block title %}
    Links
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing_page.css" %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,500,500i,700,700i|Roboto+Condensed:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% endblock %}

{% block body_content %}
    {% block content %}



    {% endblock %}
{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-easing/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/libs/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "js/libs/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "js/libs/chart/Chart-2.7.2.js" %}"></script>
    <script src="{% static "js/views/donut-chart.js" %}"></script>
    <script src="{% static "js/views/generate-donut-chart.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "js/creative.js" %}"></script>
{% endblock %}