{% extends 'main_base.html' %}
{% load static from staticfiles %}

{% block title %}
    Links
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing_page.css" %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <!-- Override styles -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <!-- Custom styles for this template -->
    <link href="{% static "css/landing_page.css" %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">

{% endblock %}

{% block body_content %}

    <style>
        body {
            margin-top: 5%;
            padding-bottom: 5%;
        }

        .not-active {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
        }
        #mainNav {
            margin-left: 10%;
        }
    </style>
  <body class="{% block page_class %}Bibliography ma
  nagement{% endblock page_class %}">
    {% block body %}
    <header id="page-header">
      <h1>
        <a href="#" class="not-active" style="color: #526B43 !important;">
          Bibliography
        </a>
        <span>
          Manage your references.
        </span>
      </h1>
    </header>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <div role="main">
      {% block content %}{% endblock content %}
    </div>

    {% block javascripts %}{% endblock javascripts %}
    {% endblock %}
  </body>


{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-easing/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/libs/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "js/libs/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "js/libs/chart/Chart-2.7.2.js" %}"></script>
    <script src="{% static "js/views/donut-chart.js" %}"></script>
    <script src="{% static "js/views/generate-donut-chart.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "js/creative.js" %}"></script>
{% endblock %}