# Specific configuration for development environment


# Exactly the same as production but for dev env, we expose the port and uses
# different port for the web.
version: '2'
services:

  db:
    volumes:
      #- ./pg/postgres_data:/var/lib/postgresql
      - ./backups:/backups
      - ./sql:/sql

  {% if 'db' in docker_port_forward.django %}

    ports:
      - "{{ docker_port_forward.django.db }}:5432"

  {% endif %}

  {% if 'elastic_search' in docker_port_forward.django %}

  elasticsearch:
    ports:
      - "{{ docker_port_forward.django.elastic_search }}:9200"

  {% endif %}

  dbbackups:
    volumes:
      - ./backups:/backups

  geoserver:
    environment:

      {% for key, value in geoserver.environment.iteritems() %}

      - {{ key }}={{ value }}

      {% endfor %}

  uwsgi:
    build:
      context: docker
      dockerfile: Dockerfile-dev
    environment:

      {% for key, value in django.environment.iteritems() %}

      - {{ key }}={{ value }}

      {% endfor %}

      {% for key, value in geonode.environment.iteritems() %}

      - {{ key }}={{ value }}

      {% endfor %}

    volumes:
      - ../../django-bims:/home/web/django_project
      - ./static:/home/web/static:rw
      - ./media:/home/web/media:rw
      - ./logs:/var/log/
      - ../.pycharm_helpers:/root/.pycharm_helpers
    ports:
      # for django test server
      - "{{ docker_port_forward.django.http }}:8080"
      # for ssh
      - "{{ docker_port_forward.django.ssh }}:22"
      # for karma tests
      - "{{ docker_port_forward.django.karma_tests }}:9876"

  web:
    volumes:
      - ./sites-enabled:/etc/nginx/conf.d:ro
      # I dont use volumes_from as I want to use the ro modifier
      - ./static:/home/web/static:ro
      - ./media:/home/web/media:ro
      - ./logs:/var/log/nginx
