{% extends 'main_base.html' %}

{% load static from staticfiles %}


{% block title %}
    Bibliography
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing_page.css" %}" rel="stylesheet">

{% endblock %}

{% block body_content %}
  {% block content %}

    <div id="content-wrapper">
	    <div id="left-sidebar" class="{% block left_sidebar_class %}{% endblock left_sidebar_class %}">
	        {% block left_sidebar_extras %}{% endblock left_sidebar_extras %}
	        {% block left_sidebar %}{% endblock left_sidebar %}
	    </div>

	    <div id="main-content" class="{% block main_content_class %}{% endblock main_content_class %}">
	        {% block main_content %}{% endblock main_content %}
	    </div>
	</div>
  {% endblock %}
{% endblock %}
{##}
{#{% block foot %}#}
{##}
{#    <!-- Plugin JavaScript -->#}
{#    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>#}
{#    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>#}
{#    <script src="{% static "js/libs/jquery-easing/jquery.easing.min.js" %}"></script>#}
{#    <script src="{% static "js/libs/scrollreveal/scrollreveal.min.js" %}"></script>#}
{#    <script src="{% static "js/libs/magnific-popup/jquery.magnific-popup.min.js" %}"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>#}
{#    <script src="{% static "js/views/donut-chart.js" %}"></script>#}
{#    <script src="{% static "js/views/generate-donut-chart.js" %}"></script>#}
{#	<script src="{% static 'td_biblio/javascripts/td_biblio.js' %}"></script>#}
{##}
{#    <!-- Custom scripts for this template -->#}
{#    <script src="{% static "js/creative.js" %}"></script>#}
{#{% endblock %}#}
