{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% block subtitle %}
    Site visit list
{% endblock %}
{% load humanize %}

{% block head %}

    <!-- Custom styles for this template -->
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="{% static "css/fish_form.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard_buttons.css" %}" rel="stylesheet">
    <style>
        .btn-sm {
            font-size: 10pt !important;
        }

        .counter {
            background-color: #efefef;
            padding: 0.1rem 0.5rem;
            border-radius: 3px;
        }

        .metric {
            font-size: 13pt;
            font-weight: lighter;
        }

        .metric > td {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    </style>

{% endblock %}

{% block body_content %}
    <div class="body-form container">
        <div class="dashboard-title">
            <h2>Site visits&nbsp;<span class="vertical-separator"></span>{{ page_obj.paginator.count|intcomma }} Result{% if page_obj.paginator.count > 1 %}s{% endif %}</h2>
{#            <div class="dashboard-close" data-destination="/map"><i#}
{#                    class="fa fa-times" aria-hidden="true"></i></div>#}
        </div>

        <div class="row">
            <div class="col-2">
                <h5>Metrics</h5>
                <div style="border-top: 1px solid rgba(0,0,0,0.28)">
                    <table style="width: 100%">
                        <tr class="metric">
                            <td>Site visits</td>
                            <td><span
                                    class="counter">{{ page_obj.paginator.count|intcomma }}</span>
                            </td>
                        </tr>
                        <tr class="metric">
                            <td>Sites</td>
                            <td><span
                                    class="counter">{{ total_sites|intcomma }}</span>
                            </td>
                        </tr>
                        <tr class="metric">
                            <td>Records</td>
                            <td><span
                                    class="counter">{{ total_records|intcomma }}</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <h5 style="margin-top: 20px;">Filters</h5>
                <div style="border-top: 1px solid rgba(0,0,0,0.28)"
                     class="filter-list">
                    <div class="filter-title">Collector/Owner</div>
                    <div class="filter-value">
                        <input type="text" class="form-control form-control-sm"
                               onClick="this.setSelectionRange(0, this.value.length)"
                               id="owner" placeholder="" name="owner" value="{% if collector_owner %}{% if collector_owner.0.get_full_name %}{{ collector_owner.0.get_full_name }}{% else %}{{ collector_owner.0.username }}{% endif %}{% endif %}"
                               required>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" style="width:200px">Site code/name</th>
                        <th scope="col">Collection date</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Collector</th>
                        <th scope="col">Total occurrences</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for site_visit in survey_list %}
                        <tr>
                            <td>{{ site_visit.site.location_site_identifier }}</td>
                            <td>{{ site_visit.date }}</td>
                            <td><a href="/profile/{{ site_visit.owner.username }}/">{{ site_visit.owner.get_full_name }}</a></td>
                            <td><a href="/profile/{{ site_visit.collector_user.username }}/">{{ site_visit.collector_user.get_full_name }}</a></td>
                            <td>{{ site_visit.total }}</td>
                            <td>
                                <a href="/site-visit/detail/{{ site_visit.id }}/"
                                   class="btn btn-primary btn-sm">View</a>
                                {% if user.is_superuser or site_visit.owner == user or site_visit.collector_user == user %}
                                    <a href="/site-visit/update/{{ site_visit.id }}/"
                                       class="btn btn-primary btn-sm">Edit</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if is_paginated %}
             <div class="paginator-wrapper">
                {% include 'paginator_template.html' %}
            </div>
        {% endif %}
    </div>
    {% include 'footer.html' %}
{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/utils/filter_list.js" %}"></script>

    <script>
        function dashboardClose(e) {
            let previousUrl = '/map'
            let url = new URL(window.location.href);
            let params = url.searchParams.toString();
            if (params && url.searchParams.has('taxon')) {
                previousUrl += '/#site-detail/';
                previousUrl += params;
                let regex = new RegExp("&page=\\d+|page=\\d+")
                previousUrl = previousUrl.replace(regex, '');
                window.location.href = previousUrl;
                return true;
            }
            window.location.href = previousUrl;
        }

        $(function () {
            $('.dashboard-close').click(dashboardClose);
            renderFilterList($('.filter-list'), false);
        });

        $('#owner').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/user-autocomplete/?term=' + encodeURIComponent(request.term),
                    type: 'get',
                    dataType: 'json',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.first_name + ' ' + item.last_name,
                                value: item.id
                            }
                        }));
                    }
                });
            },
            minLength: 3,
            open: function (event, ui) {
                setTimeout(function () {
                    $('.ui-autocomplete').css('z-index', 99);
                }, 0);
            },
            change: function (event, ui) {
                let value = $(event.target).val();
                if (value === '') {
                    let regex = new RegExp("collectors=\\[\\d*\\]");
                    let url = window.location.href;
                    if (url.search(regex) >= 1) {
                        url = url.replace(regex, `collectors=[]`);
                    }
                    window.location.href = url;
                }
            },
            select: function (e, u) {
                e.preventDefault();
                let userId = u.item.value;
                let regex = new RegExp("collectors=\\[\\d*\\]");
                let url = window.location.href;
                let pageRegex = new RegExp("&page=\\d+|page=\\d+")
                url = url.replace(pageRegex,'');
                if (url.search(regex) >= 1) {
                    url = url.replace(regex, `collectors=[${userId}]`);
                } else {
                    if (url[url.length - 1] !== '/') {
                        url += '&';
                    } else {
                        url += '?';
                    }
                    url += `collectors=[${userId}]`;
                }
                $('#owner').val(u.item.label);
                window.location.href = url;
            }
        });
    </script>
{% endblock %}
