{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% block subtitle %}
    Site visit list
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="{% static "css/fish_form.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard_buttons.css" %}" rel="stylesheet">
    <style>
        .btn-sm {
            font-size: 10pt !important;
        }
        .pagination-centered {
            text-align: center;
        }
        ul.pagination {
            display: flex;
            align-items: center;
            list-style: none;
        }
        ul.pagination li {
            display: inline-block;
            margin-left: 1rem;
        }
        ul.pagination li.arrow {
            font-size: 2rem;
        }
        ul.pagination li a {
            margin-right: 1rem;
        }
        ul.pagination li.current a {
            font-weight: bold;
            background-color: #18A090 !important;
            border-radius: 3rem;
            padding: 0.3rem 0.8rem;
            color: #fff;
        }
        .counter {
            background-color: #efefef;
            padding: 0.1rem 0.5rem;
            border-radius: 3px;
        }
        .metric {
            font-size: 13pt;
            font-weight: lighter;
        }
        .metric>td {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    </style>

{% endblock %}

{% block body_content %}
    <div class="body-form container">
        <div class="dashboard-title">
            <h2>Site visits</h2>
            <div class="dashboard-close" data-destination="/map"><i class="fa fa-times" aria-hidden="true"></i></div>
        </div>

        <div class="row">
            <div class="col-2">
                <h5>Metrics</h5>
                <div style="border-top: 1px solid rgba(0,0,0,0.28)">
                    <table style="width: 100%">
                        <tr class="metric">
                            <td>Site visits</td>
                            <td><span class="counter">{{ page_obj.paginator.count }}</span>
                            </td>
                        </tr>
                        <tr class="metric">
                            <td>Sites</td>
                            <td><span
                                    class="counter">{{ total_sites }}</span>
                            </td>
                        </tr>
                        <tr class="metric">
                            <td>Records</td>
                            <td><span
                                    class="counter">{{ total_records }}</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <h5 style="margin-top: 20px;">Filters</h5>
                <div style="border-top: 1px solid rgba(0,0,0,0.28)" class="filter-list">
                    <div class="filter-title">Collector/Owner</div>
                    <div class="filter-value">-</div>
                </div>
            </div>
            <div class="col-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Site code/name</th>
                        <th scope="col">Collection date</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Collector</th>
                        <th scope="col">Total occurrences</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for site_visit in survey_list %}
                        <tr>
                            <td>{{ site_visit.site.site_code }}</td>
                            <td>{{ site_visit.date }}</td>
                            <td>{{ site_visit.owner.get_full_name }}</td>
                            <td>{{ site_visit.collector_user.get_full_name }}</td>
                            <td>{{ site_visit.total }}</td>
                            <td>
                                <a href="/site-visit/detail/{{ site_visit.id }}/"
                                   class="btn btn-primary btn-sm">View</a>
                                {% if user.is_superuser or site_visit.owner == user or site_visit.collector_user == user %}
                                    <a href="/site-visit/update/{{ site_visit.id }}/"
                                       class="btn btn-primary btn-sm">Edit</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        {% if is_paginated %}
            <div class="pagination-centered">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="arrow"><a
                                href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                class="pagination">&laquo;</a></li>
                    {% endif %}
                    <li class="current">
                        <a href="">{{ page_obj.number }}</a>
                        {{ page_obj.start_index }} - {{ page_obj.end_index }}
                    </li>
                    {% if page_obj.has_next %}
                        <li class="arrow"><a
                                href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
                                class="pagination">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/non_requirejs/dashboard_buttons.js" %}"></script>
    <script src="{% static "js/utils/filter_list.js" %}"></script>

    <script>
        renderFilterList($('.filter-list'), false);
    </script>
{% endblock %}
