<!-- Modal -->
<div id="new-database-record-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="new-database-record-form" action="{% url 'source-reference-database' %}" method="post"
                  class="needs-validation" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">New Database Record</h4>
                </div>
                <div class="modal-body">
                    <div id="new-database-record-modal-error" class="alert alert-danger" role="alert"
                         style="display: none;">
                    </div>
                    <div class="form-group row">
                        <label for="database-name"
                               class="col-sm-2 col-form-label col-form-label"><b>Name</b></label>
                        <div class="col-sm-10">
                            <input id="database-name" type="text" class="form-control form-control-sm" name="name" maxlength="512" required>
                            <div id="database-name-error" class="alert alert-danger" role="alert"
                                 style="display: none;">Name is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="database-description"
                               class="col-sm-2 col-form-label col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea id="database-description" type="text" class="form-control form-control-sm" name="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="database-url"
                               class="col-sm-2 col-form-label col-form-label">Url</label>
                        <div class="col-sm-10">
                            <input id="database-url" type="url" class="form-control form-control-sm" name="url">
                            <div id="database-url-error" class="alert alert-danger" role="alert"
                                 style="display: none;">Url format is not correct
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.alert').hide()">Close</button>
                    <button id="new-database-record-upload" type="button" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    let newDatabaseRecordSubmitCallback = (response) => {

    };
    $(function () {
        let $form = $('#new-database-record-form');
        let $button = $('#new-database-record-upload');
        let $modal = $('#new-database-record-modal');
        let $error = $('#new-database-record-modal-error');
        $form.submit(function (e) {
            e.preventDefault();
            $('.alert-danger').hide();

            {# validation #}
            if (!$('#database-name').val()) {
                $('#database-name-error').show();
                return;
            }
            let databaseURL = $('#database-url').val();
            if (databaseURL && !isUrlValid(databaseURL)) {
                $('#database-url-error').show();
                return;
            }
            $modal.find('button').prop('disabled', true);
            $.ajax({
                type: 'POST',
                url: $form.attr('action'),
                data: new FormData(this),
                dataType: 'json',
                contentType: false,
                cache: false,
                processData: false,
                success: function (response) {
                    newDatabaseRecordSubmitCallback(response);
                    $modal.find('button').prop('disabled', false);
                    $modal.find('input').val('');
                    $('#new-database-record-modal').modal('toggle');
                },
                error: function (error) {
                    $error.show();
                    $error.html(error['responseText']);
                    $modal.find('button').prop('disabled', false);
                }
            });
            return false;
        });
        $button.click(function () {
            $form.submit();
        })
    });
</script>