{% extends 'main_base.html' %}
{% load static from staticfiles %}

{% block subtitle %}
    Links
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing_page.css" %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="{% static "css/links.css" %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">

{% endblock %}

{% block body_content %}

<section>
<div style="padding-top: 6%;">
          <div class="container" style="margin-bottom: 25px">
                <div class="row">
                  <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">LINKS PAGE</h2>
                  </div>
                </div>
              <div class="row">
                    {% for category in categories %}
                      <div class="col-lg-6">
                                <ul>
                                    <li class="nav-header title category-title" style="list-style-type: none;">
                                        <h3 class="category-name">{{ category.name }}
                                        <small><span class="badge badge-info">{{ category.link_set.count }}</span></small>
                                        </h3>
                                        <span class="category-description">
                                            {{ category.description }}
                                        </span>
                                    </li>
                                    {% for link in category.link_set.all %}
                                        <div class="list-group borderless">
                                            {% if link.url %}
                                                    <a href="{{ link.url }}" target="_blank"
                                                       class="list-group-item list-group-item-action flex-column align-items-start link-wrapper">
                                                        <span class="link-name">{{ link.name }}</span>
                                                        {% if link.description %}
                                                        <p class="link-description">
                                                            {{ link.description|truncatechars:65 }}
                                                        </p>
                                                        {% endif %}
                                                    </a>
                                                {% else %}
                                                    {{ link }}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </ul>
                          </div>
                  {% endfor %}
                 </div>
            </div>
          </div>
    </section>

   <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 pull-left kartoza-icon">
                    <a href="http://kartoza.com/en/">
                        <img src="{% static "img/kartoza-logo-only.png" %}" style="width: 70px">
                    </a>
                </div>
                <div class="col-lg-2 pull-right about-links">
                    <p><a>ABOUT</a></p>
                    <p><a>CONTACT</a></p>
                    <p><a>OTHER FOOTER INFO</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-easing/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/libs/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "js/libs/magnific-popup/jquery.magnific-popup.min.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "js/creative.js" %}"></sscript>
{% endblock %}