{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% load wagtailcore_tags %}
{% load jsonify %}

{% block subtitle %}
    {{ self.title }}
{% endblock %}

{% block head %}
    <style>
        .blog-content {
            margin-top: 125px;
        }
        .blog-title {
            font-size: 25pt;
            font-weight: bold;
        }
        hr {
           max-width: 100%;
        }
        .blog-body {
            padding-top: 20px;
            font-size: 15pt;
            font-weight: lighter;
        }
        .blog-info {
            font-size: 10pt;
        }
        .children-buttons {
            margin-bottom: -16px;
        }
        .children-buttons .btn {
            background-color: #18A090;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            font-size: 10pt;
        }
        .children-buttons .btn:hover {
            background-color: #0d8b81;
        }
    </style>
{% endblock %}

{% block body_content %}
    <div class="container blog-content">
        <nav class="breadcrumb-container" aria-label="breadcrumb"
             role="navigation">
            <div class="row">
                <div class="col-lg-12">
                    {% if self.get_ancestors %}
                        <ol class="breadcrumb">

                            <li><a href="/wagtail-pages/"><i class="fa fa-home"
                                                             aria-hidden="true"></i><span
                                    class="hidden"
                                    aria-hidden="false">Home</span></a></li>
                            {% for ancestor in self.get_ancestors|slice:"1:" %}
                                {% if forloop.last %}
                                    <li>&nbsp;>&nbsp;<a href="{% pageurl ancestor %}">{{ ancestor }}</a>
                                    </li>
                                {% else %}
                                    <li>&nbsp;>&nbsp;<a href="{% pageurl ancestor %}">{{ ancestor }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li class="active">&nbsp;>&nbsp;{{ self.title }}</li>
                        </ol>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="blog-title">
            {{ self.title | safe }}
        </div>
        {% if self.get_children.specific %}
        <div class="children-buttons">
        {% for page in self.get_children.specific %}
            <a class="btn btn-info" href="{{ page.url }}">{{ page.title }}</a>
        {% endfor %}
        </div>
        {% endif %}
        <hr/>
        <div class="blog-info">
            {% if self.owner %}
                {{ self.owner.first_name }} {{ self.owner.last_name }},
            {% endif %}
            {{ self.latest_revision_created_at }}
        </div>
        <div class="blog-body">
            {{ self.body | richtext }}
        </div>
    </div>
{% endblock %}

{% block foot %}
    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
{% endblock %}
