{% extends 'main_base.html' %}
{% load static %}
{% load grunt %}
{% load jsonify %}


{% block subtitle %}
    Map
{% endblock %}

{% block head %}
    <!-- Custom styles for this template -->
    <link href="{% static "css/map.css" %}" rel="stylesheet">
    <link href="{% static "css/loading.css" %}" rel="stylesheet">
    <link href="{% static "css/detailed_dashboard.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/ol-layerswitcher/ol3-layerswitcher.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/openlayers-10.2.0/ol.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/noUiSlider.11.1.0/nouislider.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/chosen/chosen.min.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/gridstack-1.1.2/gridstack.min.css" %}" rel="stylesheet">
    <link rel="stylesheet"
          href="{% static "lib/select2-4.1.0/css/select2.min.css" %}">
    <link href="{% static "css/bug_report_panel_style.css" %}" rel="stylesheet">
    <link href="{% static "css/filter-panel-info.css" %}" rel="stylesheet">

    {% if preferences.SiteSetting.default_data_source.lower == 'fbis' %}
       <style>
            #map-container {
                height: 100%;
                padding-bottom: 47px;
                padding-top:0 !important;
            }
            #zoom-control {
                top: 67px;
            }
            .map-control-panel, .download-control-panel {
                margin-top: 100px;
            }
            .map-control-panel-box {
                margin-top: 67px;
            }
       </style>
    {% endif %}
    <style>
        .select2-container--classic .select2-selection--multiple .select2-selection__choice {
            height: 25px !important;
        }
    </style>

    <script type="text/javascript">
        String.prototype.replaceAll = function(search, replacement) {
            let target = this;
            return target.split(search).join(replacement);
        };
        const max_year_filter = '{{ date_filter.max }}';
        const min_year_filter = '{{ date_filter.min }}';
        const baseMapLayers = {{ basemap_layers|jsonify|safe }};
        const mapTilerKey = '{{ map_tiler_key }}';
        const mapSurferKey = '{{ map_surfer_key }}';
        const geocontextUrl = '{{ geocontext_url }}';
        const geocontextCollectionKey = '{{ geocontext_collection_key }}';
        const listCollectorAPIUrl = '{% url "list-collector" %}';
        const listSourceCollectionAPIUrl = '{% url "data-source-descriptions" %}';
        const listReferenceAPIUrl = '{% url "list-reference" %}';
        const centerPointMap = '{{ center_point_map }}';
        const listCategoryAPIUrl = '{% url "list-date-category" %}';
        const listBoundaryAPIUrl = '{% url "list-boundary" %}';
        const listNonBiodiversityLayerAPIUrl = '{% url "list-non-biodiversity-layer" %}';
        const multiSitesOverviewDataUrl = '{% url "multi-location-sites-overview" %}';
        const multiSitesOverviewBackgroundUrl = '{% url "multi-location-sites-background-overview" %}';
        const collectionCategory = "{{ collection_category|safe }}";
        const csrfmiddlewaretoken = "{{ csrf_token }}";
        const biological_modules = "{{ biological_modules|safe }}";
        const filterFarmIDUrl = '{% url "filter-farm-id" %}';
        const getFarmUrl = '{% url "get-farm" 123456789 %}';
        const hideBimsInfo = {% if hide_bims_info %} true {% else %} false {% endif %};
        const hideBimsInfoUrl = '{% url "hide-popup-user" %}';
        const bimsInfoContent = {% if flatpage %} true {% else %} false {% endif %};
        const isHealthyrivers = {% if is_healthyrivers %} true {% else %} false {% endif %}
        const ogcServerDefaultLocation = "{{ OGC_SERVER.default.PUBLIC_LOCATION }}";
        const userCanValidate = "{% if can_validate %} true {% else %} false {% endif %}";
        const geoserverPublicUrl = '{{ geoserver_public_location }}';
        var filterParameters = {};
        const is_sass_enabled = {% if preferences.SiteSetting.enable_sass %}true{% else %}false{% endif %};
        const is_water_temperature_enabled = {% if preferences.SiteSetting.enable_water_temperature %}true{% else %}false{% endif %};
        const is_climate_enabled = {% if preferences.SiteSetting.enable_climate_data %}true{% else %}false{% endif %};
        const is_pesticide_dashboard_enabled = {% if preferences.SiteSetting.pesticide_quaternary_data_file %}true{% else %}false{% endif %};
        const locationSiteGeoserverLayer = '{{ preferences.SiteSetting.geoserver_location_site_layer }}';
        const defaultWMSSiteParameters = '{{ preferences.SiteSetting.default_location_site_cluster }}';
        const emptyWMSSiteParameter = 'public.empty_location_site_view';
        const isStaff = {% if user.is_superuser or user.is_staff %} true {% else %} false {% endif %};
        const isSuperUser = {% if user.is_superuser %} true {% else %} false {% endif %};
        const mapDefaultSelectedFilters = "{{ preferences.SiteSetting.map_default_filters | safe }}";
        const spatialFilterLayerStyle = '{{ preferences.SiteSetting.spatial_filter_layer_style }}';
        const defaultCenterMap = '{{ preferences.SiteSetting.default_center_map }}';
        const defaultExtentMap = '{{ preferences.SiteSetting.default_extent_map }}';
        const defaultBasemap = '{{ preferences.SiteSetting.default_basemap }}';
        const userID = {% if user.id %}{{ user.id }}{% else %}null{% endif %};
        const virtualMuseumExists = {% if preferences.SiteSetting.virtual_museum_source_filter != '' %} true {% else %} false {% endif %};
        const siteCodeGeneratorMethod = '{{ preferences.SiteSetting.site_code_generator }}';
        const filterPanelInfoAPIUrl = '{% url "filter-panel-info" %}';
    </script>
    {% block extra_head %}

    {% endblock %}
{% endblock %}

{% block body_content %}
    <div id="map-container"></div>
    <div id="general-info-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Biodiversity Information Management System (BIMS)</h5>
                    <button type="button" class="close close-info-popup">
                        <img src="{% static 'img/close_icon.svg' %}">
                    </button>
                </div>
                <div class="modal-body">
                    <article>
                        {{ flatpage.content|safe }}
                    </article>
                </div>
                <div class="modal-footer">
                    <input type="checkbox" name="dont-show-info"> <span>Do not show this again.</span>
                </div>
            </div>
        </div>
    </div>
    <div id="ripple-loading" style="display: none">
        <img src="{% static 'img/loading-spinner.gif' %}">
    </div>
    <div id="error-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Print Error</h5>
                    <button type="button" class="close close-info-popup" data-dismiss="modal">
                        <img src="{% static 'img/close_icon.svg' %}">
                    </button>
                </div>
                <div class="modal-body">
                    <center>Sorry we are unable to print your map.
                        <br/>There was a problem adding some third party layer(s) to the map.<br/>
                    Please try another basemap or another layer and reload the page.</center>
                </div>
            </div>
        </div>
    </div>

    <div id="ripple-loading" style="display: none">
        <img src="{% static 'img/loading-spinner.gif' %}">
    </div>
    <div id="error-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Print Error</h5>
                    <button type="button" class="close close-info-popup" data-dismiss="modal">
                        <img src="{% static 'img/close_icon.svg' %}">
                    </button>
                </div>
                <div class="modal-body">
                    <center>Sorry we are unable to print your map.
                        <br/>There was a problem adding some third party layer(s) to the map.<br/>
                    Please try another basemap or another layer and reload the page.</center>
                </div>
            </div>
        </div>
    </div>

    {# HERE ARE THE TEMPLATES AREA #}
    {% block additional_template %}
    {% endblock %}

    <script type="text/javascript">
        window.SEARCH_ICON_URL = "{% static 'img/search-query-icon.png' %}";
    </script>

    {% include 'map_page/map-templates.html' %}
    {% include 'map_page/search-panel-templates.html' %}
    {% include 'map_page/side-panel-templates.html' %}
    {% include 'map_page/dashboard-templates.html' %}
{% endblock %}

{% block foot %}
    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/canvas2svg.js" %}"></script>
    <script src="{% static "js/utils/svg_download.js" %}"></script>
{#    <script src="{% static "js/libs/openlayers-10.2.0/ol.js" %}"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/ol@v9.2.4/dist/ol.js"></script>
    <script src="https://unpkg.com/ol-pmtiles@2.0.2/dist/olpmtiles.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol-mapbox-style@12.6.1/dist/olms.js"></script>

    {% grunt_module "map_view" %}
    <script src="{% static "js/filter_panel_info.js" %}"></script>

{% endblock %}
