<script type="text/html" id="taxon-detail-dashboard-template">
    <div id="detailed-site-dashboard-wrapper">
        <div class="loading-dashboard">
            <img src="/static/img/small-loading.svg" width="250"
                 alt="Loading view">
            <div class="loading-dashboard-subtitle">
                Loading...
            </div>
        </div>
        <h2 class="dashboard-header" style="margin-left: 15px; margin-right: 15px">
            Taxon Dashboard
        </h2>
        <div class="detailed-dashboard-title">&nbsp;</div>
        <button class="btn btn-primary btn-dashboard close-dashboard"
                style="float: right"><i class="fa fa-times pull-right"></i>
        </button>
        <div class="container dashboard-wrapper">
            <div class="row">
                <div class="col-lg-4">
                    {# Distribution #}
                    <div class="row">
                        <div class="col-lg-12" id="fsdd-distribution">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-header-title pull-left d-inline">
                                        Distribution
                                    </div>
                                    <button id="export-taxasite-map"
                                            class="btn btn-default pull-right">
                                        <i
                                                class="fa fa-download"></i>
                                    </button>
                                </div>

                                <div class="card-body locationsite-map-wrapper">
                                    <div id="taxasite-map"
                                         class="map"
                                         style="height: 300px; width: 100%;">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {# Overview #}
                    <div class="row">
                        <div class="col-lg-12" id="fsdd-overview">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-header-title pull-left d-inline">
                                        Overview
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="overview-taxa-table dashboard-table">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# Names and Taxonomy #}
                    <div class="row">
                        <div class="col-lg-12" id="fsdd-names-and-taxonomy">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-header-title pull-left d-inline">
                                        Names and Taxonomy
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="overview-name-taxonomy-table"
                                         class="overview-name-taxonomy-table dashboard-table"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 dashboard-graph-wrapper">
                    <div class="row">
                        {# Records Per Area #}
                        <div class="col-lg-12" id="fsdd-records-per-area">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-header-title pull-left d-inline">
                                        Occurrences
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="records-per-area-taxonomy-table dashboard-table"
                                         style="margin-top: 10px; margin-bottom: 10px"></div>
                                    <div class="dashboard-table records-area-table" id="records-area-table"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {# Records-per-area chart #}
                        <div class="col-lg-12"
                             id="fsdd-records-per-area-chart">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-header-title pull-left d-inline">
                                        Occurrences
                                    </div>
                                    <button class="ssdd-export btn btn-default pull-right"
                                            data-datac="taxa-records-timeline-graph">
                                        <i class="fa fa-download"></i>
                                    </button>
                                </div>
                                <div class="card-body">
                                    <canvas id="taxa-records-timeline-graph"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {# orgin #}
                        <div class="col-md-12 col-lg-6" id="fsdd-orgin">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-header-title pull-left d-inline">
                                        Origin
                                    </div>
                                    <button class="ssdd-export btn btn-default pull-right"
                                            data-datac="origin-block-data">
                                        <i class="fa fa-download"></i>
                                    </button>
                                </div>
                                <div id="origin-block-data">
                                </div>

                            </div>
                        </div>
                        {# endemism #}
                        <div class="col-md-12 col-lg-6" id="fsdd-endemism">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-header-title pull-left d-inline">
                                        Endemism
                                    </div>
                                    <button class="ssdd-export btn btn-default pull-right"
                                            data-datac="endemism-block-data">
                                        <i class="fa fa-download"></i>
                                    </button>
                                </div>
                                <div id="endemism-block-data">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {# conservation-status #}
                        <div class="col-lg-12" id="fsdd-conservation-status">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-header-title pull-left d-inline">
                                        Conservation Status
                                    </div>
                                    <button class="ssdd-export btn btn-default pull-right"
                                            data-datac="fsdd-conservation-status-card">
                                        <i class="fa fa-download"></i>
                                    </button>
                                </div>
                                <div id="fsdd-conservation-status-card">
                                </div>
                                <a id="fsdd-iucn-link"
                                   target="_blank">
                                    <div class="iucn-species-page-link">
                                        IUCN species page
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {# Images #}
                        <div class="col-lg-12" id="fsdd-images">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-header-title pull-left d-inline">
                                        Images
                                    </div>
                                </div>
                                <div class="card-body"
                                     id="fsdd-images-card-body">

                                </div>
                            </div>
                        </div>
                    </div>
                    {#  Metadata table #}
                    <div class="row">
                        <div class="col-lg-12" id="sdd-metadata-table-list">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-header-title pull-left d-inline">
                                        Metadata Table
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table id="metadata-table-list-taxon"  class="table table-hover custom-table"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="taxon-overview-table">
    <div class="row">
        <div class="col-4 title_column">Taxon</div>
        <div class="col-8"><%= taxon_class %></div>
    </div>
    <div class="row">
        <div class="col-4 title_column">Common Name</div>
        <div class="col-8"><%= common_name %></div>
    </div>
    <div class="row">
        <div class="col-4 title_column">GBIF ID</div>
        <div class="col-8"><%= gbif_id %></div>
    </div>
    <div class="row">
        <div class="col-4 title_column">Records</div>
        <div class="col-8"><%= count %></div>
    </div>
    <div class="row">
        <div class="col-4 title_column">Sites</div>
        <div class="col-8"><a href='<%= csv_downloads_url %>'
                              style="text-decoration: underline; font-size: 11pt !important;">
            Download as CSV</a>
        </div>
    </div>
</script>

<script type="text/template" id="taxon-detail-table">
    <div class="container taxon-dashboard-detail table">
        <div class="row">
            <div class="col-4 title_column">Kingdom</div>
            <div class="col-8"><%= kingdom %></div>
        </div>
        <div class="row">
            <div class="col-4 title_column">Phylum</div>
            <div class="col-8"><%= phylum %></div>
        </div>
        <div class="row">
            <div class="col-4 title_column">Class</div>
            <div class="col-8"><%= my_class %></div>
        </div>
        <div class="row">
            <div class="col-4 title_column">Order</div>
            <div class="col-8"><%= order %></div>
        </div>
        <div class="row">
            <div class="col-4 title_column">Family</div>
            <div class="col-8"><%= family %></div>
        </div>
        <div class="row">
            <div class="col-4 title_column">Genus</div>
            <div class="col-8"><%= genus %></div>
        </div>
        <div class="row">
            <div class="col-4 title_column">Species</div>
            <div class="col-8"><%= species %></div>
        </div>
    </div>
</script>

<script type="text/html" id="detailed-site-dashboard">
    <div id="detailed-site-dashboard-wrapper">
        <div class="loading-dashboard">
            <img src="/static/img/small-loading.svg" width="250"
                 alt="Loading view">
            <div class="loading-dashboard-subtitle">
                Loading...
            </div>
        </div>
        <button class="btn btn-primary btn-dashboard close-dashboard"
                style="float: right; z-index: 10;"><i
                class="fa fa-times pull-right"></i>
        </button>

        <h2 class="dashboard-header">
            Site Dashboard
        </h2>
        <div class="container dashboard-wrapper row">
            <div class="col-lg-4">
                {# Filter History #}
                <div class="card" id="filter-history-wrapper">
                    <div class="card-header">
                        <div class="card-header-title pull-left d-inline"
                             style="height: 35px !important;">
                            Filter History
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="filter-history-table"></table>
                    </div>
                </div>
                {# Distribution #}
                <div class="card" id="fish-ssdd-distribution">
                    <div class="card-header">
                        <div class="card-header-title pull-left d-inline">
                            Distribution
                        </div>
                        <button
                                id="export-locationsite-map"
                                class="btn btn-default pull-right"
                                data-datac="locationsite-map">
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div id="locationsite-map"
                             class="locationsite-map-wrapper"
                             style="height: 300px; width: 100%;">
                        </div>
                    </div>
                </div>
                {# Overview #}
                <div class="card" id="fish-ssdd-overview">
                    <div class="card-header">
                        <div class="card-header-title pull-left d-inline">
                            Overview
                        </div>
                        <button class="ssdd-export btn btn-default pull-right"
                                data-datac="ssdd-overview-wrapper">
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                    {# Overview Site details #}
                    <div class="card-body" id="ssdd-overview-wrapper">
                        <div id="fish-ssdd-site-details">
                            <div class="col-12 sub-title site-details-header">
                                Site Details
                            </div>
                            <div class="col-12"
                                 id="overview"></div>
                            <div class="col-12 sub-title site-details-header">
                                River and Geomorphological Zone
                            </div>
                            <div class="col-12"
                                 id="river_and_geomorphological"></div>
                            <div class="col-12 sub-title site-details-header">
                                Catchments
                            </div>
                            <div class="col-12"
                                 id="catchments"></div>
                            <div class="col-12 sub-title site-details-header">
                                Management Areas
                            </div>
                            <div class="col-12"
                                 id="sub_water_management_areas"></div>
                            <div class="col-12 sub-title site-details-header">
                                Ecoregion and Province
                            </div>
                            <div class="col-12"
                                 id="sa-ecoregions"></div>
                        </div>
                        <div id="fish-ssdd-records-sites">
                            <div class="col-12 sub-title site-details-header">
                                Species and Occurences
                            </div>
                            <div class="col-12" id="records-sites">
                            </div>
                        </div>
                        <div class="occurrences-table-view">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6 sub-title site-details-header">
                                        Origin
                                    </div>
                                    <div class="col-6 sub-title site-details-header">
                                        Occurrences
                                    </div>
                                    <div class="col-12"
                                         id="origins">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="occurrences-table-view">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6 sub-title site-details-header">
                                        Endemism
                                    </div>
                                    <div class="col-6 sub-title site-details-header">
                                        Occurrences
                                    </div>
                                    <div class="col-12"
                                         id="ssdd-endemism">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="occurrences-table-view">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6 sub-title site-details-header">
                                        Conservation Status
                                    </div>
                                    <div class="col-6 sub-title site-details-header">
                                        Occurrences
                                    </div>
                                    <div class="col-12"
                                         id="ssdd-conservation-status">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# Occurence Data #}
                <div class="card" id="fish-ssdd-occurrence-data">
                    <div class="card-header">
                        <div class="card-header-title pull-left d-inline">
                            Occurrence Data
                        </div>
                        <button class="ssdd-export btn btn-default pull-right"
                                data-datac="occurrence-data">
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div id="occurrence-data">
                        </div>
                        <div class="container">
                            <button class="btn btn-info download-as-csv"
                                    style="width: 100%;">Download as CSV
                            </button>
                        </div>
                    </div>
                </div>

                <div class="sass-dashboard-button-container container" style="padding: 10px; text-align: center">
                    <a href="#" class="btn btn-info" id="sass-dashboard-button" style="display:none; font-size: 10pt;">Open SASS Dashboard</a>
                </div>

            </div>
            {# end of col-lg-4 #}
            <div class="col-lg-8">

                {# Site image #}
                <div class="card" id="ssdd-carousel-wrapper" style="display: none;">
                    <div class="card-body">
                        <div id="ssdd-site-image-carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                            </ul>
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                            </div>
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#ssdd-site-image-carousel" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#ssdd-site-image-carousel" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>

                {# Data Summary #}
                <div class="card" id="fish-ssdd-data-summary">
                    <div class="card-header">
                        <div class="card-header-title pull-left d-inline">
                            Occurrence Charts
                        </div>
                        <button class="ssdd-export btn btn-default pull-right"
                                data-datac="data-summary">
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div id="data-summary">
                            <div class="row fish-ssdd-legends">
                                <div class="col-3 fish-ssdd-legend"
                                     id="fish-ssdd-origin-legend"></div>
                                <div class="col-3 fish-ssdd-legend"
                                     id="fish-ssdd-endemism-legend"></div>
                                <div class="col-3 fish-ssdd-legend"
                                     id="fish-ssdd-cons_status-legend"></div>
                                <div class="col-3 fish-ssdd-legend"
                                     id="fish-ssdd-sampling_method-legend"></div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <canvas id="fish-ssdd-origin-pie"></canvas>
                                </div>
                                <div class="col-3">
                                    <canvas id="fish-ssdd-endemism-pie"></canvas>
                                </div>
                                <div class="col-3">
                                    <canvas id="fish-ssdd-conservation-status-pie"></canvas>
                                </div>
                                <div class="col-3">
                                    <canvas id="fish-ssdd-sampling-method-pie"></canvas>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 fish-ssdd-titles">
                                    Origin
                                </div>
                                <div class="col-3 fish-ssdd-titles">
                                    Endemism
                                </div>
                                <div class="col-3 fish-ssdd-titles">
                                    Conservation Status
                                </div>
                                <div class="col-3 fish-ssdd-titles">
                                    Sampling Method
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# Occurrences per year line chart #}
                <div class="card" id="fish-ssdd-occurrences-line-chart">
                    <div class="card-header">
                        <div class="card-header-title pull-left d-inline">
                            Occurrences
                        </div>
                        <button class="ssdd-export btn btn-default pull-right"
                                data-datac="fish-ssdd-occurrences-line-chart-canvas">
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="col-12 fish-ssdd-occurrences-line-chart">
                            <canvas id="fish-ssdd-occurrences-line-chart-canvas"></canvas>
                        </div>
                    </div>
                </div>

                {# Occurrences per year line chart #}
                <div class="card" id="fish-ssdd-taxa-occurrences-bar-chart">
                    <div class="card-header">
                        <div class="card-header-title pull-left d-inline">
                            Taxa
                        </div>
                        <button class="ssdd-export btn btn-default pull-right"
                                data-datac="fish-ssdd-taxa-occurrences-line-chart-canvas">
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="col-12 fish-ssdd-taxa-line-chart">
                            <div class="chart-loading">Fetching...</div>
                            <canvas id="fish-ssdd-taxa-occurrences-line-chart-canvas"></canvas>
                        </div>
                    </div>
                </div>

                {# origin per year bar chart #}
                <div class="card" id="fish-ssdd-origin-bar-chart">
                    <div class="card-header">
                        <div class="card-header-title pull-left d-inbar">
                            Origin
                        </div>
                        <button class="ssdd-export btn btn-default pull-right"
                                data-datac="fish-ssdd-origin-bar-chart-canvas">
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="col-12 fish-ssdd-origin-bar-chart">
                            <div class="chart-loading">Fetching...</div>
                            <canvas id="fish-ssdd-origin-bar-chart-canvas"></canvas>
                        </div>
                    </div>
                </div>

                {# endemism per year bar chart #}
                <div class="card" id="fish-ssdd-endemism-bar-chart">
                    <div class="card-header">
                        <div class="card-header-title pull-left d-inbar">
                            Endemism
                        </div>
                        <button class="ssdd-export btn btn-default pull-right"
                                data-datac="fish-ssdd-endemism-bar-chart">
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="col-12 fish-ssdd-endemism-bar-chart">
                            <div class="chart-loading">Fetching...</div>
                            <canvas id="fish-ssdd-endemism-bar-chart-canvas"></canvas>
                        </div>
                    </div>
                </div>

                {# cons-status per year bar chart #}
                <div class="card" id="fish-ssdd-cons-status-bar-chart">
                    <div class="card-header">
                        <div class="card-header-title pull-left d-inbar">
                            Conservation Status
                        </div>
                        <button class="ssdd-export btn btn-default pull-right"
                                data-datac="fish-ssdd-cons-status-bar-chart-canvas">
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="col-12 fish-ssdd-cons-status-bar-chart">
                            <div class="chart-loading">Fetching...</div>
                            <canvas id="fish-ssdd-cons-status-bar-chart-canvas"></canvas>
                        </div>
                    </div>
                </div>

                {# Metadata table #}
                <div class="card" id="ssdd-metadata-table">
                    <div class="card-header">
                        <div class="card-header-title pull-left d-inline">
                            Metadata Table
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="metadata-table-list" class="table table-hover custom-table">
                        </table>
                    </div>
                </div>

                {# chemical records bar chart #}
                <div class="card" id="ssdd-chem-chart-wrapper">
                    <div class="card-header">
                        <div class="card-header-title pull-left d-inbar">
                            Chemical Records
                        </div>
                        <button class="ssdd-export btn btn-default pull-right" id="chem-graph-export">
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="col-12 fish-ssdd-chem-bar-chart" id="fish-ssdd-chem-bar-chart">
                        </div>
                        <div class="container">
                            <button class="btn btn-info download-chem-csv"
                                    style="width: 100%;">Download as CSV
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</script>
