<script type="text/html" id="taxon-detail-dashboard-template">
    <div id="detailed-site-dashboard-wrapper" style="padding: 1rem;">
	<div class="loading-dashboard">
        <img src="/static/img/small-loading.svg" width="250"
             alt="Loading view">
        <div class="loading-dashboard-subtitle">
            Loading...
        </div>
    </div>
    <div class="detailed-dashboard-title">&nbsp;</div>
    <button class="btn btn-primary btn-dashboard close-dashboard"
            style="float: right"><i class="fa fa-times pull-right"></i>
    </button>
    <div class="container dashboard-wrapper">
		<div class="row">
			<div class="col-lg-4">
					{# Distribution #}
					<div class="row">
						<div class="col-lg-12" id="fsdd-distribution">
							<div class="card">
								<div class="card-header">
									<div class="card-header-title pull-left d-inline">
										Distribution
									</div>
									<button id="export-locationsite-map"
											class="btn btn-default pull-right">
										<i
												class="fa fa-download"></i>
									</button>
								</div>

								<div class="card-body locationsite-map-wrapper">
									 <div id="taxasite-map"
										  class="map"
										  style="height: 300px; width: 100%;">
									 </div>

								</div>
							</div>
						</div>
					</div>
					{# Overview #}
					<div class="row">
						<div class="col-lg-12" id="fsdd-overview">
							<div class="card">
								<div class="card-header">
									<div class="card-header-title pull-left d-inline"
									 	style="margin-top: 10px; margin-bottom: 10px">
										Overview
									</div>
								</div>
								<div class="card-body">
									 <div class="overview-taxa-table dashboard-table">
									 </div>
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="col-lg-8 dashboard-graph-wrapper">
				<div class="row">
					<div class="col-lg-12">
                        <h5 class="dd-title">Records per area</h5>
                        <div class="dashboard-table records-area-table"></div>
                    </div>
				</div>
			</div>
		</div>
	</div>
        <div class="container row">
            <div class="col-lg-4">
                <h5 class="dd-title" style="float: left">Distribution</h5>
                <button id="export-taxasite-map" style="float: right"
                        class="btn btn-default btn-element-download"><i
                        class="fa fa-download"></i></button>
                <div id="taxasite-map" class="map"
                     style="height: 300px; width: 100%; border: 1px solid black"></div>
                <h5 class="dd-title" style="margin-top: 15px">Overview</h5>
                <div class="overview-taxa-table dashboard-table"
                     style="margin-top: 10px; margin-bottom: 10px"></div>
                <h5 class="dd-title">Names & Taxonomy</h5>
                <div class="overview-name-taxonomy-table dashboard-table"
                     style="margin-top: 10px; margin-bottom: 10px"></div>
            </div>
            <div class="col-lg-8 dashboard-graph-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="dd-title">Records per area</h5>
                        <div class="dashboard-table records-area-table"></div>
                    </div>
                </div>
                <div class="row"
                     style="margin: 0 !important; margin-top: 15px !important;">
                    <div id="taxa-record-timeline-wrapper"
                         class="chart-wrapper"
                         style="border: 1px solid black; width: 95%; height: 200px">
                        <canvas id="taxa-records-timeline-graph" width="150px"
                                height="150px"></canvas>
                    </div>
                    <div style="width: 5%; ">
                        <button class="btn btn-default btn-element-download pull-right download-taxa-records-timeline"
                                style="float: left">
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                </div>
                <div class="row dd-sub-title">CONSERVATION STATUS</div>
                <div class="row dd-status-list conservation-status-list">
                    <span class="dd-status-item"
                          data-value="EX">Extinct (EX)</span>
                    <span class="dd-status-item" data-value="EW">Extinct in the wild (EW)</span>
                    <span class="dd-status-item" data-value="CR">Critically endangered (CR)</span>
                    <span class="dd-status-item" data-value="EN">Endangered (EN)</span>
                    <span class="dd-status-item" data-value="VU">Vulnerable (VU)</span>
                    <span class="dd-status-item" data-value="NT">Near threatened (NT)</span>
                    <span class="dd-status-item" data-value="LC">Least concern (LC)</span>
                    <span class="dd-status-item" data-value="DD">Data deficient (DD)</span>
                    <span class="dd-status-item" data-value="NE">Not evaluated (NE)</span>
                </div>
                <div class="row dd-sub-title">ORIGIN</div>
                <div class="row dd-status-list origin-info-list">
                    <span class="dd-status-item"
                          data-value="indigenous">Native</span>
                    <span class="dd-status-item"
                          data-value="alien">Non-native</span>
                    <span class="dd-status-item" data-value="translocated">Translocated</span>
                </div>
                <div class="row dd-sub-title">ENDEMISM</div>
                <div class="row dd-status-list endemic-info-list">
                    <span class="dd-status-item" data-value="widespread">Widespread</span>
                    <span class="dd-status-item" data-value="regional endemic">Regional endemic</span>
                    <span class="dd-status-item" data-value="micro-endemic">Micro-endemic</span>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="taxon-overview-table">
	<div class="row">
		<div class="col-4 title_column">Taxon</div>
		<div class="col-8"><%= taxon_class %></div>
	</div>
	<div class="row">
		<div class="col-4 title_column">Common Name</div>
		<div class="col-8"><%= common_name %></div>
	</div>
	<div class="row">
		<div class="col-4 title_column">GBIF ID</div>
		<div class="col-8"><%= gbif_id %></div>
	</div>
	<div class="row">
		<div class="col-4 title_column">Records</div>
		<div class="col-8"><%= count %></div>
   </div>
	<div class="row">
		<div class="col-4 title_column">Sites</div>
		<div class="col-8"><a href='<%= csv_downloads_url %>'
							  style="text-decoration: underline; font-size: 11pt !important;">
			Download as CSV</a>
		</div>
	</div>
</script>

<script type="text/template" id="taxon-detail-table">
    <table class="taxon-dashboard-detail table">
    </table>
</script>

<script type="text/html" id="detailed-site-dashboard">
    <div class="loading-dashboard">
        <img src="/static/img/small-loading.svg" width="250"
             alt="Loading view">
        <div class="loading-dashboard-subtitle">
            Loading...
        </div>
    </div>
    <button class="btn btn-primary btn-dashboard close-dashboard"
            style="float: right"><i class="fa fa-times pull-right"></i>
    </button>
    <div class="container dashboard-wrapper">
        <div style="height: 32px">
        <div style="height: 32px">
        </div>
        <div class="container row">
            <div class="col-lg-4">
                <div id="site-markers"></div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-header-title pull-left d-inline">
                            Overview
                        </div>
                        <button id="export-locationsite-map"
                                class="btn btn-default pull-right"><i
                                class="fa fa-download"></i></button>
                    </div>
                    <div class="card-body locationsite-map-wrapper">
                        <div id="locationsite-map" class="map"
                             style="height: 300px; width: 100%;"></div>
                        <div id="overview-dashboard-table"
                             class="dashboard-table"
                             style="margin-top: 10px; margin-bottom: 10px">
                            <table class="table">
                                <tr>
                                    <td id="site-name-label">Name</td>
                                    <td id="site-name"></td>
                                </tr>
                                <tr>
                                    <td>Total Records</td>
                                    <td id="total-records">0</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card" style="margin-top: 20px">
                    <div class="card-header">
                        <div class="pull-left d-inline">
                            Occurence data
                        </div>
                        <button class="btn btn-info download-as-csv pull-right">
                            Download as
                            CSV
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="dashboard-table">
                            <table id="occurence-table" class="table">
                                <tr>
                                    <th>Taxon</th>
                                    <th>Category</th>
                                    <th>Records</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                {% if is_sass_enabled %}
                      <div class="container-fluid sass-dashboard-button" style="padding-top: 20px; color: white; padding-left: 0; padding-right: 0">
                          <a class="btn right-panel-button right-panel-last-button fbis-button sass-button" style="margin: 0 !important;">Open SASS Dashboard</a>
                      </div>
                {% endif %}

            </div>
            <div class="col-lg-8" id="dashboard-graph-wrapper">
                <div class="card">
                    <div class="card-header">
                        <div class="d-inline card-header-title pull-left">
                            Collections Chart
                        </div>
                        <button class="btn btn-default pull-right download-origin-chart">
                            <i class="fa fa-download"></i></button>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid no-padding">
                            <div class="row detailed-table-chart">
                                <div class="col-md-4 no-padding">
                                    <canvas id="collection-category-graph"></canvas>
                                    <div class="chart-label">Origin</div>
                                </div>
                                <div class="col-md-4 no-padding">
                                    <canvas id="cons-status-graph"></canvas>
                                    <div class="chart-label">Cons status</div>
                                </div>
                                <div class="col-md-4 no-padding">
                                    <canvas id="sampling-method-graph"></canvas>
                                    <div class="chart-label">Sampling method
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row"
                     style="margin: 0 !important; margin-top: 15px !important;">
                    <div class="card full-width">
                        <div class="card-header">
                            <div class="d-inline card-header-title pull-left">
                                Records Timeline Graph
                            </div>
                            <button class="btn btn-default pull-right download-record-timeline">
                                <i class="fa fa-download"></i></button>
                        </div>
                        <div class="card-body">
                            <div id="record-timeline-wrapper"
                                 class="chart-wrapper">
                                <canvas id="records-timeline-graph"
                                        height="200px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"
                     style="margin: 0 !important; margin-top: 15px !important; margin-bottom: 20px !important;">
                    <div class="card full-width">
                        <div class="card-header">
                            <div class="d-inline card-header-title pull-left">
                                Collection Timeline Graph
                            </div>
                            <button class="btn btn-default pull-right download-collection-timeline">
                                <i class="fa fa-download"></i></button>
                        </div>
                        <div class="card-body">
                            <div id="collection-timeline-wrapper"
                                 class="chart-wrapper">
                                <canvas id="collection-timeline-graph"
                                        height="200px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


