<script type="text/html" id="taxon-detail-dashboard-template">
	<div id="detailed-site-dashboard-wrapper" style="padding: 1rem;">
		<div class="loading-dashboard">
			<img src="/static/img/small-loading.svg" width="250"
				 alt="Loading view">
			<div class="loading-dashboard-subtitle">
				Loading...
			</div>
		</div>
		<div class="detailed-dashboard-title">&nbsp;</div>
		<button class="btn btn-primary btn-dashboard close-dashboard"
				style="float: right"><i class="fa fa-times pull-right"></i>
		</button>
		<div class="container dashboard-wrapper">
			<div class="row">
				<div class="col-lg-4">
					{# Distribution #}
					<div class="row">
						<div class="col-lg-12" id="fsdd-distribution">
							<div class="card">
								<div class="card-header">
									<div class="card-header-title pull-left d-inline">
										Distribution
									</div>
									<button id="export-locationsite-map"
											class="btn btn-default pull-right">
										<i
												class="fa fa-download"></i>
									</button>
								</div>

								<div class="card-body locationsite-map-wrapper">
									<div id="taxasite-map"
										 class="map"
										 style="height: 300px; width: 100%;">
									</div>

								</div>
							</div>
						</div>
					</div>
					{# Overview #}
					<div class="row">
						<div class="col-lg-12" id="fsdd-overview">
							<div class="card">
								<div class="card-header">
									<div class="card-header-title pull-left d-inline">
										Overview
									</div>
								</div>
								<div class="card-body">
									<div class="overview-taxa-table dashboard-table">
									</div>
								</div>
							</div>
						</div>
					</div>
					{# Names and Taxonomy #}
					<div class="row">
						<div class="col-lg-12" id="fsdd-names-and-taxonomy">
							<div class="card">
								<div class="card-header">
									<div class="card-header-title pull-left d-inline">
										Names and Taxonomy
									</div>
								</div>
								<div class="card-body">
									<div id="overview-name-taxonomy-table" class="overview-name-taxonomy-table dashboard-table"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 dashboard-graph-wrapper">
					<div class="row">
						{# Records Per Area#}
						<div class="col-lg-12" id="fsdd-records-per-area">
							<div class="card">
								<div class="card-header">
									<div class="card-header-title pull-left d-inline">
										Occurrence Records
									</div>
								</div>
								<div class="card-body">
									<div class="records-per-area-taxonomy-table dashboard-table"
										 style="margin-top: 10px; margin-bottom: 10px"></div>
									<div class="dashboard-table records-area-table"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						{# Records-per-area chart #}
						<div class="col-lg-12" id="fsdd-conservation-status">
							<div class="card">
								<div class="card-header">
									<div class="card-header-title pull-left d-inline">
										Occurrences
									</div>
								</div>
								<div class="card-body">
									<canvas id="taxa-records-timeline-graph"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						{# orgin #}
						<div class="col-lg-12" id="fsdd-orgin">
							<div class="card">
								<div class="card-header">
									<div class="card-header-title pull-left d-inline">
										Origin
									</div>
								</div>
								<div class="card-body">
									<div class="row dd-status-list origin-info-list">
                    				<span class="dd-status-item"
										  data-value="indigenous">Native</span>
										<span class="dd-status-item"
											  data-value="alien">Non-native</span>
										<span class="dd-status-item"
											  data-value="translocated">Translocated</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						{# endemism #}
						<div class="col-lg-12" id="fsdd-endemism">
							<div class="card">
								<div class="card-header">
									<div class="card-header-title pull-left d-inline">
										Endemism
									</div>
								</div>
								<div class="card-body">
									<div class="row dd-status-list endemic-info-list">
									<span class="dd-status-item"
										  data-value="widespread">Widespread</span>
										<span class="dd-status-item"
											  data-value="regional endemic">Regional endemic</span>
										<span class="dd-status-item"
											  data-value="micro-endemic">Micro-endemic</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						{# conservation-status #}
						<div class="col-lg-12" id="fsdd-conservation-status">
							<div class="card">
								<div class="card-header">
									<div class="card-header-title pull-left d-inline">
										Conservation Status
									</div>
								</div>
								<div class="card-body">
									<div class="row dd-status-list conservation-status-list">
								<span class="dd-status-item"
									  data-value="EX">Extinct (EX)</span>
										<span class="dd-status-item"
											  data-value="EW">Extinct in the wild (EW)</span>
										<span class="dd-status-item"
											  data-value="CR">Critically endangered (CR)</span>
										<span class="dd-status-item"
											  data-value="EN">Endangered (EN)</span>
										<span class="dd-status-item"
											  data-value="VU">Vulnerable (VU)</span>
										<span class="dd-status-item"
											  data-value="NT">Near threatened (NT)</span>
										<span class="dd-status-item"
											  data-value="LC">Least concern (LC)</span>
										<span class="dd-status-item"
											  data-value="DD">Data deficient (DD)</span>
										<span class="dd-status-item"
											  data-value="NE">Not evaluated (NE)</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="taxon-overview-table">
    <table class="table">
        <tr>
            <td>Taxon</td>
            <td><%= taxon_class %></td>
        </tr>
        <tr>
            <td>GBIF ID</td>
            <td><%= gbif_id %></td>
        </tr>
        <tr>
            <td>Records</td>
            <td><%= count %> <a href='<%= csv_downloads_url %>'
                                style="text-decoration: underline; font-size: 11pt !important;">Download
                as CSV</a></td>
        </tr>
    </table>
</script>

<script type="text/template" id="taxon-detail-table">
	<div class="container taxon-dashboard-detail table">
		<div class="row">
			<div class="col-4 title_column">Kingdom</div>
			<div class="col-8"><%= kingdom %></div>
		</div>
		<div class="row">
			<div class="col-4 title_column">Phylum</div>
			<div class="col-8"><%= phylum %></div>
		</div>
		<div class="row">
			<div class="col-4 title_column">Class</div>
			<div class="col-8"><%= my_class %></div>
		</div>
		<div class="row">
			<div class="col-4 title_column">Order</div>
			<div class="col-8"><%= order %></div>
		</div>
		<div class="row">
			<div class="col-4 title_column">Family</div>
			<div class="col-8"><%= family %></div>
		</div>
		<div class="row">
			<div class="col-4 title_column">Genus</div>
			<div class="col-8"><%= genus %></div>
		</div>
		<div class="row">
			<div class="col-4 title_column">Species</div>
			<div class="col-8"><%= species %></div>
		</div>
	</div>
</script>

<script type="text/html" id="detailed-site-dashboard">
	<div class="loading-dashboard">
		<img src="/static/img/small-loading.svg" width="250"
			 alt="Loading view">
		<div class="loading-dashboard-subtitle">
			Loading...
		</div>
	</div>
	<button class="btn btn-primary btn-dashboard close-dashboard"
			style="float: right; z-index: 10;"><i class="fa fa-times pull-right"></i>
	</button>
	<div class="container dashboard-wrapper">
		<div class=" row">
			<div class="col-lg-4">
				{# Distribution #}
				<div class="row">
					<div class="col-lg-12" id="fish-ssdd-distribution">
						<div class="card">
							<div class="card-header">
								<div class="card-header-title pull-left d-inline">
									Distribution
								</div>
								<button id="export-locationsite-map"
										class="btn btn-default pull-right">
									<i
											class="fa fa-download"></i>
								</button>
							</div>
							<div class="card-body locationsite-map-wrapper">
								<div id="locationsite-map"
									 class="map"
									 style="height: 300px; width: 100%;">
								</div>

							</div>
						</div>
					</div>
				</div>
				{# Overview #}
				<div class="row" id="#fish-ssdd-site-details">
					<div class="col-lg-12" id="fish-ssdd-overview">
						<div class="card">
							<div class="card-header">
								<div class="card-header-title pull-left d-inline">
									Overview
								</div>
							</div>
							{# Overview Site details #}
							<div class="card-body"
								 id="fish-ssdd-site-details">
								<div class="col-12"
									 id="overview"></div>
								<div class="col-12 sub-title site-details-header">
									Catchments
								</div>
								<div class="col-12"
									 id="catchments"></div>
								<div class="col-12 sub-title"
									 class="site-details-header">
									Water Management Areas
								</div>
								<div class="col-12"
									 id="sub_water_management_areas"></div>
								<div class="col-12 sub-title"
									 class="site-details-header">
									SA Ecoregion
								</div>
								<div class="col-12"
									 id="sa-ecoregions"></div>

							</div>
							<div class="card-body"
								 id="fish-ssdd-records-sites">
								<div class="col-12 sub-title site-details-header">
									Records and Sites
								</div>
								<div class="col-12" id="records-sites">

								</div>
							</div>
							<div class="card-body"
								 id="fish-ssdd-origins">
								<div class="col-12">
									<div class="row">
										<div class="col-6 sub-title site-details-header">
											Origin
										</div>
										<div class="col-6 sub-title site-details-header">
											Number of occurrence
											records
										</div>
										<div class="col-12"
											 id="origins">
										</div>

									</div>
								</div>
							</div>
							<div class="card-body"
								 id="fish-ssdd-conservation-status">
								<div class="col-12">
									<div class="row">
										<div class="col-6 sub-title site-details-header">
											Conservation Status
										</div>
										<div class="col-6 sub-title site-details-header">
											Number of occurrence records
										</div>
										<div class="col-12"
											 id="ssdd-conservation-status">

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">

						</div>
					</div>
				</div>
				{# Occurence Data #}
				<div class="row">
					<div class="col-lg-12" id="fish-ssdd-occurrence-data">
						<div class="card">
							<div class="card-header">
								<div class="card-header-title pull-left d-inline">
									Occurence Data
								</div>
							</div>
							<div class="card-body">
								<div id="occurrence-data">

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-lg-8 dashboard-graph-wrapper"></div>
		</div>
	</div>
</script>
