{% load static from staticfiles %}
<!-- IntroJs -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js"></script>
<script type="text/javascript" src="{% static "js/views/introjs-tutorial.js" %}"></script>

<script type='text/html' id='map-template'>

    <div id="map" class="map"></div>
    <div id="loading-warning"><span>LOADING....</span></div>
    <div id="footer-message"><span>Additional Info</span></div>
    <div id="fetching-error">
            <span class="try-again">Error when fetching data, please try again.
                <a class="try-again-button">refresh</a>.
                <a class="call-administrator">If this error still persists, please call administrator.</a>
            </span>
    </div>
    <div class="ol-control mouse-position">
        <button type="button"><i class="fa fa-globe"></i></button>
        <div id="mouse-position-wrapper" style="display: none"></div>
    </div>
    <div class="ol-control" id="taxon-filter">
    </div>
    <div id="popup"></div>
    <div id="map-legend-wrapper" class="control-drop-shadow hide-legend"
         data-toggle="tooltip" data-placement="bottom"
         data-original-title="Show legends" data-html="true">
        <div id="map-legend-symbol">L</div>
        <div id="map-legend" style="display: none"></div>
    </div>
    <div id="start-tutorial" class="map-legend-symbol control-drop-shadow
    hide-legend" data-toggle="tooltip" data-placement="bottom"
         data-original-title="Start tutorial" data-html="true">
        <span id="tutorial-symbol">?</span>
        <div id="tutorial" style="display: none"></div>
    </div>
</script>

<script type="text/template" id="records-list-detail">
    <div class="result-search records-list-wrapper" data-search-result-id="">
    </div>
</script>

<script type="text/template" id="species-template">
    <div id="species-detail-wrapper">
        <div id="species-detail">
            <div id="species-detail-summary-head-table">
                <table>
                    <tr class="species-detail-row">
                        <td class="species-detail-cell cell-header">
                            Taxon
                        </td>
                        <td class="species-detail-cell cell-content">
                            <%= scientific_name %>
                        </td>
                    </tr>
                    <tr class="species-detail-row">
                        <td class="species-detail-cell cell-header">
                            Common Name
                        </td>
                        <td class="species-detail-cell cell-content">
                            <%= canonical_name %>
                        </td>
                    </tr>
                    <tr class="species-detail-row">
                        <td class="species-detail-cell cell-header">
                            Number of occurrence records
                        </td>
                        <td class="species-detail-cell cell-content">
                            <%= count %>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="species-detail-summary-origin">
                <div class="row dd-sub-title">ORIGIN</div>
                <div class="row dd-status-list origin-info-list-detail">
                <span class="dd-status-item"
                      data-value="Native">Native</span>
                    <span class="dd-status-item"
                          data-value="Non-native">Non-native</span>
                    <span class="dd-status-item"
                          data-value="Translocated">Translocated</span>
                </div>
            </div>
            <div id="species-detail-summary-endemism">
                <div class="row dd-sub-title">ENDEMISM</div>
                <div class="row dd-status-list endemic-info-list-detail">
                </div>
            </div>
            <div id="species-detail-summary-conservation-status">
                <div class="row dd-sub-title">CONSERVATION STATUS</div>
                <div class="row dd-status-list conservation-status-list-detail">
                <span class="dd-status-item"
                      data-value="EX">Extinct (EX)</span>
                    <span class="dd-status-item" data-value="EW">Extinct in the wild (EW)</span>
                    <span class="dd-status-item" data-value="CR">Critically endangered (CR)</span>
                    <span class="dd-status-item"
                          data-value="EN">Endangered (EN)</span>
                    <span class="dd-status-item"
                          data-value="VU">Vulnerable (VU)</span>
                    <span class="dd-status-item" data-value="NT">Near threatened (NT)</span>
                    <span class="dd-status-item" data-value="LC">Least concern (LC)</span>
                    <span class="dd-status-item" data-value="DD">Data deficient (DD)</span>
                    <span class="dd-status-item" data-value="NE">Not evaluated (NE)</span>
                </div>
            </div>
             <div class="container-fluid">
                <button id="open-detailed-view"
                        class="btn fbis-button right-panel-button right-panel-last-button">
                    Open detailed dashboard
                </button>
            </div>
        </div>

    </div>
</script>

{# Biodiversity legend #}
<script type="text/template" id="biodiversity-legend">
    <div class="bio-legend-wrapper">
        <div class="bio-legend-container">
            <div class="bio-legend-title">
                Sites Legend
            </div>
            <div class="bio-legend-content">
                <div class="row">
                    <div class="col-2 bio-legend-color bio-one-site"></div>
                    <div class="col-8">1 site</div>
                </div>
                <div class="row">
                    <div class="col-2 bio-legend-color bio-cluster-low"></div>
                    <div class="col-8">1 - 10</div>
                </div>
                <div class="row">
                    <div class="col-2 bio-legend-color bio-cluster-normal"></div>
                    <div class="col-8">10 - 100</div>
                </div>
                <div class="row">
                    <div class="col-2 bio-legend-color bio-cluster-high"></div>
                    <div class="col-8">100 - 500</div>
                </div>
                <div class="row">
                    <div class="col-2 bio-legend-color bio-cluster-max"></div>
                    <div class="col-8">500 up</div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="validate-data-list-container">
    <div class="refresh-list-wrapper">
        <button class="refresh-list"><i class="fa fa-refresh"
                                        aria-hidden="true"></i> Refresh data
        </button>
    </div>
    <div class="validate-wrapper">
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination validate-data-pagination">
            <li class="page-item"><a class="page-link previous" href="#">Previous</a>
            </li>
            <li class="page-item"><a class="page-link next" href="#">Next</a>
            </li>
        </ul>
    </nav>
</script>

<script type="text/template" id="validate-data-detail-container">
    <div class="validate-data-detail-wrapper" data-id="<%= id %>">
        <div class="container">
            <div class="validate-data-header">
                <div class="detail-container-title">
                    Species Name
                </div>
                <p> <%= original_species_name %> </p>
                <div class="detail-container-title"> Collection Date</div>
                <p> <%= collection_date %> </p>
                <div class="detail-container-title"> Uploader</div>
                <p> <%= owner %> ( <a
                        href="mailto:<%= owner_email %>?Subject=Question%20for%20contributor"
                        target="_top"><%= owner_email %></a> ) </p>
            </div>
        </div>
        <div class="detail-container container">
            <div class="detail-container-title"> Notes</div>
            <div> <%= notes %></div>
            <div class="detail-container-title"> Category</div>
            <div> <%= category %></div>
            <div class="detail-container-title"> Custodian</div>
            <div> <%= institution_id %></div>
            <div class="detail-container-title"> Taxon Class</div>
            <div> <%= taxonomy.taxon_class %></div>
        </div>
        <div class="detail-container-buttons">
            <button class="show-map-button">Show in map</button>
            <button class="show-detail">Show detail</button>
            <button class="hide-detail">Hide detail</button>
            <button class="accept-data">Accept</button>
            <button class="reject-data">Reject</button>
            <button class="edit-data">Edit Data</button>
        </div>
        <div class="validate-data-action">
            <p>
                Are you sure you want to accept this data?
            </p>
            <button class="accept-validate">Yes</button>
            <button class="cancel-validate">Cancel</button>
        </div>
        <div class="reject-data-action">
            <p>
                Reasons for rejection (optional)
            </p>
            <textarea class="rejection-message"></textarea>
            <button class="accept-reject">Submit</button>
            <button class="cancel-reject">Cancel</button>
        </div>
    </div>
</script>
