<script type='text/html' id='map-template'>
    <div id="map" class="map"></div>
    <div id="loading-warning"><span>LOADING....</span></div>
    <div id="footer-message"><span>Additional Info</span></div>
    <div id="fetching-error">
            <span class="try-again">Error when fetching data, please try again.
                <a class="try-again-button">refresh</a>.
                <a class="call-administrator">If this error still persists, please call administrator.</a>
            </span>
    </div>
    <div class="ol-control mouse-position">
        <button type="button"><i class="fa fa-globe"></i></button>
        <div id="mouse-position-wrapper" style="display: none"></div>
    </div>
    <div class="ol-control" id="taxon-filter">
    </div>
    <div id="popup"></div>
    <div id="map-legend-wrapper" class="control-drop-shadow show-legend" data-toggle="tooltip" data-placement="bottom" title="Show legends">
        <div id="map-legend-symbol">L</div>
        <div id="map-legend"></div>
    </div>
</script>
<script type='text/html' id='side-panel-template'>
    <div class="right-panel">
        <div class="row side-panel side-panel-info">
            <div class="col-lg-12" id="content-panel">
            </div>
        </div>
        <div class="right-panel-header">
            <div class="pull-right">
                <i class="fa fa-window-close-o close-panel header-panel-button"></i>
            </div>
            <div class="pull-left">
                <i class="fa fa-caret-square-o-left return-panel header-panel-button"></i>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <span class="right-panel-title"></span>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="map-search-container">
    <div class="map-search-box map-control-panel-box">
        <div class="row">
            <div class="col-lg-12" style="padding-right: 0">
                <div class="close-button search-reset pull-left">
                    Reset
                </div>
                <span class="title">
                        SEARCH
                    </span>
                <div class="close-button map-search-close pull-right">
                    X
                </div>
            </div>
        </div>
        <div class="row">
            <div class="search-box">
                <div class="container-1">
                    <input type="search" id="search" placeholder="Search..."><span class="search-arrow"><i class="fa fa-angle-right"></i></span>
                </div>
            </div>
            <div id="search-error-text">Minimal 3 character or empty.</div>
        </div>
        <div class="row">
            <div class="col-lg-12 search-info">
                Refine your search by using the filters below.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 map-filter-title">
                FILTERS
            </div>
        </div>

        {% if modules_exists %}
        <div class="row sub-filter">
            <div class="col-lg-12 subtitle">
                MODULE <i class="fa fa-angle-up pull-right filter-icon-arrow"></i><i class="fa fa-angle-down pull-right filter-icon-arrow"></i>
            </div>
        </div>
        <div class="row module-filters" style="display: none;"  data-toggle="tooltip" data-placement="top" title="Coming Soon">
            <div class="col-lg-4 not-ready"><img src="/static/img/fish-2.svg"></div>
            <div class="col-lg-4 not-ready"><img src="/static/img/invertebras-2.svg"></div>
            <div class="col-lg-4 not-ready"><img src="/static/img/algae-2.svg"></div>
        </div>
        {% endif %}

        <div class="row sub-filter">
            <div class="col-lg-12 subtitle" id="date-filter-subtitle">
                {{ date_title }} <i class="fa fa-angle-up pull-right filter-icon-arrow"></i><i class="fa fa-angle-down pull-right filter-icon-arrow"></i>
            </div>
        </div>
        <div class="row" style="display: none">
            <div class="slide-container" style="padding-bottom: 10px">
                <div>YEAR</div>
                <div class="year-indicator">
                    <div id="year-from">1600</div>
                    <div id="year-to">1800</div>
                </div>
                <div id="year-slider" class="noUiSlider"></div>
                <div>MONTH</div>
                <table id="month-selector" style="width:100%">
                </table>
                <button class="apply-filter">Apply Filter</button>
                <button class="clear-filter">Clear Filter</button>
            </div>
        </div>
        <div class="row sub-filter">
            <div class="col-lg-12 subtitle">
                ORIGIN <i class="fa fa-angle-up pull-right filter-icon-arrow"></i><i class="fa fa-angle-down pull-right filter-icon-arrow"></i>
            </div>
        </div>
        <div class="row" style="display: none">
            <div class="col-lg-12 filter-content" id="filter-category">
            </div>
            <div class="button-filter-wrapper">
                <button class="apply-filter">Apply Filter</button>
                <button class="clear-filter">Clear Filter</button>
            </div>
        </div>

        {% if use_ecological_condition %}
        <div class="row sub-filter">
            <div class="col-lg-12 subtitle">
                ECOLOGICAL CONDITION <i class="fa fa-angle-up pull-right filter-icon-arrow"></i><i class="fa fa-angle-down pull-right filter-icon-arrow"></i>
            </div>
        </div>
        <div class="row ecological-condition" style="display: none;"  data-toggle="tooltip" data-placement="top" title="Coming Soon">
            <div class="row col-lg-12">
                <div class="col-lg-4 neutral">
                    Neutral (N)
                </div>
                <div class="col-lg-4 good">
                    Good (G)
                </div>
                <div class="col-lg-4 fair">
                    Fair (F)
                </div>
            </div>
            <div class="row col-lg-12">
                <div class="col-lg-4 poor">
                    Poor (P)
                </div>
                <div class="col-lg-4 seriously-modified">
                    Seriously Modified (SM)
                </div>
                <div class="col-lg-4 critically-modified">
                    Critically Modified (CM)
                </div>
            </div>
        </div>
        {% endif %}

        {% if use_conservation_status %}
        <div class="row sub-filter">
            <div class="col-lg-12 subtitle">
                CONSERVATION STATUS <i class="fa fa-angle-up pull-right filter-icon-arrow"></i><i class="fa fa-angle-down pull-right filter-icon-arrow"></i>
            </div>
        </div>
        <div class="row" style="display: none" data-toggle="tooltip" data-placement="top" title="Coming Soon">
            <div class="col-lg-12 filter-content conservation-status">
                <select disabled>
                    <option value="">Conservation Status</option>
                </select>
            </div>
        </div>
        {% endif %}

        <div class="row sub-filter">
            <div class="col-lg-12 subtitle">
                {{ collector_title }} <i class="fa fa-angle-up pull-right filter-icon-arrow"></i><i class="fa fa-angle-down pull-right filter-icon-arrow"></i>
            </div>
        </div>
        <div class="row" style="display: none">
            <div class="col-lg-12 filter-content" id="filter-collectors">
            </div>
            <div class="button-filter-wrapper">
                <button class="apply-filter">Apply Filter</button>
                <button class="clear-filter">Clear Filter</button>
            </div>
        </div>

        {% if use_reference_category %}
        <div class="reference-category-wrapper"></div>
        {% endif %}

    </div>
</script>

<script type="text/html" id="reference-category-template">
    <div class="row sub-filter">
        <div class="col-lg-12 subtitle">
            REFERENCE CATEGORY <i class="fa fa-angle-up pull-right filter-icon-arrow"></i><i class="fa fa-angle-down pull-right filter-icon-arrow"></i>
        </div>
    </div>
    <div class="row" style="display: none">
        <div class="col-lg-12 filter-content reference-category">
        </div>
        <div class="button-filter-wrapper">
            <button class="apply-filter">Apply Filter</button>
            <button class="clear-filter">Clear Filter</button>
        </div>
    </div>
</script>

<script type="text/html" id="map-search-result-template">
    <div class="map-search-box map-control-panel-box map-search-result">
        <div class="row">
            <div class="col-lg-12" style="padding-right: 0">
                    <span class="title">
                        SEARCH RESULT
                    </span>
                <div class="close-button map-result-close pull-right">
                    X
                </div>
            </div>
        </div>
        <div class="row">
            <div class="search-box">
                GILLI
            </div>
        </div>
        <div class="row" style="margin-top: 10px; margin-bottom: 12px">
            <div class="col-lg-12 search-info">
                Select an item to find more detailed information.
            </div>
        </div>
        <div id="search-result-content">
        </div>
    </div>
</script>

<script type="text/html" id="spatial-filter-panel">
    <div class="spatial-filter-container map-control-panel-box">
        <div class="row spatial-filter-panel-title">
            <div class="col-lg-12" style="padding-right: 0">
                    <span class="title">
                        SPATIAL FILTER
                    </span>
                <div class="spatial-filter-container-close close-button pull-right">
                    X
                </div>
            </div>
        </div>
        <div class="row sub-filter content spatial-scale-menu">
            <div class="col-lg-12 subtitle">
                 {{ spatial_scale_title }} <i class="fa fa-angle-up pull-right filter-icon-arrow"></i><i class="fa fa-angle-down pull-right filter-icon-arrow"></i>
            </div>
        </div>
        <div class="row spatial-scale-panel" style="display: none">
            <div class="small-subtitle">Political Region</div>
            <div class="col-lg-12 filter-content" id="spatial-scale-container">
            </div>
            <div class="col-lg-12 other-filters">
                <div class="container-fluid row">
                    <div class="col-lg-5">Ecoregion</div>
                    <div class="col-lg-7">
                        <select disabled>
                            <option value="">Ecoregion</option>
                        </select>
                    </div>
                </div>
                <div class="container-fluid row">
                    <div class="col-lg-5">Catchment</div>
                    <div class="col-lg-7">
                        <select disabled>
                            <option value="">Catchment</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="spatial-scale-action">
                <button class="spatial-scale-apply-filter" disabled>Apply Filter</button>
                <button class="spatial-scale-clear-filter" disabled>Clear Filter</button>
            </div>
        </div>
        <div class="row sub-filter">
            <div class="col-lg-12 subtitle">
                 USER BOUNDARY <i class="fa fa-angle-up pull-right filter-icon-arrow"></i><i class="fa fa-angle-down pull-right filter-icon-arrow"></i>
            </div>
        </div>
        <div class="user-boundary-panel" style="display: none">
            <div class="row spatial-filter-panel-upload-wrapper">
                <button id="spatial-filter-panel-upload">Upload New Boundary</button>
            </div>
            <div class="row boundary-list">
            </div>
            <div class="row boundary-action">
                <button class="spatial-apply-filter">Apply Filter</button>
                <button class="spatial-clear-filter">Clear Filter</button>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload a boundary</h5>
                    <button type="button" class="close close-upload-boundary-modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Boundary Name</label>
                        <input type="text" class="form-control" id="boundary-input-name" aria-describedby="emailHelp" placeholder="Enter boundary name">
                    </div>
                    <label for="file"><b>Upload shapefile here</b></label>
                    <button type="button" class="btn btn-primary btn-boundary-upload">
                        <span class="glyphicon glyphicon-cloud-upload"></span> Upload shapefiles
                    </button>
                    <input id="fileupload" type="file" name="shapefile" multiple
                           style="display: none;"
                           data-url="{% url 'shapefile-upload' %}"
                           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

                    <table id="file-list" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Files</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for shapefile in shapefiles %}
                            <tr>
                                <td><a href="{{ shapefile.fileurl }}">{{ shapefile.filename }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="help-block process-shapefile">
                        Processing shapefiles...
                    </div>

                </div>
            </div>
        </div>
    </div>

</script>

<script type="text/html" id="layer-selector-row">
    <li class="ui-state-default">
        <div class="row-title">
            <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
            <input type="checkbox" value="<%= key %>" class="layer-selector-input" <%= checked %>>
            <%= name %>
        </div>
        <div class="options">
            <div class="group">
                <label>Transparency</label>
                <div class="layer-transparency" data-value="<%= transparency_value %>"></div>
            </div>
        </div>
</script>
<script type="text/html" id="map-control-panel">
    <div class="map-control-panel {% if not user.is_authenticated %}no-upload{% endif %}">
        <div class="search-control sub-control-panel">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div class="filter-control sub-control-panel">
            <i class="fa fa-map" aria-hidden="true"></i>
        </div>
        <div class="locate-control sub-control-panel">
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
        </div>
        {% if user.is_authenticated %}
            <div class="spatial-filter sub-control-panel">
                <i class="fa fa-crop" aria-hidden="true"></i>
            </div>
            <div class="upload-data sub-control-panel">
                <i class="fa fa-upload" aria-hidden="true"></i>
            </div>
        {% endif %}
        {% if can_validate %}
            <div class="validate-data sub-control-panel">
                <i class="fa fa-check" aria-hidden="true"></i>
            </div>
        {% endif %}
    </div>
    <div class="zoom-control row">
        <div class="col-lg-6 sub-zoom-control zoom-out"><i class="fa fa-plus" aria-hidden="true"></i></div>
        <div class="col-lg-6 sub-zoom-control zoom-in"><i class="fa fa-minus" aria-hidden="true"></i></div>
    </div>

    {# layers selector container #}
    <div class="layers-selector-container map-control-panel-box">
        <div class="row">
            <div class="col-lg-12" style="padding-right: 0">
                    <span class="title">
                        LAYER SELECTOR
                    </span>
                <div class="layers-selector-container-close close-button pull-right">
                    X
                </div>
            </div>
        </div>
        <div class="row content">
            <ul id="layers-selector" style="width:100%">
            </ul>
        </div>
    </div>
    {# locate option container #}
    <div class="locate-options-container map-control-panel-box">
        <div class="row">
            <div class="col-lg-12" style="padding-right: 0">
                    <span class="title">
                        LOCATE OPTIONS
                    </span>
                <div class="locate-options-container-close close-button pull-right">
                    X
                </div>
            </div>
        </div>
        <div class="row content">
            <ul id="locate-options" style="width:100%">
                <li class="locate-coordinates">
                    Locate by coordinate
                </li>
                <li class="locate-farm">
                    Locate by Farm/Farm Portion Code Page
                </li>
                {#                                        Will be implemented in another PR #}
                {#                    <li id="map-navigation">Map navigation page</li>#}
            </ul>
        </div>
    </div>


</script>

<script type="text/html" id="locate-coordinate-modal">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Locate by Coordinate</h5>
                    <button type="button" class="close"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="coordinate-form">
                        Please enter the decimal latitude (positive
                        degrees North) and longitude (positive degrees
                        East) coordinates of your area of interest below!
                    </p>
                    <p class="farm-form">
                        Please enter the Farm/Farm Portion ID below (e.g. T0KT00000000001600005)
                    </p>

                    <form id="locate-form">
                        <div class="form-row">
                            <div class="col-4 coordinate-form">
                                <label for="latitude" class="sr-only">
                                    Latitude
                                </label>
                                <input type="number" step="0.1" max="90"
                                       min="-90"
                                       class="form-control mb-2 mr-sm-2"
                                       id="latitude" placeholder="Latitude">
                            </div>
                            <div class="col-4 coordinate-form">
                                <label for="longitude" class="sr-only">
                                    Longitude
                                </label>
                                <input type="number" step="0.1" min="-180"
                                       max="180" class="form-control mb-2 mr-sm-2"
                                       id="longitude" placeholder="Longitude">
                            </div>
                            <div class="col-6 farm-form">
                                <label for="farm-id" class="sr-only">
                                    Farm ID
                                </label>
                                <input type="text"
                                       class="form-control mb-2 mr-sm-2"
                                       id="farm-id" placeholder="Farm ID">
                            </div>
                            <div class="col">
                                <button id="go-button" type="button" class="btn btn-outline-dark mb-2 mr-sm-2">
                                    Go
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="upload-data-modal">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-upload-data" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload Data</h5>
                    <button type="button" class="close small-close"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form">
                        <div class="alert alert-danger upload-alert" role="alert">
                        </div>
                        <div class="alert alert-success upload-alert" role="alert">
                        </div>
                        {% if biological_modules|length > 1 %}
                            <label for="ud_module" class="upload-input-label">
                                Module *
                            </label>
                            <select id="ud_module" name="Module" class="form-control mb-2 mr-sm-2 ud-item-required ud-item">
                                <option value="">-</option>
                                {% for key, value in biological_modules.items %}
                                    <option value="{{ value }}">{{ key }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <input type="hidden" id="ud_module" class="ud-item" name="ud_module" value="{{ biological_modules.values | first }}">
                        {% endif %}
                        <label for="ud_species_name" class="upload-input-label">
                            Species Name *
                        </label>
                        <input type="text"
                               class="form-control mb-2 mr-sm-2 ud-item ud-item-required"
                               id="ud_species_name" placeholder="" name="Species Name">
                        <label for="ud_location_site" class="upload-input-label">
                            Location Site Name *
                        </label>
                        <input type="text"
                               class="form-control mb-2 mr-sm-2 ud-item ud-item-required"
                               id="ud_location_site" name="Location Site" placeholder="">
                        <label for="ud_collection_date" class="upload-input-label">
                            Collection Date *
                        </label>
                        <input type="text"
                               class="form-control mb-2 mr-sm-2 ud-item ud-item-required"
                               id="ud_collection_date" name="Collection Date" placeholder="">
                        <label for="ud_category" class="upload-input-label">
                            Category *
                        </label>
                        <select id="ud_category" name="Category" class="form-control mb-2 mr-sm-2 ud-item-required ud-item">
                            <option value="">-</option>
                            {% for category in collection_category %}
                                <option value="{{ category.0 }}">{{ category.1 }}</option>
                            {% endfor %}
                        </select>
                        <label for="ud_collector" class="upload-input-label">
                            Collector *
                        </label>
                        <input type="text"
                               class="form-control mb-2 mr-sm-2 ud-item-required ud-item"
                               id="ud_collector" placeholder="" name="Collector">
                        <label for="ud_notes" class="upload-input-label">
                            Notes
                        </label>
                        <textarea class="form-control ud-item"
                                  id="ud_notes" placeholder=""></textarea>
                        <label for="ud_custodian" class="upload-input-label" style="margin-top: 5px;">
                            Custodian
                        </label>
                        <input type="text"
                               class="form-control mb-2 mr-sm-2 ud-item"
                               id="ud_custodian" name="Custodian" placeholder="">

                        <p class="required-text ">* = Required </p>

                        <button type="button" class="btn btn-info upload-data-button">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="download-control-panel">
    <div class="download-control sub-control-panel">
        <i class="fa fa-download" aria-hidden="true"></i>
    </div>
</script>

<script type="text/html" id="download-control-panel-template">
    <div id="download-control-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Download data</h5>
                    <button type="button" class="close"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>Select a format to download current data.</div>
                    <div class="table-section">
                        <table>
                            <tr>
                                <td valign="middle">
                                    <div class="row-format" data-format="csv">.csv</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="notification"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="site-detail-sub-title">
    <div class="search-result-sub-title search-results-total" data-search-result-id="">
        <%= name %>
    </div>
</script>
<script type="text/template" id="site-detail-registry-values">
    <div class="result-search" data-search-result-id="">
        <p class="group-title"><%= name %></p>
        <a class="group-description"><%= value %></a>
    </div>
</script>

<script type="text/template" id="search-result-sub-title">
    <div class="search-result-sub-title search-results-total" data-search-result-id="">
        <%= name %>
        <i class="pull-right"><span class="total-occurences"><%= count %></span> occurrences</i>
    </div>
</script>

<script type="text/template" id="search-catchment-area-template">
    <div class="result-search" data-id="<%= id %>">
        <p class="group-title"><%= name %></p>
    </div>
</script>

<script type="text/template" id="search-result-dashboard-detail-template">
    <div class="result-search" data-search-result-id="">
        <p class="group-title"><%= name %></p>
        <a class="group-description"><%= description %></a>
    </div>
</script>

<script type="text/template" id="search-result-dashboard-origin-template">
    <div class="result-search" data-search-result-id="">
        <p class="group-title" style="margin-bottom: 10px"><%= name %></p>
        <a class="group-description">
            <div class="progress">
                <div class="progress-text">Native</div>
                <div class="progress-bar progress-native" role="progressbar"
                     style="width: <%= nativeValue %>%"
                     aria-valuenow="<%= nativeValue %>"
                     aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
            <div class="progress">
                <div class="progress-text">Non-Native</div>
                <div class="progress-bar progress-non-native" role="progressbar"
                     style="width: <%= nonNativeValue %>%"
                     aria-valuenow="<%= nonNativeValue %>"
                     aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
            <div class="progress">
                <div class="progress-text">Translocated</div>
                <div class="progress-bar progress-translocated" role="progressbar"
                     style="width: <%= translocatedValue %>%"
                     aria-valuenow="<%= translocatedValue %>"
                     aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
        </a>
    </div>
</script>

<script type="text/template" id="search-result-dashboard-richness-index-template">
    <div class="result-search" data-search-result-id="">
        <p class="group-title" style="margin-bottom: 10px"><%= name %></p>
        <a class="group-description">
            <div class="species-richness-text row">
                <div class="col-lg-6">Species Richness </div>
                <div class="col-lg-5">: <%= speciesRichness %> </div>
            </div>
            <div class="species-richness-text row">
                <div class="col-lg-6">Shanon Diversity </div>
                <div class="col-lg-5">: <%= shanonDiversity %> </div>
            </div>
            <div class="species-richness-text row">
                <div class="col-lg-6">Simpson Diversity </div>
                <div class="col-lg-5">: <%= simpsonDiversity %> </div>
            </div>
        </a>
    </div>
</script>

<script type="text/template" id="search-result-record-template">
    <div class="result-search" data-search-result-id="">
        <a href="#" id="<%= taxon_gbif_id %>">
            <p class="group-title"><%= common_name %></p>
        </a>
        <a class="group-description"><%= count %> occurrences</a>
    </div>
</script>

<script type="text/template" id="search-result-taxa-template">
    <div class="result-search" data-search-result-id="" data-taxon-id="<%= id %>">
        <p class="group-title"><%= highlighted_common_name %></p>
        <a class="group-description"><%= count %> occurrences</a>
    </div>
</script>

<script type="text/template" id="search-result-site-template">
    <div class="result-search" data-search-result-id="">
        <p class="group-title"><%= name %></p>
        <a class="group-description"><%= count %> records found</a>
    </div>
</script>

<script type="text/template" id="third-party-template">
    <a href="https://gbif.org/species/<%= taxon_gbif_id %>/" target="_blank">
        <div class="third-party-info">
            From gbif.org
        </div>
    </a>
    <div class="third-party-fetching-info">
        Fetching...
    </div>
    <div class="content row third-party-wrapper">
    </div>
</script>

<script type="text/template" id="records-list-detail">
    <div class="result-search records-list-wrapper" data-search-result-id="">
    </div>
</script>

<script type="text/template" id="species-template">
    <div class="content">
        <div class="iucn-status"><span class="name"><%= iucn_status_name %></span><span class="full-name"><%= iucn_status_full_name %></span></div>
        <div class="species-count"><b><%= count %></b><br> <span class="records-link"> <a href="#">records</a></span></div>
        <div class="taxonomy-system">
            <%= kingdom %><br>
            <i class="fa fa-arrow-down"></i><br>
            <%= phylum %><br>
            <i class="fa fa-arrow-down"></i><br>
            <%= taxon_class %><br>
            <i class="fa fa-arrow-down"></i><br>
            <%= order %><br>
            <i class="fa fa-arrow-down"></i><br>
            <%= family %><br>
            <i class="fa fa-arrow-down"></i><br>
            <%= genus %><br>
            <i class="fa fa-arrow-down"></i><br>
            <%= species %>
        </div>
    </div>
</script>

{# Biodiversity legend #}
<script type="text/template" id="biodiversity-legend">
    <div class="bio-legend-wrapper">
        <div class="bio-legend-container">
            <div class="bio-legend-title">
                Biodiversity Legend
            </div>
            <div class="bio-legend-content">
                <div class="row">
                    <div class="col-2 bio-legend-color bio-one-site"></div>
                    <div class="col-8">1 site</div>
                </div>
                <div class="row">
                    <div class="col-2 bio-legend-color bio-cluster-low"></div>
                    <div class="col-8">1 - 10</div>
                </div>
                <div class="row">
                    <div class="col-2 bio-legend-color bio-cluster-normal"></div>
                    <div class="col-8">10 - 100</div>
                </div>
                <div class="row">
                    <div class="col-2 bio-legend-color bio-cluster-high"></div>
                    <div class="col-8">100 - 500</div>
                </div>
                <div class="row">
                    <div class="col-2 bio-legend-color bio-cluster-max"></div>
                    <div class="col-8">500 up</div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="validate-data-list-container">
    <div class="refresh-list-wrapper">
        <button class="refresh-list"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh data</button>
    </div>
    <div class="validate-wrapper">
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination validate-data-pagination">
            <li class="page-item"><a class="page-link previous" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link next" href="#">Next</a></li>
        </ul>
    </nav>
</script>

<script type="text/template" id="validate-data-detail-container">
    <div class="validate-data-detail-wrapper" data-id="<%= id %>">
        <div class="container">
            <div class="validate-data-header">
                <div class="detail-container-title">
                    Species Name
                </div>
                <p> <%= original_species_name %> </p>
                <div class="detail-container-title"> Collection Date </div>
                <p> <%= collection_date %> </p>
                <div class="detail-container-title"> Uploader </div>
                <p> <%= owner %> </p>
            </div>
        </div>
        <div class="detail-container container">
            <div class="detail-container-title"> Notes </div>
            <div> <%= notes %> </div>
            <div class="detail-container-title"> Category </div>
            <div> <%= category %> </div>
            <div class="detail-container-title"> Custodian </div>
            <div> <%= institution_id %> </div>
            <div class="detail-container-title"> Taxon Class </div>
            <div> <%= taxonomy.taxon_class %> </div>
        </div>
        <div class="detail-container-buttons">
            <button class="show-map-button">Show in map</button>
            <button class="show-detail">Show detail</button>
            <button class="hide-detail">Hide detail</button>
            <button class="accept-data">Accept</button>
        </div>
        <div class="validate-data-action">
            <p>
                Are you sure you want to accept this data?
            </p>
            <button class="accept-validate">Yes</button>
            <button class="cancel-validate">Cancel</button>
        </div>
    </div>
</script>