<script type="text/html" id="map-search-container">
    <div class="map-search-box map-control-panel-box">
        <div class="row">
            <div class="col-lg-12" style="padding-right: 0">
                <div class="close-button search-reset pull-left"
                     data-toggle="tooltip" data-placement="top"
                     data-original-title="Reset">
                    <img class="close-icon" src="/static/img/reset.svg">
                </div>
                <span class="title">
                        SEARCH
                    </span>
                <div class="close-button map-search-close pull-right">
                    <img class="close-icon" src="/static/img/close_icon.svg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="search-box">
                <div class="container-1">
                    <input type="search" id="search"
                           placeholder="Search..."><span class="search-arrow"><i
                        class="fa fa-angle-right"></i></span>
                </div>
            </div>
            <div id="search-error-text">Minimal 3 character or empty.</div>
        </div>
        <div class="row">
            <div class="col-lg-12 search-info">
                Refine your search by using the filters below.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 map-filter-title">
                FILTERS
            </div>
        </div>

        {% if bims_preferences.enable_module_filter %}
            <div class="row sub-filter">
                <div class="col-lg-12 subtitle">
                    MODULE <i
                        class="fa fa-angle-up pull-right filter-icon-arrow"></i><i
                        class="fa fa-angle-down pull-right filter-icon-arrow"></i>
                </div>
            </div>
            <div style="display: none;"
                 data-toggle="tooltip" data-placement="top" class="module-filters-wrapper">
                <div class="module-filters row"></div>
                <hr class="module-hr"/>
                <div class="form-check module-checkbox-wrapper">
                    <input type="checkbox" class="form-check-input" id="abiotic-data-filter">
                    <label class="form-check-label" for="abiotic-data-filter">Abiotic Data</label>
                </div>
                <div class="button-filter-wrapper button-filter-module">
                    <button class="apply-filter"><i class="fa fa-check"
                                                    aria-hidden="true"></i> Apply
                    </button>
                    <button class="clear-filter clear-filter-module"><i class="fa fa-times"
                                                    aria-hidden="true"></i> Clear
                    </button>
                </div>
            </div>
        {% endif %}

        <div class="source-collection-wrapper">
        </div>

        <div class="row sub-filter">
            <div class="col-lg-12 subtitle">
                VALIDATION STATUS <i
                    class="fa fa-angle-up pull-right filter-icon-arrow"></i><i
                    class="fa fa-angle-down pull-right filter-icon-arrow"></i>
            </div>
        </div>
        <div class="row validation-filter-row" style="display: none">
            <div class="col-lg-12 filter-content">
                <div><input id="filter-validation-validated"
                            name="filter-validation" type="checkbox"
                            value="validated" checked> <label class="checkbox-label" for="filter-validation-validated">Validated</label>
                </div>
                <div><input id="filter-validation-non-validated" name="filter-validation" type="checkbox"
                            value="non validated"> <label class="checkbox-label" for="filter-validation-non-validated">Non validated</label>
                </div>
                {% if is_sass_enabled %}
                    <div>
                        <input id="filter-validation-sass-acredited" name="filter-validation" type="checkbox"
                            value="sass accredited">
                        <label class="checkbox-label" for="filter-validation-sass-acredited">SASS Accredited</label>
                    </div>
                    <div>
                        <input id="filter-validation-non-sass-acredited" name="filter-validation" type="checkbox"
                            value="non sass accredited">
                        <label class="checkbox-label" for="filter-validation-non-sass-acredited">Non SASS Accredited</label>
                    </div>
                {% endif %}
                <div id="filter-validation-error">Please tick at least one
                    filter.
                </div>
            </div>

            <div class="button-filter-wrapper">
                <button class="apply-filter"><i class="fa fa-check"
                                                aria-hidden="true"></i> Apply
                </button>
                <button class="clear-filter"><i class="fa fa-times"
                                                aria-hidden="true"></i> Clear
                </button>
            </div>
        </div>

        <div class="row sub-filter">
            <div class="col-lg-12 subtitle" id="date-filter-subtitle">
                {{ date_title }} <i
                    class="fa fa-angle-up pull-right filter-icon-arrow"></i><i
                    class="fa fa-angle-down pull-right filter-icon-arrow"></i>
            </div>
        </div>
        <div class="row temporal-scale-row" style="display: none">
            <div class="slide-container" style="padding-bottom: 10px">
                <div>YEAR</div>
                <div class="year-indicator">
                    <div id="year-from">1600</div>
                    <div id="year-to">1800</div>
                </div>
                <div id="year-slider" class="noUiSlider"></div>
                <div>MONTH</div>
                <table id="month-selector" style="width:100%">
                </table>
                <button class="apply-filter"><i class="fa fa-check" aria-hidden="true"></i> Apply</button>
                <button class="clear-filter"><i class="fa fa-times" aria-hidden="true"></i> Clear</button>
            </div>
        </div>

        <div class="spatial-filter-wrapper"></div>

        {% if use_ecological_condition %}
            <div class="row sub-filter">
                <div class="col-lg-12 subtitle">
                    ECOLOGICAL CATEGORY (SASS) <i
                        class="fa fa-angle-up pull-right filter-icon-arrow"></i><i
                        class="fa fa-angle-down pull-right filter-icon-arrow"></i>
                </div>
            </div>
            <div class="row ecological-condition" style="display: none;"
                 data-toggle="tooltip" data-placement="top">
                <div class="row col-lg-12">
                    <div class="col-lg-4 neutral ecological-condition-item" data-category="A" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Unmodified natural">
                        Natural (N)
                    </div>
                    <div class="col-lg-4 good ecological-condition-item" data-category="B"  data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Largely natural with few modifications">
                        Good (G)
                    </div>
                    <div class="col-lg-4 fair ecological-condition-item" data-category="C" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Moderately modified">
                        Fair (F)
                    </div>
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-6 poor ecological-condition-item" data-category="D" style="font-size: 9pt" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Largely modified">
                        Poor (P)
                    </div>
                    <div class="col-lg-6 seriously-modified ecological-condition-item" data-category="E" style="font-size: 9pt" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Seriously modified (S)/Critically or extremely modified (CM)">
                        Seriously/Critically Modified (S/CM)
                    </div>
                </div>
                <div class="button-filter-wrapper">
                <button class="apply-filter"><i class="fa fa-check"
                                                aria-hidden="true"></i> Apply
                </button>
                <button class="clear-filter"><i class="fa fa-times"
                                                aria-hidden="true"></i> Clear
                </button>
            </div>
            </div>
        {% endif %}

          <div class="row sub-filter">
            <div class="col-lg-12 subtitle">
                ORIGIN AND ENDEMISM<i
                    class="fa fa-angle-up pull-right filter-icon-arrow"></i><i
                    class="fa fa-angle-down pull-right filter-icon-arrow"></i>
            </div>
        </div>
        <div class="row" style="display: none" id="origin-filter-wrapper">
                <div class="btn-group-wrapper text-center">
                <input class="origin-checkbox" type="checkbox" value="alien" name="category-value" style="display: none" id="alien"/>
                <input class="origin-checkbox" type="checkbox" value="indigenous" name="category-value" style="display: none" id="indigenous"/>
                <input class="origin-checkbox" type="checkbox" value="translocated" name="category-value" style="display: none" id="translocated"/>
                <div class="smaller-font btn-group btn-group-sm">
                    <button id="non-native-origin-btn" type="button" class="btn origin-btn btn-secondary">Non-Native</button>
                </div>
                <div class="smaller-font btn-group btn-group-sm" role="group" aria-label="First group">
                    <button id="native-origin-btn" type="button" class="btn origin-btn btn-secondary dropdown-toggle" data-origin="indigenous" data-toggle="dropdown">Native</button>
                    <div class="native-origin-dropdown dropdown-menu origin-menu" aria-labelledby="native-origin-btn">
                        <div class="dropdown-item endemic-dropdown-item" data-endemic-value="all-endemic"><input id="all-endemic-checkbox" class="endemic-checkbox" type="checkbox"> All endemic </div>
                    </div>
                </div>
                </div>
            <div class="col-lg-12 filter-content" id="filter-category">
            </div>
            <div class="button-filter-wrapper">
                <button class="apply-filter"><i class="fa fa-check" aria-hidden="true"></i> Apply</button>
                <button class="clear-filter clear-origin-filter"><i class="fa fa-times" aria-hidden="true"></i> Clear</button>
            </div>
        </div>

        {% if use_conservation_status %}
            <div class="row sub-filter">
                <div class="col-lg-12 subtitle">
                    CONSERVATION STATUS <i
                        class="fa fa-angle-up pull-right filter-icon-arrow"></i><i
                        class="fa fa-angle-down pull-right filter-icon-arrow"></i>
                </div>
            </div>
            <div class="row conservation-status-row" style="display: none">
                <div class="col-lg-12 filter-content conservation-status-wrapper form-group">
                    {% for status_data in conservation_status_data %}
                        <div>
                            <input type="checkbox" id="conservation-status-{{ status_data.status }}" value="{{ status_data.status }}">
                            <label for="conservation-status-{{ status_data.status }}" data-toggle="popover"
                                data-placement="top" data-container="#map-container" data-trigger="hover" data-content="{{ status_data.desc }}">{{ status_data.name }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="button-filter-wrapper">
                    <button class="apply-filter"><i class="fa fa-check" aria-hidden="true"></i> Apply</button>
                    <button class="clear-filter clear-conservation-filter"><i class="fa fa-times" aria-hidden="true"></i> Clear
                    </button>
                </div>
                <div class="small-space"></div>
            </div>
        {% endif %}

        <div class="reference-category-wrapper"></div>

        <div class="study-reference-wrapper">
            <div class="row sub-filter">
                <div class="col-lg-12 subtitle">
                    STUDY REFERENCE <i
                        class="fa fa-angle-up pull-right filter-icon-arrow"></i><i
                        class="fa fa-angle-down pull-right filter-icon-arrow"></i>
                </div>
            </div>
            <div class="row filter-study-reference-row" style="display: none">
                <div class="chosen-wrapper">
                    <select data-placeholder="Choose a reference..."
                        id="filter-study-reference"
                        multiple>
                    </select>
                </div>
                <div class="button-filter-wrapper">
                    <button class="apply-filter"><i class="fa fa-check" aria-hidden="true"></i> Apply</button>
                    <button class="clear-filter"><i class="fa fa-times" aria-hidden="true"></i> Clear</button>
                </div>
            </div>
        </div>

         {% if COLLECTOR_FILTER %}
            <div class="row sub-filter">
                <div class="col-lg-12 subtitle">
                    COLLECTOR/ASSESSOR <i
                        class="fa fa-angle-up pull-right filter-icon-arrow"></i><i
                        class="fa fa-angle-down pull-right filter-icon-arrow"></i>
                </div>
            </div>
            <div class="row filter-collectors-row" style="display: none">
                <div class="chosen-wrapper">
                    <select data-placeholder="Choose a collector/assessor..."
                        id="filter-collectors"
                        multiple>
                    </select>
                </div>
                <div class="button-filter-wrapper">
                    <button class="apply-filter"><i class="fa fa-check" aria-hidden="true"></i> Apply</button>
                    <button class="clear-filter"><i class="fa fa-times" aria-hidden="true"></i> Clear</button>
                </div>
            </div>
        {% endif %}
</script>


<script type="text/html" id="source-collection-template">
        <div class="study-reference-wrapper">
            <div class="row sub-filter">
                <div class="col-lg-12 subtitle">
                     DATA SOURCES <i
                        class="fa fa-angle-up pull-right filter-icon-arrow"></i><i
                        class="fa fa-angle-down pull-right filter-icon-arrow"></i>
                </div>
            </div>
            <div class="row" style="display: none">
                <div class="col-lg-12 filter-content data-source-list">
                </div>
                <div class="button-filter-wrapper">
                    <button class="apply-filter"><i class="fa fa-check" aria-hidden="true"></i> Apply</button>
                    <button class="clear-filter"><i class="fa fa-times" aria-hidden="true"></i> Clear</button>
                </div>
            </div>
        </div>
</script>

<script type="text/html" id="reference-category-template">
    <div class="row sub-filter">
        <div class="col-lg-12 subtitle">
            REFERENCE CATEGORY <i
                class="fa fa-angle-up pull-right filter-icon-arrow"></i><i
                class="fa fa-angle-down pull-right filter-icon-arrow"></i>
        </div>
    </div>
    <div class="row" style="display: none">
        <div class="col-lg-12 filter-content reference-category">
        </div>
        <div class="button-filter-wrapper">
            <button class="apply-filter"><i class="fa fa-check" aria-hidden="true"></i> Apply</button>
            <button class="clear-filter"><i class="fa fa-times" aria-hidden="true"></i> Clear</button>
        </div>
    </div>
</script>

<script type="text/html" id="map-search-result-template">
    <div class="map-search-box map-control-panel-box map-search-result">
        <div class="row">
            <div class="col-lg-12" style="padding-right: 0">
                    <span class="title">
                        SEARCH RESULT
                    </span>
                <div class="close-button map-result-close pull-right">
                    <img class="close-icon" src="/static/img/close_icon.svg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="search-box">
            </div>
        </div>
        <div class="row" style="margin-top: 10px; margin-bottom: 12px">
            <div class="col-lg-12 search-info">
                Select an item to find more detailed information.
            </div>
        </div>
        <div id="search-result-content" class="noselect">
        </div>
    </div>
</script>

<script type="text/html" id="spatial-filter-panel">
    <div class="row sub-filter content spatial-scale-menu">
        <div class="col-lg-12 subtitle">
            {{ spatial_scale_title }} <i
                class="fa fa-angle-up pull-right filter-icon-arrow"></i><i
                class="fa fa-angle-down pull-right filter-icon-arrow"></i>
        </div>
    </div>
    <div class="row spatial-scale-panel" style="display: none">
        <div class="spatial-filter-container" style="width: 100%"></div>
        {% if bims_preferences.enable_catchmet_filter %}
        <div class="small-subtitle spatial-scale-sub-panel">
            Catchment
            <i class="fa fa-angle-down pull-right"></i>
        </div>
        <div class="col-lg-12 filter-content" id="river-catchment-container" style="display: none;">
        </div>
        {% endif %}
        {% if bims_preferences.enable_ecoregion_filter %}
        <div class="col-lg-12 other-filters">
            <div class="container-fluid row">
                <div class="col-lg-5">Ecoregion</div>
                <div class="col-lg-7">
                    <select disabled>
                        <option value="">Ecoregion</option>
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="spatial-scale-action">
            <button class="spatial-scale-apply-filter" disabled><i class="fa fa-check" aria-hidden="true"></i> Apply
            </button>
            <button class="spatial-scale-clear-filter" disabled><i class="fa fa-times" aria-hidden="true"></i> Clear
            </button>
        </div>
    </div>
    {% if user.is_authenticated and bims_preferences.enable_user_boundary_filter %}
        <div class="row sub-filter">
            <div class="col-lg-12 subtitle">
                USER BOUNDARY
                <i class="fa fa-angle-up pull-right filter-icon-arrow"></i>
                <i class="fa fa-angle-down pull-right filter-icon-arrow"></i>
            </div>
        </div>
        <div class="user-boundary-panel" style="display: none">
            <div class="row spatial-filter-panel-upload-wrapper">
                <button id="spatial-filter-panel-upload">Upload New Boundary
                </button>
            </div>
            <div class="row boundary-list">
            </div>
            <div class="row boundary-action">
                <button class="spatial-apply-filter"><i class="fa fa-check" aria-hidden="true"></i> Apply</button>
                <button class="spatial-clear-filter"><i class="fa fa-times" aria-hidden="true"></i> Clear</button>
            </div>
        </div>
    {% endif %}

    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload a boundary</h5>
                    <button type="button"
                            class="close close-upload-boundary-modal"
                            aria-label="Close">
                        <img class="close-icon"
                             src="/static/img/close_icon.svg">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Boundary Name</label>
                        <input type="text" class="form-control"
                               id="boundary-input-name"
                               aria-describedby="emailHelp"
                               placeholder="Enter boundary name">
                    </div>
                    <label for="file"><b>Upload shapefile here</b></label>
                    <button type="button"
                            class="btn btn-primary btn-boundary-upload">
                        <span class="glyphicon glyphicon-cloud-upload"></span>
                        Upload shapefiles
                    </button>
                    <input id="fileupload" type="file" name="shapefile" multiple
                           style="display: none;"
                           data-url="{% url 'shapefile-upload' %}"
                           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

                    <table id="file-list" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Files</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for shapefile in shapefiles %}
                            <tr>
                                <td>
                                    <a href="{{ shapefile.fileurl }}">{{ shapefile.filename }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="help-block process-shapefile">
                        Processing shapefiles...
                    </div>

                </div>
            </div>
        </div>
    </div>

</script>

<script type="text/html" id="layer-selector-row">
    <li class="ui-state-default" style="display: <%= display %>"
        data-name="<%= id %>">
        <div class="layer-selector-tags">
            <span value="<%= key %>" class="badge badge-primary layer-source"><%= source %></span>
            <span class="badge badge-success"><%= category %></span>
        </div>
        <div class="row-title">
            <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
            <input type="checkbox" value="<%= key %>"
                   class="layer-selector-input" <%= checked %>>
            <%= name %>
        </div>
        <div class="options">
            <div class="group">
                <div class="row">
                    <div class="col-md-2 transparency-icon">
                        <img src="/static/img/transparency-icon.png"/>
                    </div>
                    <div class="col-md-10 transparency-slider">
                        <div class="layer-transparency"
                             data-value="<%= transparency_value %>"></div>
                    </div>
                </div>
            </div>
        </div>
        <div value="<%= key %>" class="layer-source-info"></div>
</script>

<script type="text/html" id="map-control-panel">
    <div id="map-control-panel-element" class="map-control-panel
{% if not user.is_authenticated %}no-upload{% endif %}">
        <div id="search-control" class="search-control sub-control-panel"
        data-toggle="popover"
             data-placement="right" data-trigger="hover" data-content="Search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div id="filter-control" class="filter-control sub-control-panel"
        data-toggle="popover"
             data-placement="right" data-trigger="hover"
             data-content="Layer Selector">
            <i class="fa fa-map" aria-hidden="true"></i>
        </div>
        <div id="locate-control" class="locate-control sub-control-panel"
        data-toggle="popover"
             data-placement="right" data-trigger="hover"
             data-content="Locate Options">
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
        </div>
        {% if user.is_authenticated %}
            {% if perms.bims.can_upload_csv or perms.bims.can_add_single_occurrence %}
                <div class="upload-data sub-control-panel" data-toggle="popover"
                     data-placement="right" data-trigger="hover"
                     data-content="Capture Single Occurrence">
                    <i class="fa fa-crosshairs" aria-hidden="true"></i>
                </div>
            {% endif %}
        {% endif %}
        {% if can_validate %}
            <div class="validate-data sub-control-panel" data-toggle="popover"
                 data-placement="right" data-trigger="hover"
                 data-content="Validate Data">
                <i class="fa fa-check" aria-hidden="true"></i>
            </div>
        {% endif %}
        {% if bims_preferences.enable_download_data_from_map %}
        <div id="download-control" class="download-control sub-control-panel"
        data-toggle="popover"
             data-placement="right" data-trigger="hover"
             data-content="Download Data">
            <i class="fa fa-download" aria-hidden="true"></i>
        </div>
        {% endif %}
        <div id="print-control" class="print-map-control sub-control-panel"
             data-toggle="popover"
             data-placement="right" data-trigger="hover"
             data-content="Print Map">
            <i class="fa fa-print" aria-hidden="true"></i>
        </div>
        <div id="permalink-control" class="permalink-control sub-control-panel"
        data-toggle="popover"
             data-placement="right" data-trigger="hover"
             data-content="Copy sharable link for this map">
            <i class="fa fa-link" aria-hidden="true"></i>
        </div>
    </div>
    <div id="zoom-control" class="zoom-control row">
        <div class="col-lg-6 sub-zoom-control zoom-out"><i class="fa fa-plus"
                                                           aria-hidden="true"></i>
        </div>
        <div class="col-lg-6 sub-zoom-control zoom-in"><i class="fa fa-minus"
                                                          aria-hidden="true"></i>
        </div>
    </div>

    {# layers selector container #}
    <div class="layers-selector-container
         map-control-panel-box">
        <div class="row">
            <div class="col-lg-12" style="padding-right: 0">
                    <span class="title">
                        LAYER SELECTOR
                    </span>
                <div class="layers-selector-container-close close-button pull-right">
                    <img class="close-icon" src="/static/img/close_icon.svg">
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="input-group layer-selector-search-input">
                <input type="text" class="form-control" placeholder="Search"
                       id="layer-selector-search">
            </div>
            <ul id="layers-selector" style="width:100%">
            </ul>
        </div>
    </div>
    {# locate option container #}
    <div id="locate-control" class="locate-options-container
         map-control-panel-box">
        <div class="row">
            <div class="col-lg-12" style="padding-right: 0">
                    <span class="title">
                        LOCATE OPTIONS
                    </span>
                <div class="locate-options-container-close close-button pull-right">
                    <img class="close-icon" src="/static/img/close_icon.svg">
                </div>
            </div>
        </div>
        <div class="row content">
            <ul id="locate-options" style="width:100%">
                <li class="locate-coordinates">
                    Locate by Coordinate
                </li>
                <li class="locate-farm">
                    Locate by Farm Portion Code
                </li>
            </ul>
        </div>
    </div>


</script>

<script type="text/html" id="locate-coordinate-modal">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Locate by Coordinate</h5>
                    <button type="button" class="close"
                            aria-label="Close">
                        <img class="close-icon"
                             src="/static/img/close_icon.svg">
                    </button>
                </div>
                <div class="modal-body">
                    <p class="coordinate-form">
                        Please enter the decimal latitude (positive
                        degrees North) and longitude (positive degrees
                        East) coordinates of your area of interest below!
                        <br/> <br/> e.g. for Cape Town being -33.xxx 19.xxx
                    </p>
                    <p class="farm-form">
                        Please enter the Farm/Farm Portion ID below (e.g.
                        T0KT00000000001600001)
                    </p>

                    <form id="locate-form">
                        <div class="form-row">
                            <div class="col-4 coordinate-form">
                                <label for="latitude" class="sr-only">
                                    Latitude
                                </label>
                                <input type="number" step="0.1" max="90"
                                       min="-90"
                                       class="form-control mb-2 mr-sm-2"
                                       id="latitude" placeholder="Latitude">
                            </div>
                            <div class="col-4 coordinate-form">
                                <label for="longitude" class="sr-only">
                                    Longitude
                                </label>
                                <input type="number" step="0.1" min="-180"
                                       max="180"
                                       class="form-control mb-2 mr-sm-2"
                                       id="longitude" placeholder="Longitude">
                            </div>
                            <div class="col-6 farm-form">
                                <label for="farm-id" class="sr-only">
                                    Farm ID
                                </label>
                                <input type="text"
                                       class="form-control mb-2 mr-sm-2"
                                       id="farm-id" placeholder="Farm ID">
                            </div>
                            <div class="col">
                                <button id="go-button" type="button"
                                        class="btn btn-outline-dark mb-2 mr-sm-2">
                                    Go
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="alert alert-danger" role="alert"
                         style="display: none;">
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="upload-data-modal">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-upload-data" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Capture Single Occurrence <span
                            class="badge ud-badge-same-site badge-info"> Capturing another record at the same site </span>
                    </h5>
                    <button type="button" class="close small-close"
                            aria-label="Close">
                        <img class="close-icon"
                             src="/static/img/close_icon.svg">
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form">
                        <div class="upload-body-form">
                            <div class="alert alert-danger upload-alert"
                                 role="alert">
                            </div>
                            <div class="alert alert-success upload-alert"
                                 role="alert">
                            </div>
                            {% if biological_modules|length > 1 %}
                                <label for="ud_module"
                                       class="upload-input-label">
                                    Module *
                                </label>
                                <select id="ud_module" name="Module"
                                        class="form-control mb-2 mr-sm-2 ud-item-required ud-item">
                                    <option value="">-</option>
                                    {% for key, value in biological_modules.items %}
                                        <option value="{{ value }}">{{ key }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input type="hidden" id="ud_module"
                                       class="ud-item" name="ud_module"
                                       value="{{ biological_modules.values | first }}">
                            {% endif %}
                            <label for="ud_species_name"
                                   class="upload-input-label">
                                Species Name *
                            </label>
                            <input type="text"
                                   class="form-control mb-2 mr-sm-2 ud-item ud-item-required"
                                   id="ud_species_name" placeholder=""
                                   name="Species Name">
                            <label for="ud_location_site"
                                   class="upload-input-label">
                                Location Site Name *
                                <button type="button"
                                        class="btn-ud-new-site btn btn-light">
                                    Add new site for next record
                                </button>
                            </label>
                            <input type="text"
                                   class="form-control mb-2 mr-sm-2 ud-item ud-item-required"
                                   id="ud_location_site" name="Location Site"
                                   placeholder="">
                            <label for="ud_collection_date"
                                   class="upload-input-label">
                                Collection Date *
                            </label>
                            <input type="text"
                                   class="form-control mb-2 mr-sm-2 ud-item ud-item-required"
                                   id="ud_collection_date"
                                   name="Collection Date" placeholder="">
                            <label for="ud_category" class="upload-input-label">
                                Category *
                            </label>
                            <select id="ud_category" name="Category"
                                    class="form-control mb-2 mr-sm-2 ud-item-required ud-item">
                                <option value="">-</option>
                                {% for category in collection_category %}
                                    <option value="{{ category.0 }}">{{ category.1 }}</option>
                                {% endfor %}
                            </select>
                            <label for="ud_collector"
                                   class="upload-input-label">
                                Collector *
                            </label>
                            <input type="text"
                                   class="form-control mb-2 mr-sm-2 ud-item-required ud-item"
                                   id="ud_collector" placeholder=""
                                   name="Collector">
                            <label for="ud_notes" class="upload-input-label">
                                Notes
                            </label>
                            <textarea class="form-control ud-item"
                                      id="ud_notes" placeholder=""></textarea>
                            <label for="ud_custodian" class="upload-input-label"
                                   style="margin-top: 5px;">
                                Custodian
                            </label>
                            <input type="text"
                                   class="form-control mb-2 mr-sm-2 ud-item"
                                   id="ud_custodian" name="Custodian"
                                   placeholder="">
                            <label for="ud_references"
                                   class="upload-input-label">
                                References
                            </label>
                            <div class="form-group">
                                <select multiple id="ud_references"
                                        name="References" class="ud-item">
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    Lat : <input type="text" id="current_lat"/>
                                </div>
                                <div class="col-lg-4">
                                    Long : <input type="text" id="current_lon"/>
                                </div>
                                <div class="col-lg-4">
                                    <button style="margin-top: 20px;"
                                            id="update_coordinate">Update
                                        coordinate
                                    </button>
                                </div>
                            </div>
                            <br/>
                        </div>
                        <div class="upload-body-button">
                            <button type="button"
                                    class="btn btn-info upload-data-button">
                                Upload
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="download-control-panel">

</script>

<script type="text/html" id="download-control-panel-template">
    <div id="download-control-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Download data</h5>
                    <button type="button" class="close"
                            aria-label="Close">
                        <img class="close-icon"
                             src="/static/img/close_icon.svg">
                    </button>
                </div>
                <div class="modal-body">
                    <div>Select a format to download current data.</div>
                    <div class="table-section">
                        <table>
                            <tr>
                                <td valign="middle">
                                    <div class="row-format" data-format="csv">
                                        .csv
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="notification"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="site-detail-sub-title">
    <div class="search-result-sub-title search-results-total"
         data-search-result-id="">
        <%= name %>
    </div>
</script>



<script type="text/template" id="search-result-sub-title">
    <div class="search-result-sub-title search-results-total"
         data-search-result-id="">
        <%= name %>
        <i class="pull-right"><span class="total-occurences"><%= count %></span>
            occurrences</i>
    </div>
</script>

<script type="text/template" id="search-catchment-area-template">
    <div class="result-search" data-id="<%= id %>">
        <p class="group-title"><%= name %></p>
    </div>
</script>

<script type="text/template" id="search-result-dashboard-detail-template">
    <div class="result-search" data-search-result-id="">
        <p class="group-title"><%= name %></p>
        <a class="group-description"><%= description %></a>
    </div>
</script>

<script type="text/template" id="search-result-dashboard-origin-template">
    <div class="result-search" data-search-result-id="">
        <p class="group-title" style="margin-bottom: 10px"><%= name %></p>
        <a class="group-description">
            <div class="progress">
                <div class="progress-text">Native</div>
                <div class="progress-bar progress-native" role="progressbar"
                     style="width: <%= nativeValue %>%"
                     aria-valuenow="<%= nativeValue %>"
                     aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
            <div class="progress">
                <div class="progress-text">Non-Native</div>
                <div class="progress-bar progress-non-native" role="progressbar"
                     style="width: <%= nonNativeValue %>%"
                     aria-valuenow="<%= nonNativeValue %>"
                     aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
            <div class="progress">
                <div class="progress-text">Translocated</div>
                <div class="progress-bar progress-translocated"
                     role="progressbar"
                     style="width: <%= translocatedValue %>%"
                     aria-valuenow="<%= translocatedValue %>"
                     aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
        </a>
    </div>
</script>

<script type="text/template"
        id="search-result-dashboard-richness-index-template">
    <div class="result-search" data-search-result-id="">
        <p class="group-title" style="margin-bottom: 10px"><%= name %></p>
        <a class="group-description">
            <div class="species-richness-text row">
                <div class="col-lg-6">Species Richness</div>
                <div class="col-lg-5">: <%= speciesRichness %></div>
            </div>
            <div class="species-richness-text row">
                <div class="col-lg-6">Shanon Diversity</div>
                <div class="col-lg-5">: <%= shanonDiversity %></div>
            </div>
            <div class="species-richness-text row">
                <div class="col-lg-6">Simpson Diversity</div>
                <div class="col-lg-5">: <%= simpsonDiversity %></div>
            </div>
        </a>
    </div>
</script>

<script type="text/template" id="search-result-record-template">
    <div class="result-search" data-search-result-id="">
        <a href="#" id="<%= taxon_gbif_id %>">
            <p class="group-title"><%= common_name %></p>
        </a>
        <a class="group-description"><%= count %> occurrences</a>
    </div>
</script>

<script type="text/template" id="search-result-taxa-template">
    <div class="result-search" data-search-result-id=""
         data-taxon-id="<%= id %>">
        <p class="group-title"><%= highlight %></p>
        <a class="group-description"><%= count %> occurrences</a>
    </div>
</script>

<script type="text/template" id="search-result-site-template">
    <div class="result-search" data-search-result-id="">
        <p class="group-title"><%= name %></p>
        <a class="group-description"><%= count %> occurrences</a>
    </div>
</script>

<script type="text/template" id="show-more-result-site-template">
    <div class="show-more-button" data-search-result-id="">
        <p class="group-title">Show More</p>
    </div>
</script>
