<script type='text/html' id='side-panel-template'>
    <div class="right-panel">
        <div class="row side-panel side-panel-info">
            <div class="col-lg-12" id="content-panel">
            </div>
        </div>
        <div class="right-panel-header">
            <div class="pull-right">
                <img class="close-icon close-panel header-panel-button"
                     src="/static/img/close_icon.svg">
            </div>
            <div class="pull-left">
                <i class="fa fa-caret-square-o-left return-panel header-panel-button"></i>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <span class="right-panel-title"></span>
                </div>
            </div>
        </div>
    </div>
</script>

<script type='text/html' id='site-details-template'>
    <div class="container-fluid" id="site-details-wrapper">
        <div class="row">
            <div class="col-8 caption-column">FBIS Site Code</div>
            <div class="col-4 value-column"><%= fbis_site_code %></div>
        </div>
        <div class="row">
            <div class="col-8 caption-column">Site Coordinates</div>
            <div class="col-4 value-column"><%= site_coordinates %></div>
        </div>
        <div class="row">
            <div class="col-8 caption-column">Site Description</div>
            <div class="col-4 value-column"><%= site_description %></div>
        </div>
        <div class="row">
            <div class="col-8 caption-column">Geomorphological Zone</div>
            <div class="col-4 value-column"><%= geomorphological_zone %></div>
        </div>
        <div class="row">
            <div class="col-8 caption-column">River</div>
            <div class="col-4 value-column"><%= river %></div>
        </div>
    </div>
</script>


