<script type='text/html' id='side-panel-template'>
    <div class="right-panel">
        <div class="row side-panel side-panel-info">
            <div class="col-lg-12" id="content-panel">
            </div>
        </div>
        <div class="right-panel-header">
            <div class="pull-right">
                <img class="close-icon close-panel header-panel-button"
                     src="/static/img/close_icon.svg">
            </div>
            <div class="pull-left">
                <i class="fa fa-caret-square-o-left return-panel header-panel-button"></i>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <span class="right-panel-title"></span>
                </div>
            </div>
        </div>
    </div>
</script>

<script type='text/html' id='block-data-template'>
    {% load jsonify %}
    {% autoescape off %}
        {% get_html_for_fbis_blocks data_in %}
    {% endautoescape %}
</script>

