<script type='text/html' id='side-panel-template'>
    <div class="right-panel">
        <div class="row side-panel side-panel-info">
            <div class="col-lg-12" id="content-panel">
            </div>
        </div>
        <div class="right-panel-header">
            <div class="pull-right">
                <img class="close-icon close-panel header-panel-button"
                     src="/static/img/close_icon.svg">
            </div>
            <div class="pull-left">
                <i class="fa fa-caret-square-o-left return-panel header-panel-button"></i>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <span class="right-panel-title"></span>
                </div>
            </div>
        </div>
    </div>
</script>

<script type='text/html' id='climate-data-template'>
    <div class="container-fluid" id="climate-data-wrapper">
        <div class="row">
            <div class="col-8 caption-column">Mean annual temperature</div>
            <div class="col-4 value-column"><%= mean_annual_temperature %></div>
        </div>
        <div class="row">
            <div class="col-8 caption-column">Mean annual rainfall</div>
            <div class="col-4 value-column"><%= mean_annual_rainfall %></div>
        </div>
    </div>
</script>

