
    <jdk version="2">
      <name value="Django BIMS" />
      <type value="Python SDK" />
      <homePath value="ssh://root@localhost:{{ docker_port_forward.django.ssh }}/usr/local/bin/python" />
      <roots>
        <classPath>
          <root type="composite">
            <root type="simple" url="file://$APPLICATION_HOME_DIR$/helpers/python-skeletons" />
          </root>
        </classPath>
        <sourcePath>
          <root type="composite" />
        </sourcePath>
      </roots>
      <additional HOST="localhost" PORT="{{ docker_port_forward.django.ssh }}" ANONYMOUS="false" USERNAME="root" PASSWORD="dfcedfc5dfc9dfc1dfcfdfd8" PRIVATE_KEY_FILE="" MY_KNOWN_HOSTS_FILE="" PASSPHRASE="" USE_KEY_PAIR="false" INTERPRETER_PATH="/usr/local/bin/python" HELPERS_PATH="/root/.pycharm_helpers" INITIALIZED="false" VALID="true" SKELETONS_PATH="" VERSION="Python 2.7.9">
        <PathMappingSettings>
          <option name="pathMappings">
            <list>
            </list>
          </option>
        </PathMappingSettings>
      </additional>
    </jdk>
