<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Page Not Found</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            font-family: 'Roboto', sans-serif;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
        }

        h1, h4 {
            font-weight: 300 !important;
        }

        h1 {
            font-size: 50px;
        }
    </style>
</head>
<body>
<div class="container">

<h1 id="error-title">404 - PAGE NOT FOUND</h1>
<h4>
    Sorry but the page you are looking for does not exist, have been removed, name changed or is temporarily unavailable
</h4>
<button type="button" class="btn btn-outline-primary btn-lg" onclick="location.href='/';">RETURN TO HOMEPAGE</button>
</div>
</body>
</html>