<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 - Server Error</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            font-family: 'Roboto', sans-serif;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
        }

        h1, h4 {
            font-weight: 300 !important;
        }

        h1 {
            font-size: 50px;
        }
    </style>
</head>
<body>
<div class="container">

<h1 id="error-title">500 - SERVER ERROR</h1>
<h4>
    We're unable to fulfill your request. Rest assured we have been notified and are looking into the issue.
    If the error continues, please file an issue in <a href="http://github.com/kartoza/django-bims/issues"> Github's</a> issue tracker.</a>
</h4>
<button type="button" class="btn btn-outline-primary btn-lg" onclick="location.href='/';">RETURN TO HOMEPAGE</button>
</div>
</body>
</html>