<li data-id="{{ taxon_group.id }}" class="ui-state-default">
    <div>
        <div class="row">
            <div class="col-sm-2 img-container">
                {% if taxon_group.logo %}
                    <img src="{{ taxon_group.logo }}"/>
                {% endif %}
            </div>
            <div class="col-sm-9">
                <div class="taxon-group-title" data-extra-attributes="{{ taxon_group.extra_attributes }}">
                    <span class="taxon-group-name">{{ taxon_group.name }}</span>
                    <span class="btn btn-warning update-logo-btn">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </span>
                </div>
                <div style="display: flex;">
                    <div class="taxon-group-badge">
                        <span id="taxon_group_validated_{{ taxon_group.id }}">{{ taxon_group.validated_count }}</span> Validated
                    </div>
                    {% if taxon_group.unvalidated_count > 0 %}
                    <div class="taxon-group-badge">
                        <span id="taxon_group_unvalidated_{{ taxon_group.id }}">{{ taxon_group.unvalidated_count }}</span> Unvalidated
                    </div>
                    {% endif %}
                </div>
                {% if perms.bims.change_taxongroup %}
                    <div style="margin-top: 3px">
                        {% if preferences.SiteSetting.enable_remove_all_occurrences_tool %}
                            <span class="btn btn-danger remove-all-btn" style="font-size: 10pt; padding-top: 0; padding-bottom: 0" data-module-id="{{ taxa_group.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove All</span>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- Recursive Include for Children -->
        {% if taxon_group.children %}
            <ul style="padding-left: 10px; margin-top: 10px; padding-right: 0;">
                {% for child in taxon_group.children %}
                    {% include "_taxongroup_item.html" with taxon_group=child %}
                {% endfor %}
            </ul>
        {% endif %}
</div>
</li>
