{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% block subtitle %}
    Dashboard management
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.1.2/dist/gridstack.min.css" />
    <link href="{% static "css/fish_form.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard_buttons.css" %}" rel="stylesheet">

    <style>
        .grid-stack-item-content {
            background-color: rgba(160, 206, 210, 0.76);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bolder;
            color: #585858;
            text-transform: capitalize;
        }

        .grid-stack-item-removing {
            opacity: 0.8;
            filter: blur(5px);
        }

        #trash {
            background: rgba(255, 0, 0, 0.4);
            color: white;
            border-radius: 5px;
        }
    </style>

{% endblock %}

{% block body_content %}
    <div class="loading">
        <img src="/static/img/small-loading.svg" width="150" style="filter: brightness(104%) contrast(97%); display: none"
                             alt="Loading view">
    </div>
    <div class="body-form container">
        <form action="{{ request.path }}" method="post" id="dashboard-management-form" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <div class="dashboard-title">
                <h2>Dashboard management</h2>
                <div class="dashboard-close" data-destination="/map"><i
                        class="fa fa-times" aria-hidden="true"></i></div>
            </div>
            <div class="dashboard-body">
                <div style="padding-right: 10px; padding-left: 10px;">
                    <select class="form-control" name="module_group"
                            id="taxon-group">
                        {% for taxon_group in module_groups %}
                            <option value="{{ taxon_group.id }}" {%  if taxon_group == module_group %} selected {% endif %}> {{ taxon_group.name }} </option>
                        {% endfor %}
                    </select>
                </div>
                <br/>
                <div class="action" style="padding-left: 10px; padding-right: 10px;">
                    <div id="trash" style="padding: 15px; margin-bottom: 15px;" class="text-center">
                        <div>
                            <i class="fa fa-remove" aria-hidden="true"></i>
                        </div>
                        <div>
                            <span>Drop here to remove!</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <select class="form-control" id="container-group">
                                <option value="">Add new</option>
                            </select>
                        </div>
                        <div class="col-6 new-widget-container">
                        </div>
                    </div>
                </div>
                <br/>
                <div class="grid-stack">
                    {% if not dashboard_configuration %}
                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="0"
                         data-gs-width="4" data-gs-height="2" data-gs-min-width="4" data-gs-max-width="12" data-key="filter-history">
                        <div class="grid-stack-item-content">Filter history</div>
                    </div>
                    <div class="grid-stack-item" data-gs-x="4" data-gs-y="0"
                         data-gs-width="8" data-gs-height="4" data-gs-min-width="4" data-gs-max-width="12" data-key="occurrence-charts">
                        <div class="grid-stack-item-content">Occurrence Charts</div>
                    </div>
                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="2"
                         data-gs-width="4" data-gs-height="4" data-gs-min-width="4" data-gs-max-width="12" data-key="distribution-map">
                        <div class="grid-stack-item-content">Distribution Map</div>
                    </div>
                    <div class="grid-stack-item" data-gs-x="4" data-gs-y="4"
                         data-gs-width="8" data-gs-height="6" data-gs-min-width="4" data-gs-max-width="12" data-key="occurrences">
                        <div class="grid-stack-item-content">Occurrences</div>
                    </div>
                    <div class="grid-stack-item" data-gs-x="0" data-gs-y="6"
                         data-gs-width="4" data-gs-height="4" data-gs-min-width="4" data-gs-max-width="12" data-key="overview">
                        <div class="grid-stack-item-content">Overview</div>
                    </div>
                    {% endif %}
                </div>
                <input type="hidden" name="dashboard_configuration" id="dashboard-configuration" />
                <div style="padding-right: 10px; padding-left: 10px;margin-top: 20px;">
                    <button class="btn btn-success" style="width: 100%" id="update-dashboard">Update</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script>
        let csrfToken = '{{ csrf_token }}';
    </script>
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridstack@1.1.2/dist/gridstack.all.js"></script>

    <script>
        let grid = null;

        let serializedData = {% if dashboard_configuration %}{{ dashboard_configuration.additional_data | safe }}{% else %}null{% endif %};
        let availableContainers = [
            'distribution-map',
            'overview',
            'occurrences',
            'occurrence-charts',
            'filter-history',
            'survey',
        ]

        const updateDashboard = (e) => {
            e.preventDefault();
            let serializedData = [];
            grid.engine.nodes.forEach(function (node) {
                let key = $(node.el).data('key');
                serializedData.push({
                    x: node.x,
                    y: node.y,
                    width: node.width,
                    height: node.height,
                    key: key
                });
            });
            serializedData = GridStack.Utils.sort(serializedData);
            $('#dashboard-configuration').val(JSON.stringify(serializedData));
            $('#dashboard-management-form').submit();
        }

        $(function () {
            let $updateDashboardBtn = $('#update-dashboard');
            grid = GridStack.init({
                resizable: {
                    handles: 'e,s,w'
                },
                removable: '#trash',
                acceptWidgets: '.new-widget',
                removeTimeout: 100,
            });
            if (serializedData) {
                grid.removeAll();
                var items = GridStack.Utils.sort(serializedData);
                grid.batchUpdate();
                items.forEach(function (node) {
                    let index = availableContainers.indexOf(node['key']);
                    if (index >= 0) {
                        availableContainers.splice(index, 1);
                    }
                    grid.addWidget(`<div data-key="${node['key']}"><div class="grid-stack-item-content">${node['key'].replace('-', ' ')}</div></div>`, node);
                });
                grid.commit();
            } else {
                availableContainers = [];
            }
            if (availableContainers.length > 0) {
                $.each(availableContainers, (index, value) => {
                    $('#container-group').append(`<option value="${value}">${value.replace('-', ' ')}</option>`);
                })
            }
            $updateDashboardBtn.click(updateDashboard);
            $('#taxon-group').change((e) => {
                location.href = '/dashboard-management/?module_group=' + $(e.target).val();
            });
            $('#container-group').change((e) => {
                let val = $(e.target).val();
                let widgetContainer = $('.new-widget-container');
                let widget = $(`<div data-key=${val}>`);
                widgetContainer.html(widget);
                widget.addClass('new-widget');
                if (val) {
                    widget.html(
                        `<div class="card-body grid-stack-item-content">
                            ${val}
                        </div>`
                    )
                }
                widget.draggable({
                    revert: 'invalid',
                    scroll: false,
                    appendTo: 'body',
                    helper: 'move'
                });
            })

        })
    </script>
{% endblock %}