{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% load site %}

{% block subtitle %}
    Download Requests
{% endblock %}

{% block head %}
    <link href="{% static "css/non_validated_list.css" %}" rel="stylesheet">
    <link rel="stylesheet"
          href="{% static 'js/libs/datepicker/datepicker.css' %}">

    <script src="{% static 'js/libs/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
{% endblock %}

{% block body_content %}
    <div style="min-height: 100%; height: auto;">
        <div class="container header-wrapper">
            <div class="dashboard-title">
                <h2>Download Requests</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <form method="get" action="" class="custom" id="download-request-filters">
                        <h5 style="border-bottom: 1px solid #b1b1b1; padding-bottom: 10px;">Filter by: </h5>
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Status</label>
                        <select class="custom-select my-1 mr-sm-2" name="approved_or_rejected">
                            <option value="" {% if not approved_or_rejected %}selected{% endif %}>Pending</option>
                            <option value="approved" {% if approved_or_rejected == 'approved' %}selected{% endif %}>Approved</option>
                            <option value="rejected" {% if approved_or_rejected == 'rejected' %}selected{% endif %}>Rejected</option>
                        </select>

                        <label class="my-1 mr-2"  for="filter-author">Requester</label>
                        <select class="custom-select my-1 mr-sm-2" name="requester" id="filter-requester">
                            <option value="">
                                All
                            </option>
                            {% for requester in requesters %}
                                <option value="{{ requester.id }}" {% if requester.id == current_requester %}selected="selected"{% endif %}>
                                    {% if requester.first_name or requester.last_name %}{{ requester.first_name }} {{ requester.last_name }}{% else %}{{ requester.username }}{% endif %}
                                </option>
                            {% endfor %}
                        </select>

                    </form>
                </div>
                <div class="col-lg-10">
                    <table class="table table-striped">
                        <tr>
                            <th style="width: 20%">Request Date</th>
                            <th style="width: 20%">Requester Name</th>
                            <th style="width: 20%">Category</th>
                            <th style="width: 20%">File</th>
                            <th style="width: 20%">Action</th>
                        </tr>
                        {% for obj in download_requests %}
                            <tr>
                                <td>
                                    {{ obj.request_date|date:'Y-m-d' }}
                                </td>
                                <td>
                                    {{ obj.get_formatted_name }}
                                </td>
                                <td>
                                    {{ obj.request_category }}
                                </td>
                                <td>
                                    <a download="{{ obj.request_file.name|filename }}.csv" href="{{ obj.request_file.url|remove_media_path }}"
                                       class="btn btn-sm btn-primary"
                                       style="font-size: 10pt; margin-top: -10px">Download</a>
                                </td>
                                <td>
                                    {% if not obj.approved and not obj.rejected %}
                                        <a href="#"
                                           class="btn btn-sm btn-outline-success approve"
                                           style="font-size: 10pt; margin-top: -10px"
                                           data-id="{{ obj.id }}">Approve</a>
                                        <a href="#"
                                           class="btn btn-sm btn-outline-danger reject"
                                           style="font-size: 10pt; margin-top: -10px"
                                           data-id="{{ obj.id }}">Reject</a>
                                    {% elif obj.approved %}
                                        <button disabled
                                                class="btn btn-sm btn-success"
                                                style="font-size: 10pt; margin-top: -10px">
                                            Approved
                                        </button>
                                    {% elif obj.rejected %}
                                        <button disabled
                                                class="btn btn-sm btn-danger"
                                                style="font-size: 10pt; margin-top: -10px">
                                            Rejected
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% if is_paginated %}
                <div class="paginator-wrapper">
                    {% include 'paginator_template.html' %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog"
         id="confirmApproveModal" data-id="">
        <form action="{{ request.path }}" method="post" id="confirm-form"
              novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="True" name="approved">
            <input type="hidden" id="approved-id" value="" name="approved_id">
            <input type="hidden" name="next"
                   value="{{ request.get_full_path }}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Approve Request</h5>
                        <button type="button" class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to approve this request?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            Approve
                        </button>
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="confirmRejectModal"
         data-id="">
        <form action="{{ request.path }}" method="post" id="confirm-form"
              novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="False" name="approved">
            <input type="hidden" id="rejected-id" value="" name="rejected_id">
            <input type="hidden" name="next"
                   value="{{ request.get_full_path }}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Reject Request</h5>
                        <button type="button" class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>What is the reason for rejecting this data?
                            (optional)</p>
                        <div class="form-group">
                            <textarea id="rejection-textarea"
                                      name="rejection_message" rows="4"
                                      class="form-control"
                                      cols="50"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">
                            Reject
                        </button>
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="detailModal"
         data-id="">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detail Collection</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/libs/datepicker/datepicker.js' %}"></script>
    <script src="{% static 'js/libs/datepicker/i18n/datepicker.en.js' %}"></script>
    <script>

        $(function () {
            const rejectionMessageDefault = 'Sorry, your request cannot be accepted.';
            $('.approve').click((e) => {
                $('#approved-id').val(($(e.target).data('id')));
                $('#confirmApproveModal').modal({
                    keyboard: false
                })
            });
            $('.reject').click((e) => {
                const confirmRejectModal = $('#confirmRejectModal');
                const rejectionTextArea = $('#rejection-textarea');
                $('#rejected-id').val(($(e.target).data('id')));
                confirmRejectModal.modal({
                    keyboard: false
                })
                confirmRejectModal.on('shown.bs.modal', function (e) {
                    rejectionTextArea.val(rejectionMessageDefault + '\n').focus();
                })
            });

            function submitFiltersFormOnChange() {
                const form = document.forms['download-request-filters'];
                form.addEventListener('change', function () {
                    form.submit();
                });
            }
            function ready(fn) {
                if (document.readyState != 'loading') {
                    fn();
                } else {
                    document.addEventListener('DOMContentLoaded', fn);
                }
            }
            ready(submitFiltersFormOnChange);
        })();

    </script>
{% endblock %}
