{% extends 'main_base.html' %}
{% load static %}
{% load thumbnail %}
{% block subtitle %}
    Edit Taxon
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "js/libs/openlayers-4.6.4/ol.css" %}"
          rel="stylesheet">
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{% static "css/site_form.css" %}" rel="stylesheet">
{% endblock %}

{% block body_content %}

    <form action="{{ request.path }}" method="post" id="site-form"
          class="needs-validation" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        <div class="body-form container">
            <div class="dashboard-title">
                <h2>
                    Edit {{ object.canonical_name }}
                    <div class="site-form-close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </h2>
            </div>

            <div class="form-group row">
                <label for="canonical_name" class="col-sm-2 col-form-label col-form-label">
                    Canonical Name
                </label>
                <div class="col-sm-10">
                    <input type="text" name="canonical_name" id="canonical_name"
                           class="form-control form-control-sm"
                           placeholder="" value="{{ object.canonical_name }}" >
                </div>
            </div>

            <div class="form-group row">
                <label for="rank" class="col-sm-2 col-form-label col-form-label">
                    Rank
                </label>
                <div class="col-sm-10">
                    <select name="rank" id="rank" class="form-control form-control-sm">
                        {% for value, label in rank_choices %}
                            <option value="{{ value }}" {% if value == object.rank %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="author" class="col-sm-2 col-form-label col-form-label">
                    Author
                </label>
                <div class="col-sm-10">
                    <input type="text" name="author" id="author"
                           class="form-control form-control-sm"
                           placeholder="" value="{{ object.author }}" >
                </div>
            </div>

            <div class="form-group row">
                <label for="tags" class="col-sm-2 col-form-label col-form-label">
                    Tags
                </label>
                <div class="col-sm-10">
                     <input type="text" name="tags" id="tags"
                           class="form-control form-control-sm"
                           placeholder="Enter tags separated by commas" value="{{ object.tags.all|join:', ' }}" >
                    <small class="form-text text-muted">
                        Add multiple tags separated by commas.
                    </small>
                </div>
            </div>

            <div class="form-group row">
                <label for="rank" class="col-sm-2 col-form-label col-form-label">
                    Conservation Status
                </label>
                <div class="col-sm-10">
                    <select name="iucn_status" id="iucn_status" class="form-control form-control-sm">
                        {% for iucn_status in iucn_status_choices %}
                            <option value="{{ iucn_status.id }}" {% if iucn_status == object.iucn_status %}selected{% endif %}>{{ iucn_status.get_status }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group submit-holder">
                {% if update %}
                    {% if allow_to_edit %}
                        <input type="button" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger" value="DELETE">
                        <input class="btn btn-success submit-button" type="submit" value="SAVE">
                    {% endif %}
                {% else %}
                    <div class="disclaimer" style="margin-bottom: 10px;">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value="" id="disclaimerCheck">
                                    <label class="form-check-label"
                                           for="disclaimerCheck"
                                           style="padding-top: 2px;">
                                        {{ preferences.SiteSetting.disclaimer_form_text|urlize|linebreaks }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-wrapper">
                        <input class="btn btn-success submit-button" type="submit" id="submitBtn" disabled value="SAVE">
                    </div>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/libs/openlayers-4.6.4/ol.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/libs/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/libs/additional-methods.min.js" %}"></script>
    <script src="{% static "js/non_requirejs/dashboard_buttons.js" %}"></script>

    <script>
        const checkbox = document.getElementById('disclaimerCheck');
        const submitButton = document.getElementById('submitBtn');
        checkbox.addEventListener('change', (event) => {
            if (event.target.checked) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        })
    </script>

{% endblock %}
