{% extends 'main_base.html' %}
{% load static from staticfiles %}

{% block title %}
    Home
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing_page.css" %}" rel="stylesheet">
    <link href="{% static "css/navbar.css" %}" rel="stylesheet">

{% endblock %}

{% block body_content %}
<div id="section-wrapper">
    <header class="masthead text-center text-white d-flex" id="header">
        {% include "carousel.html" %}
    </header>
    <section id="fish-data" style="position: relative">
      <div class="container" style="margin-bottom: 25px">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">BIODIVERSITY RECORDS</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 ml-auto text-center" id="total-fish">
            <div class="chart-icon-wrapper">
                <p class="total-data green">123</p>
                <p class="total-data-desc green">X Species</p>
                <img src="static/img/x_icon.svg" class="fish-icon fish">
                <span class="bullet"></span>
                <div class="donut-chart">
                  <canvas id="chart-fish" width="170" height="170"></canvas>
                </div>
            </div>
          </div>
          <div class="col-lg-3 text-center" id="total-invertebra" c>
            <div class="chart-icon-wrapper">
              <p class="total-data green">456</p>
              <p class="total-data-desc green">Y Species</p>
              <img src="static/img/y_icon.svg" class="fish-icon crab">
              <span class="bullet"></span>
              <div class="donut-chart">
                  <canvas id="chart-crab" width="170" height="170"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mr-auto text-center" id="total-algae">
              <div class="chart-icon-wrapper">
                <p class="total-data green">789</p>
                <p class="total-data-desc green">Z Species</p>
                <img src="static/img/z_icon.svg" class="fish-icon algae">
                <span class="bullet"></span>
                <div class="donut-chart">
                  <canvas id="chart-algae" width="170" height="170"></canvas>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    </div>

    <section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 pull-left kartoza-icon">
                <a href="http://kartoza.com/en/">
                    <img src="static/img/kartoza-logo-only.png" style="width: 55px">
                </a>
            </div>
            <div class="col-lg-2 pull-right about-links">
                <p><a>About</a></p>
                <p><a href="/contact/" style="text-decoration: none; color: white">Contact</a></p>
                <p><a>Others</a></p>
            </div>
        </div>
    </div>
    </section>
{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-easing/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/libs/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "js/libs/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "js/libs/chart/Chart-2.7.2.js" %}"></script>
    <script src="{% static "js/views/donut-chart.js" %}"></script>
    <script src="{% static "js/views/generate-donut-chart.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "js/creative.js" %}"></script>
{% endblock %}
