{% extends 'main_base.html' %}
{% load static from staticfiles %}

{% block subtitle %}
    Home
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing_page_fbis.css" %}" rel="stylesheet">
    <script>
        const showModuleSummaries = true;
    </script>

    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/chart/Chart-2.7.2.js" %}"></script>

{% endblock %}

{% block body_content %}
    <div id="section-wrapper">
        <header class="masthead text-center text-white d-flex" id="header">
            <div id="title-header">
                <div class="title-header-buttons">
                    <div class="title-header-text">
                        Tracking change in South Africa’s
                        Freshwater Biodiversity
                    </div>
                    {% if not user.is_authenticated %}
                        <a class="btn btn-account btn-l js-scroll-trigger"
                           href="/accounts/login/">Login</a>
                        <a class="btn btn-account btn-l js-scroll-trigger"
                           href="/accounts/signup/">Sign Up</a>
                        <a class="btn btn-account btn-l js-scroll-trigger"
                           href="/map">Explore</a>
                    {% else %}
                        <a class="btn btn-account btn-l js-scroll-trigger"
                           href="/map">Explore</a>
                    {% endif %}
                    {% if not site_ready %}
                    <div class="coming-soon-buttons">
                        Coming soon!
                    </div>
                    {% endif %}
                </div>
            </div>
        </header>

        <section id="fish-data">
            <div class="container modules-container" style="margin-bottom: 50px">
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="section-heading">Biodiversity Records</h2>
                    </div>
                </div>
                    <div class="module-loading">
                        <img src="{% static "loading-fbis.gif" %}"/>
                    </div>
                    {% include 'landing_page_dashboard.html' %}
                </div>
        </section>
        <div class="vertical-spacer"></div>
        <div id="about">
            <div class="row" style="margin-right: 0 !important;">
                <div class="col-lg-3 pull-left fbis-icon">
                    <a href="#" class="pull-left">
                        <img src="{% static 'img/FBIS v2 Logo.png' %}" width="230">
                    </a>
                </div>
                <div class="col-lg-6 about-links">
                    {% if site_ready %}
                    <p>
                        <a href="#">Home</a> |
                        <a href="/map">Map</a> |
                        <a href="/source-references">Documents & Reports</a> |
                        <a href="/contact">Contact</a> |
                        <a href="/pages/citation-guidelines/">Citation</a>
                    </p>
                    {% endif %}
                </div>
                <div class="col-lg-3 pull-right" style="padding-right: 0 !important; margin-left: -15px">
                    <a class="pull-right" >
                        <img src="{% static 'img/frc-logo.png' %}" height="70px" style="padding-right: 20px">
                    </a>
                    <a href="http://kartoza.com/en/" style="margin-right: 25px; " class="pull-right">
                        <img src="{% static 'img/kartoza-icon.png' %}" width="70px">
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "library/popper.js/1.11.0/popper.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-easing/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/libs/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "js/libs/magnific-popup/jquery.magnific-popup.min.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "js/landing-page.js" %}"></script>
    <script>
        $(document).ready(function () {
            showSiteNotice();
        });
    </script>
{% endblock %}
