<div class="row summary-data">
</div>

<script>
    function getNumberWithCommas(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
    $.get('/api/landing-page-summary/').then(
        function(data) {
            const $container = $('.summary-data');

            $.each(data, function(index, summaryData) {
               $container.append(
                   `<div class="col-md-4">
                        <i class="fa ${summaryData['icon']}"></i>
                        <p>${getNumberWithCommas(summaryData['value'])} ${summaryData['title']}</p>
                   </div>`
               )
            });
        }
    )
</script>