{% extends 'main_base.html' %}
{% load static %}

{% block subtitle %}
    Home
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing_page_fbis.css" %}" rel="stylesheet">
    <link href="{% static "css/custom_landing_page.css" %}" rel="stylesheet">
    <script>
        const showModuleSummaries = true;
    </script>

    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/chart/Chart-2.7.2.js" %}"></script>

{% endblock %}

{% block body_content %}
    <div id="section-wrapper">
        {% if custom_theme.carousels.all %}
            <header class="masthead text-center text-white d-flex" id="header">
                {% include "carousel_fbis.html" with app="fbis" %}
            </header>
        {% else %}
        <header class="masthead text-center text-white d-flex" id="header-fbis">
            <div id="title-header">
                <div class="title-header-buttons">
                    <div class="title-header-text">
                        Tracking change in South Africa’s
                        Freshwater Biodiversity
                    </div>
                    {% if not user.is_authenticated %}
                        <a class="btn btn-account btn-l js-scroll-trigger"
                           href="/accounts/login/">Login</a>
                        <a class="btn btn-account btn-l js-scroll-trigger"
                           href="/accounts/signup/">Sign Up</a>
                        <a class="btn btn-account btn-l js-scroll-trigger"
                           href="/map">Explore</a>
                    {% else %}
                        <a class="btn btn-account btn-l js-scroll-trigger"
                           href="/map">Explore</a>
                    {% endif %}
                    {% if not site_ready %}
                    <div class="coming-soon-buttons">
                        Coming soon!
                    </div>
                    {% endif %}
                </div>
            </div>
        </header>
        {% endif %}
        <section>
            <div class="container modules-container" style="min-height: 455px">
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="section-heading">Biodiversity Records</h2>
                    </div>
                </div>
                    <div class="module-loading">
                        <img src="{% static "loading-fbis.gif" %}"/>
                    </div>
                    {% include 'landing_page_dashboard.html' %}
                </div>
        </section>
        <section  id="fish-data">
            <div class="container  general-summary">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-12 module-container">
                        <img height="100px" src="{% static "img/occurrences-icon.png" %}"/>
                        <h3 class="gs-total" id="total_occurrences">...</h3>
                        <div class="gs-text">Occurrence Records</div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 module-container">
                        <img height="100px" src="{% static "img/taxa-icon.png" %}"/>
                        <h3 class="gs-total" id="total_taxa">...</h3>
                        <div class="gs-text">Taxa</div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 module-container">
                        <img height="100px" src="{% static "img/users-icon.png" %}"/>
                        <h3 class="gs-total" id="total_users">...</h3>
                        <div class="gs-text">Users</div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 module-container">
                        <img height="90px" style="margin-bottom: 5px; margin-top: 5px"  src="{% static "img/upload-icon.png" %}"/>
                        <h3 class="gs-total" id="total_uploads">...</h3>
                        <div class="gs-text">User uploads</div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12 module-container">
                        <img height="90px" style="margin-bottom: 10px" src="{% static "img/download-icon.png" %}"/>
                        <h3 class="gs-total" id="total_downloads">...</h3>
                        <div class="gs-text">User downloads</div>
                    </div>
                </div>
            </div>
        </section>
        {% if custom_theme.landing_page_sections %}
                {% for landing_page_section in custom_theme.landing_page_sections.all %}
                    <section class="biodiversity-data-container custom-sections"
                             style="position: relative; background-color: {{ landing_page_section.background_color }}">
                        <div class="container">
                            {% if landing_page_section.title %}
                                <div class="row">
                                    <div class="col-lg-8 mx-auto text-center">
                                        <h2 class="section-heading">{{ landing_page_section.title }}</h2>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row custom-sections-row">
                            {% for section_content in landing_page_section.contents.all %}
                                <div class="custom-sections-content">
                                    {{ section_content.content | safe }}
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </section>
                {% endfor %}
        {% endif %}
        {% for funder_section in funders_partners %}
            <section class="biodiversity-data-container grid-logos custom-sections" style="position: relative; background-color: {{ funder_section.color }}">
                <div class="container" style="margin-bottom: 25px">
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center">
                            <h2 class="section-heading">{{ funder_section.title }}</h2>
                        </div>
                        <div class="partner-container">
                            <div class="flex-container">
                                {% for partner in funder_section.org.all %}
                                    <div class="flex-item">
                                        <a href="{{ partner.link }}" target="_blank">
                                            <img src="{{ partner.logo.url }}" alt="1" class="img-responsive" data-toggle="tooltip" data-placement="bottom" title="{{ partner.name }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        {% endfor %}
        {% if custom_theme.is_footer_enabled %}
            <div class="vertical-spacer"></div>
            <div class="section-1-padding footer-bg bgimage-property get-in-touch-container">
                <div class="container">
                    <div class="row rowsafari">
                        <div class="col-sm-6 col-md-6 col-lg-6 res2-bot-pad res1-bot-pad count-res" style="text-align: center; margin-bottom: 25px;">
                             {% if custom_theme.logo %}
                                 <img src="{{ custom_theme.logo.url }}" style="max-width: 100%; width: 120px"/>
                             {% endif %}
                            <div style="margin-top: 20px;">
                                {% if custom_theme.twitter_link %}
                                    <a href="{{ custom_theme.twitter_link }}" target="_blank"><img src="{% static 'img/twitter.png' %}" class="footer-icon"/></a>
                                {% endif %}
                                {% if custom_theme.facebook_link %}
                                    <a href="{{ custom_theme.facebook_link }}" target="_blank"><img src="{% static 'img/facebook.png' %}" class="footer-icon"/></a>
                                {% endif %}
                                {% if custom_theme.instagram_link %}
                                    <a href="{{ custom_theme.instagram_link }}" target="_blank"><img src="{% static 'img/instagram.png' %}" class="footer-icon"/></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 res1-bot-pad res2-bot-pad count-res">
                            <h5 style="font-weight: bold; margin-bottom: 25px;">GET IN TOUCH</h5>
                            <div class="marg-top15 res-marg-top10 res2-top-marg10 get-in-touch-details">
                                <div class="dis-tab-cell icon-width">
                                    <i class="fa fa-envelope footer-font-size"
                                       aria-hidden="true"></i>
                                </div>
                                <div class="dis-tab-cell-top">
                                    <p class="lt-space word-br marg-bot5">
                                        <a href="mailto:{{ custom_theme.email_1 }}">{{ custom_theme.email_1 }}</a>
                                    </p>
                                    <p class="lt-space marg-bot5 word-br">
                                        <a href="mailto:{{ custom_theme.email_2 }}">{{ custom_theme.email_2 }}</a>
                                    </p>
                                </div>
                            </div>
                            <div class="marg-top10 get-in-touch-details">
                                <div class="dis-tab-cell icon-width">
                                    <i class="fa fa-phone footer-font-size"
                                       aria-hidden="true"></i>
                                </div>
                                <div class="dis-tab-cell-top">
                                    <p class="lt-space marg-bot5">{{ custom_theme.phone_1 }}</p>
                                    <p class="lt-space marg-bot5">{{ custom_theme.phone_2 }}</p>
                                </div>
                            </div>
                            <div class="marg-top10 get-in-touch-details">
                                <div class="dis-tab-cell icon-width">
                                    <i class="fa fa-map-marker footer-font-size"
                                       aria-hidden="true"></i>
                                </div>
                                <div class="dis-tab-cell-top">
                                    {{ custom_theme.address_1 | linebreaks }}
                                    <p class="lt-space word-br"></p>{{ custom_theme.address_2 | linebreaks }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="vertical-spacer"></div>
        <div id="about">
            <div class="row" style="margin-right: 0 !important;">
                <div class="col-lg-3 pull-left fbis-icon">
                    <a href="#" class="pull-left">
                        <img src="{% static 'img/FBIS v2 Logo.png' %}" width="230">
                    </a>
                </div>
                <div class="col-lg-6 about-links">
                    {% if site_ready %}
                    <p>
                        <a href="#">Home</a> |
                        <a href="/map">Map</a> |
                        <a href="/source-references">Documents & Reports</a> |
                        <a href="/contact">Contact</a> |
                        <a href="/pages/citation-guidelines/">Citation</a>
                    </p>
                    {% endif %}
                </div>
                <div class="col-lg-3 pull-right" style="padding-right: 0 !important; margin-left: -15px">
                    <a class="pull-right" >
                        <img src="{% static 'img/frc-logo.png' %}" height="70px" style="padding-right: 20px">
                    </a>
                    <a href="http://kartoza.com/en/" style="margin-right: 25px; " class="pull-right">
                        <img src="{% static 'img/kartoza-icon.png' %}" width="70px">
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "library/popper.js/1.11.0/popper.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-easing/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/libs/scrollreveal/scrollreveal.min.js" %}"></script>
    <script src="{% static "js/libs/magnific-popup/jquery.magnific-popup.min.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "js/landing-page.js" %}"></script>
    <script>
        $(document).ready(function () {
            showSiteNotice();
        });
    </script>
{% endblock %}
