{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% load jsonify %}

{% block subtitle %}
    Home
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing_page.css" %}" rel="stylesheet">
    <script type="text/javascript">
        const summaries = '{{ summaries|jsonify|safe }}';
    </script>
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>

{% endblock %}

{% block body_content %}
    <div id="section-wrapper">
        <div id="header-wrapper">
            {% if custom_theme.carousels.all %}
            <header class="masthead text-center text-white d-flex" id="header">
                {% include "carousel.html" %}
            </header>
            {% endif %}
            <section class="biodiversity-data-container" style="position: relative;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center">
                            <h2 class="section-heading">BIODIVERSITY
                                RECORDS</h2>
                        </div>
                    </div>
                    {% include 'landing_page_dashboard.html' %}

                    <div class="row" style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
                        <a href="/map" class="btn btn-primary btn-explore-map"><i class="fa fa-map-o"></i> &nbsp;Explore Map »</a>
                    </div>
                </div>
            </section>
            {% if custom_theme.partners.all %}
            <section class="biodiversity-data-container grid-logos" style="position: relative; background-color: #f5f5f5a6">
                <div class="container" style="margin-bottom: 25px">
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center">
                            <h2 class="section-heading">PARTNERS</h2>
                        </div>
                        <div class="partner-container">
                            <div class="flex-container">
                                {% for partner in custom_theme.partners.all %}
                                    <div class="flex-item">
                                        <a href="{{ partner.link }}" target="_blank">
                                            <img src="{{ partner.logo.url }}" alt="1" class="img-responsive" data-toggle="tooltip" data-placement="bottom" title="{{ partner.name }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            {% endif %}
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}

{% block foot %}
    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/libs/chart/Chart-2.7.2.js" %}"></script>
    <script src="{% static "js/landing-page.js" %}"></script>
    <script>
        $(document).ready(function () {
            showSiteNotice();
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}
