{% extends 'location_site/location_site_form_base.html' %}
{% load static %}
{% load thumbnail %}
{% block subtitle %}
    Location Site
{% endblock %}

{% block body_content %}

        <div class="body-form container">
            {% if messages %}
                    {% for message in messages %}
                        {% if message.extra_tags == 'location_site_form' %}
                            <div class="alert alert-success {{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
            {% endif %}
            <div class="dashboard-title">
                <h2>
                    Site Details {{ location_site }}
                    <div class="site-form-close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </h2>
            </div>
            <div class="alert alert-danger" role="alert"
                 style="display: none;">
            </div>
            <div id="site-map"></div>

            <div class="alert alert-danger" id="form-alert" role="alert" style="display: none">
            </div>
            <div class="form-group row">
                <label for="date"
                       class="col-sm-2 col-form-label col-form-label">Latitude</label>
                <div class="col-sm-2">
                    <input type="text" name="latitude"
                       class="form-control form-control-sm" style="height: 100%"
                       value="{{ location_site.latitude }}" disabled>
                </div>
                <label for="date"
                       class="col-sm-2 col-form-label col-form-label" style="text-align: right">Longitudeol</label>
                <div class="col-sm-2">
                    <input type="text" name="longitude"
                       class="form-control form-control-sm" style="height: 100%"
                       value="{{ location_site.longitude }}" disabled >
                </div>

            </div>
            {% if preferences.SiteSetting.default_data_source.lower == 'fbis' %}
            <div class="form-group row">
                <label for="river_name" class="col-sm-2 col-form-label">
                    River Name
                </label>
                <div class="col-sm-6">
                    <input type="text" name="river_name" id="river_name" class="form-control form-control-sm" value="{{ location_site.river.name }}" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="user_river_name"
                       class="col-sm-2 col-form-label col-form-label">User River Name</label>
                <div class="col-sm-10">
                    <input type="text" name="user_river_name" id="user_river_name"
                           class="form-control form-control-sm"
                           placeholder="" value="{% if location_site.legacy_river_name %}{{ location_site.legacy_river_name }}{% else %}{% endif %}" disabled>
                </div>
            </div>
            {% endif %}
            <div class="form-group row">
                <label for="site_name"
                       class="col-sm-2 col-form-label col-form-label">Site Code</label>
                <div class="col-sm-6">
                    <input type="text" name="site_code" id="site_code"
                           class="form-control form-control-sm"
                           placeholder="" value="{{ location_site.site_code }}" disabled>
                </div>

            </div>
            <div class="form-group row">
                <label for="legacy_site_code"
                       class="col-sm-2 col-form-label col-form-label">User Site Code</label>
                <div class="col-sm-10">
                    <input type="text" name="legacy_site_code" id="legacy_site_code"
                           class="form-control form-control-sm"
                           placeholder="" value="{% if legacy_site_code %}{{ legacy_site_code }}{% else %}{% endif %}" disabled>
                </div>
            </div>
            {% if preferences.SiteSetting.default_data_source.lower == 'fbis' %}
            <div class="form-group row">
                <label for="site_name"
                       class="col-sm-2 col-form-label col-form-label">Geomorphological Zone</label>
                <div class="col-sm-6">
                    <input type="text" name="geomorphological_zone" id="geomorphological_zone"
                           class="form-control form-control-sm"
                           placeholder="" value="{{ location_site.original_geomorphological }}" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="site_name"
                       class="col-sm-2 col-form-label col-form-label">User Geomorphological Zone</label>
                <div class="col-sm-10">
                    <input name="refined_geomorphological_zone" class="form-control form-control-sm"
                           value="{{ location_site.refined_geomorphological }}" disabled>

                </div>
            </div>
            {% endif %}
            {% if preferences.SiteSetting.site_code_generator == 'bims' %}
                <div class="form-group row">
                    <label for="site_name"
                           class="col-sm-2 col-form-label col-form-label">
                        {% if preferences.SiteSetting.default_data_source|lower == 'sanparks' %}
                            Park Name
                        {% else %}
                            Site Name
                        {% endif %}
                    </label>
                    <div class="col-sm-10">
                        <input type="text" name="site_name"
                               id="site_name"
                               class="form-control form-control-sm"
                               value="{{ location_site.name }}" disabled>
                    </div>
                </div>
            {% endif %}
            <div class="form-group row">
                <label for="site_name"
                       class="col-sm-2 col-form-label col-form-label">Site Description</label>
                <div class="col-sm-10">
                    <input type="text" name="site_description"
                           class="form-control form-control-sm"
                           placeholder="" value="{{ location_site.site_description }}" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="site_name"
                       class="col-sm-2 col-form-label">Owner
                    </label>
                <div class="col-sm-10">
                    <input type="text" onClick="this.setSelectionRange(0, this.value.length)"
                           class="form-control form-control-sm"
                           placeholder="" value="{{ fullname }}" id="owner" disabled>
                    <input type="hidden" name="owner" id="owner_id" value="{{ user_id }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="site_image" class="col-2 col-form-label">
                    Abiotic Data
                </label>
                <div class="col-10">
                    {% if surveys %}
                    <ul class="list-group">
                        {% for survey in surveys %}
                        <li class="list-group-item d-flex justify-content-between align-items-center survey">
                            {{ survey.date }}
                            <span class="badge badge-primary badge-pill">Abiotic records : {{ survey.chemical_record_count }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <div style="padding-top: 10px;">-</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label for="site_image" class="col-2 col-form-label">
                    Site Image
                </label>
                <div class="col-10">

                    {% if site_image %}
                    <div id="siteImageCarousel" class="site-image-gallery carousel slide" data-ride="carousel" data-interval="false">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% for image in site_image %}
                                {% if forloop.counter0 == 0 %}
                                    <li data-target="#siteImageCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                                {% else %}
                                    <li data-target="#siteImageCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for image in site_image %}
                                {% if forloop.counter0 == 0 %}
                                    <div class="carousel-item active" data-id="{{ image.id }}" data-image-url="{{ image.image.url }}">
                                {% else %}
                                    <div class="carousel-item" data-id="{{ image.id }}" data-image-url="{{ image.image.url }}">
                                {% endif %}
                                {% if image.image|is_portrait %}
                                    {% thumbnail image.image "x500" crop="center" as thumb %}
                                        <a href="/uploaded/{{ image.image }}"
                                            target="_blank"><img
                                            src="{{ thumb.url }}"
                                            height="{{ thumb.height }}"
                                            width="{{ thumb.width }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail image.image "500" crop="center" as thumb %}
                                        <a href="/uploaded/{{ image.image }}"
                                            target="_blank"><img
                                            src="{{ thumb.url }}"
                                            height="{{ thumb.height }}"
                                            width="{{ thumb.width }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev"
                           href="#siteImageCarousel" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon"
                                  aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next"
                           href="#siteImageCarousel" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon"
                                  aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <div class="image-buttons-wrapper">
                            <div class="btn btn-success open-image-btn">Open image</div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

{% endblock %}
