{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% block subtitle %}
    Location Site Form
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "js/libs/openlayers-4.6.4/ol.css" %}"
          rel="stylesheet">
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{% static "css/site_form.css" %}" rel="stylesheet">

    <script type="text/javascript">
        const geoserverPublicUrl = '{{ geoserver_public_location }}';
        const locationSiteGeoserverLayer = '{{ bims_preferences.geoserver_location_site_layer }}';
        const defaultWMSSiteParameters = '{{ bims_preferences.default_location_site_cluster }}';
        const locationSiteLat = '{{ location_site_lat }}';
        const locationSiteLong = '{{ location_site_long }}';
    </script>

{% endblock %}

{% block body_content %}

    <form action="{{ request.path }}" method="post" id="site-form"
          class="needs-validation" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {% if update %}
            <input type="hidden" name="id" value="{{ site_id }}">
        {% endif %}
        <div class="body-form container">
            {% if messages %}
                    {% for message in messages %}
                        {% if message.extra_tags == 'location_site_form' %}
                            <div class="alert alert-success {{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
            {% endif %}
            <div class="header">
                {% if update %}
                    Update a location site
                {% else %}
                    Add a location site
                {% endif %}
                <span id="site-identifier">
                {% if location_site_code %}{{ location_site_code }} {% else %}
                    {{ location_site_name }}{% endif %}
                </span>
            </div>
            <div class="alert alert-danger" role="alert"
                 style="display: none;">
            </div>
            <div id="site-map"></div>
            <div class="form-group row">
                <label for="date"
                       class="col-sm-1 col-form-label col-form-label">Latitude*</label>
                <input type="text" id="latitude" name="latitude"
                       class="col-sm-2 form-control form-control-sm"
                       value="{{ location_site_lat }}">
                <label for="date"
                       class="col-sm-1 col-form-label col-form-label">Longitude*</label>
                <input type="text" id="longitude" name="longitude"
                       class="col-sm-2 form-control form-control-sm"
                       value="{{ location_site_long }}">
                <div class="update-taxon-container col-sm-2">
                    <button id="update-coordinate" type="button"
                            class="btn btn-default" disabled>
                        Update coordinate
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <label for="site_name"
                       class="col-sm-2 col-form-label col-form-label">Site
                    Code*</label>
                <div class="col-sm-4">
                    <input type="text" name="site_code" id="site_code"
                           class="form-control form-control-sm"
                           placeholder="" value="{{ site_code }}" required>
                    <input type="hidden" name="river" id="river">
                    <input type="hidden" name="catchment_geocontext" id="catchment_geocontext">
                </div>
                <div class="update-taxon-container col-sm-2">
                    <button id="update-site-code" type="button"
                            class="btn btn-default" disabled>
                        Generate site code
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <label for="site_name"
                       class="col-sm-2 col-form-label col-form-label">Geomorphological Zone</label>
                <div class="col-sm-4">
                    <input type="text" name="geomorphological_zone" id="geomorphological_zone"
                           class="form-control form-control-sm"
                           placeholder="" value="{{ original_geo_zone }}" readonly>
                    <input type="hidden" name="geomorphological_group_geocontext" id="geomorphological_group_geocontext">
                </div>
                <div class="update-taxon-container col-sm-2">
                    <button id="fetch-geomorphological-zone" type="button"
                            class="btn btn-default" disabled>
                        Fetch data
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <label for="site_name"
                       class="col-sm-2 col-form-label col-form-label">Refined Geomorphological Zone</label>
                <div class="col-sm-10">
                    <select name="refined_geomorphological_zone" class="form-control form-control-sm">
                        <option value="">-</option>
                        {% for geo in geomorphological_zone_category %}
                            <option value="{{ geo.0 }}" {% if geo.0 == refined_geo_zone %}selected{% endif %}>{{ geo.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="site_name"
                       class="col-sm-2 col-form-label col-form-label">Site
                    Description</label>
                <div class="col-sm-10">
                    <input type="text" name="site_description"
                           class="form-control form-control-sm"
                           placeholder="" value="{{ site_description }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="site_name"
                       class="col-sm-2 col-form-label col-form-label">Collector
                    </label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control form-control-sm"
                           placeholder="" value="{{ request.user.username }}" disabled>
                    <input type="hidden" name="collector" value="{{ request.user.id }}">
                </div>
            </div>
            <div class="form-group submit-holder">
                <input class="btn btn-success submit-button" type="submit" value="{% if update %}SAVE{% else %}ADD{% endif %}">
            </div>
        </div>
    </form>

{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/libs/openlayers-4.6.4/ol.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/non_requirejs/site_form.js" %}"></script>

{% endblock %}