{% load static %}
{% load pipeline %}
{% load grunt %}
{% load site %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if custom_theme.logo %}
        <link rel="icon" type="image/png" href="{{ custom_theme.logo.url }}" />
    {% else %}
        {% if preferences.SiteSetting.default_data_source.lower == 'fbis' %}
            <link rel="icon" type="image/png" href="{% static 'img/fbis-favicon.png' %}" />
        {% else %}
            <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
        {% endif %}
    {% endif %}
    <title>{% block title %} {% if custom_theme.site_name %}{{ custom_theme.site_name }}{% else %}{{ APPLICATION_NAME }}{% endif %} | {% block subtitle %}{% endblock %} {% endblock %}</title>

    <link href="{% static "js/libs/bootstrap-4.0.0/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <style>
        :root {
            --main-accent-color: {% if custom_theme.main_accent_color %}{{ custom_theme.main_accent_color }}{% else %}#18A090{% endif %};
            --secondary-accent-color: {% if custom_theme.secondary_accent_color %}{{ custom_theme.secondary_accent_color | hex_to_rgb }}{% else %}219, 175, 0{% endif %};
            --main-button-text-color: {% if custom_theme.main_button_text_color %}{{ custom_theme.main_button_text_color }}{% else %}#fff{% endif %};
            --navbar-bg-color: {% if custom_theme.navbar_background_color %}{{ custom_theme.navbar_background_color }}{% else %}#343a40{% endif %};
            --navbar-txt-color: {% if custom_theme.navbar_text_color %}{{ custom_theme.navbar_text_color }}{% else %}#fff{% endif %};
            --auth-background: url({% if custom_theme.auth_background %}{{ MEDIA_URL }}/{{ custom_theme.auth_background }}{% else %}/static/img/Login_Background.jpg{% endif %});
        }
    </style>

    {% block pre-head %} {% endblock %}
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    {% if preferences.SiteSetting.default_data_source.lower == 'fbis' %}
        <link href="{% static "css/fbis/navbar.css" %}" rel="stylesheet">
    {% else %}
        <link href="{% static "css/navbar.css" %}" rel="stylesheet">
    {% endif %}
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="{% static "css/fonts.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400i,500,500i,700,700i|Roboto+Condensed:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTIC_KEY }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ GOOGLE_ANALYTIC_KEY }}');
        const tenant = '{{ request.tenant }}'
        const isSiteNoticeAvailable = {% if preferences.SiteSetting.site_notice %}true{% else %}false{% endif %};
        const is_logged_in = {% if user.is_authenticated  %} true {% else %} false {% endif %};
        const reportUrl = '{% url "bug-report" %}';
        const wetlandFeedbackUrl = '{% url "wetland-feedback" %}';
        const githubRepo = '{{ preferences.SiteSetting.github_feedback_repo }}';
        const downloadRequestMessage = '{{ download_request_message }}';
        const mainAccentColor = '{% if custom_theme.main_accent_color %}{{ custom_theme.main_accent_color }}{% else %}#18A090{% endif %}';
        const secondaryAccentColor = '{% if custom_theme.secondary_accent_color %}{{ custom_theme.secondary_accent_color }}{% else %}#ffc107{% endif %}';
        const hideSiteVisits = '{% if custom_theme.hide_site_visit %}{{ custom_theme.hide_site_visit }}{% else %}false{% endif %}';
        const locationSiteName = '{% if custom_theme.location_site_name %}{{ custom_theme.location_site_name }}{% else %}Site{% endif %}';
        const locationSiteNamePlural = '{% if custom_theme.location_site_name_plural %}{{ custom_theme.location_site_name_plural }}{% else %}Sites{% endif %}';
        const bingMapKey = '{{ BING_MAP_KEY }}';
        let siteDetailsData = null;
    </script>

    <script src="{% static 'js/non_requirejs/cookies.js' %}"></script>
    <script src="{% static 'js/non_requirejs/site_notice.js' %}"></script>
    <script src="{% static 'js/utils/font_awesome_icons.js' %}"></script>
    {% block head %} {% endblock %}

</head>
<body id="page-top">
<!-- Modal -->
<div class="modal fade" id="siteNoticeModal" tabindex="-1" role="dialog" aria-labelledby="siteNoticeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="siteNoticeModalLabel">Site Notice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ preferences.SiteSetting.site_notice|urlize|linebreaks }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true" style="z-index: 99999">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="alertModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Download popup modal -->
<div class="modal" tabindex="-1" role="dialog" id="download-popup" style="z-index: 99999">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Download <span id="download-popup-title"></span></h5>
      </div>
      <div class="modal-body">
       <div class="form-group">
           <label for="download-purpose">Purpose</label>
           <select class="form-control" id="download-purpose">
               {% for purpose in download_request_purpose %}
                   <option value="{{ purpose.id }}">{{ purpose.name }}</option>
               {% endfor %}
           </select>
       </div>
       <div class="form-group">
           <label for="download-details">Notes (optional)</label>
           <textarea class="form-control" name="download_notes" id="download-notes"></textarea>
       </div>

        <div class="form-group" id="data-format" style="display: none">
           <label for="download-purpose">Format</label>
           <select class="form-control" id="download-format">
               <option value="CSV">CSV</option>
               <option value="XLS">Excel</option>
           </select>
       </div>
      <div class="form-group" id="data-format-pdf" style="display: none">
           <label for="download-purpose">Format</label>
           <select class="form-control" id="download-format-pdf">
               <option value="CSV">CSV</option>
               <option value="XLS">Excel</option>
               <option value="PDF">PDF</option>
           </select>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary submit-download">Download</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End download popup modal -->

{% block navigation %}
    <!-- Navigation -->
    {% if preferences.SiteSetting.default_data_source.lower == 'fbis' %}
        {% include 'fbis/navigation_bar.html' %}
    {% else %}
        {% include 'navigation_bar.html' %}
    {% endif %}
{% endblock %}

{% block body_content %} {% endblock %}
{% block foot %} {% endblock %}

{% if '/map/' not in request.get_full_path %}
    <script>
        const csrfmiddlewaretoken = '{{ csrf_token }}';
    </script>
    <link href="{% static "css/bug_report_panel_style.css" %}" rel="stylesheet">
    <script src="{% static 'js/utils/detect-browser.js' %}"></script>
    <script src="{% static 'js/non_requirejs/bug_report.js' %}"></script>
    <script src="{% static 'js/libs/chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'js/utils/helpers.js' %}"></script>
    {% include 'bug_report_template.html' %}
{% endif %}
<script src="{% static 'js/non_requirejs/download_request_popup.js' %}"></script>

</body>

{% block extra_foot %} {% endblock %}

</html>
