{% load static from staticfiles %}
{% load pipeline %}
{% load grunt %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %} Title {% endblock %}</title>

    {% stylesheet 'healthyriver-base' %}
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,500,500i,700,700i|Roboto+Condensed:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

    {% block head %} {% endblock %}

</head>
<body id="page-top">

    {% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
             <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-reorder user-icon"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link js-scroll-trigger" href="/accounts/logout/">Menu 1</a></li>
                        <li><a class="nav-link js-scroll-trigger" href="/accounts/login/">Menu 2</a></li>
                    </ul>
            </li>
          </ul>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
             <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user user-icon"></i></a>
                    <ul class="dropdown-menu">
                     {% if user.is_authenticated %}
                        <li><a class="nav-link js-scroll-trigger" href="/accounts/logout/"><i class="fa fa-sign-out"></i> Logout</a></li>
                     {% else %}
                        <li><a class="nav-link js-scroll-trigger" href="/accounts/login/"><i class="fa fa-sign-in"></i> Login</a></li>
                        <li><a class="nav-link js-scroll-trigger" href="/accounts/signup/">Sign Up</a></li>
                     {% endif %}
                    </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

    {% block body_content %} {% endblock %}

    <!-- Bootstrap core JavaScript -->

    {% block foot %} {% endblock %}

</body>


</html>