{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% load grunt %}

{% block title %}
    Home
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/map.css" %}" rel="stylesheet">
    <link href="{% static "css/loading.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/ol-layerswitcher/ol3-layerswitcher.css" %}" rel="stylesheet">

    <script type="text/javascript">
        const bingMapKey = '{{ bing_map_key }}';
        const geocontextUrl = '{{ geocontext_url }}';
    </script>
{% endblock %}

{% block body_content %}
    <div id="map-container"></div>

    <script type='text/html' id='map-template'>
        <div id="map" class="map"></div>
        <div id="geocontext-popup" class="ol-popup">
            <a href="#" id="geocontext-closer" class="ol-popup-closer"></a>
            <div id="geocontext-content"></div>
        </div>
    </script>

    <script type='text/html' id='side-panel-template'>
        <div class="right-panel">
            <div class="right-panel-title">
                <i class="fa fa-map-marker"></i> <span class="site-name"> Site #number </span>
                <i class="fa fa-times close-panel"></i>
            </div>
            <div class="row side-panel">
                <div class="col-lg-6" id="content-panel"></div>
            </div>
            <div class="row side-panel panel-loading">
                <img src="{% static "img/small-loading.svg" %}" alt="Loading view">
            </div>
            <div class="row side-panel panel-icons">
            </div>
        </div>
    </script>

    <script type="text/html" id="map-control-panel">
        <div class="map-control-panel">
            <div class="search-control sub-control-panel">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div class="filter-control sub-control-panel">
                <i class="fa fa-map" aria-hidden="true"></i>
            </div>
            <div class="location-control sub-control-panel">
                <i class="fa fa-info" aria-hidden="true"></i>
            </div>
        </div>
        <div class="zoom-control row">
            <div class="col-lg-6 sub-zoom-control zoom-out"><i class="fa fa-plus" aria-hidden="true"></i></div>
            <div class="col-lg-6 sub-zoom-control zoom-in"><i class="fa fa-minus" aria-hidden="true"></i></div>
        </div>
        <div class="map-search-box">
            <div class="row">
                <div class="col-lg-6">
                    <div class="map-search-title">
                        SEARCH
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="map-search-close">
                        X
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="search-box">
                    <div class="container-1">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" id="search" placeholder="Search..."/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 map-filter-title">
                    FILTER
                </div>
            </div>
            <div class="row">
                <div class="slide-container">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </div>
        </div>
    </script>

{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>

    {% grunt_module "map_view" %}

{% endblock %}
