{% extends 'main_base.html' %}
{% load static from staticfiles %}

{% block subtitle %}
    Source References
{% endblock %}

{% block pre-head %}
    <link rel="stylesheet"
          href="{% static "lib/select2-4.1.0/css/select2.min.css" %}">
    <style>
        .card {
            margin-bottom: 10px;
        }

        .custom-control-label {
            max-width: 80%;
        }

        .reference-filter-title {
            margin-bottom: 0 !important;
            font-weight: bold;
        }
        .badge-occurrences {
            font-size: 9pt;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 8px;
            padding-bottom: 8px;
        }
        .badge-zero {
            background-color: #b8b8b8;
        }
        .reference-type-label {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 10pt;
        }
        .active.active:hover {
            color: white;
        }
        .input-group-append:hover {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body_content %}
    <!-- Page Header -->
    <div class="body-container container">
        <div class="dashboard-title">
            <h2>Explore Source References&nbsp;<span class="vertical-separator"></span>{{ page_obj.paginator.count }} Result{% if page_obj.paginator.count > 1 %}s{% endif %}</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-12">
                <div class="input-group md-form form-sm form-2 pl-0" style="margin-bottom: 10px;">
                    <input class="form-control my-0 py-1 red-border"
                           type="text" placeholder="Search"
                           aria-label="Search" value="{{ search }}" id="search-input">
                    <div class="input-group-append">
                        <span class="input-group-text red lighten-3" id="basic-text1">
                            <i class="fa fa-search text-grey" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="card">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title reference-filter-title">Type</h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body" data-filter="type">
                                {% for source_type in type %}
                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">{{ source_type.count }}</span>
                                        <input type="checkbox"
                                               value="{{ source_type.key }}"
                                               class="custom-control-input"
                                               id="{{ source_type.key }}"
                                               {% if source_type.selected %}checked{% endif %}>
                                        <label class="custom-control-label"
                                               for="{{ source_type.key }}">{{ source_type.title }}</label>
                                    </div> <!-- form-check.// -->
                                {% endfor %}
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                </div> <!-- card.// -->

                <div class="card">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title reference-filter-title">Author(s)</h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body" data-filter="type">
                                <select class="form-control owner-auto-complete" multiple="multiple">
                                    {% for author in collector_owner %}
                                        <option selected value="{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</option>
                                    {% endfor %}
                                </select>
                                <br/><br/>
                                <button class="btn btn-primary apply-author-filter" style="width: 100%">Apply</button>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                </div> <!-- card.// -->

            </div>
            <div class="col-lg-9 col-md-8 col-xs-12">
                {% if perms.bims.change_sourcereference %}
                    <a href="/add-source-reference/" class="btn btn-info" style="margin-bottom: 10px"><i class="fa fa-plus"></i>&nbsp Add Source Reference</a>
                {% endif %}
                {% for source_reference in object_list %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p class="reference-type-label">{{ source_reference.reference_type }}</p>
                                    <h5 class="card-title">{{ source_reference.link_template | safe }}</h5>
                                    <p style="color: #8a8a8a;font-size: 0.9em;"> Source : {{ source_reference.reference_source }}</p>
                                    <p class="card-text"><i class="fa fa-calendar"
                                                            aria-hidden="true"></i> {{ source_reference.year }} <span class="vertical-separator"></span>  <i class="fa fa-users"
                                                            aria-hidden="true"></i> {{ source_reference.authors }}
                                        {% if 'Published' in source_reference.reference_type %}
                                            <span class="vertical-separator"></span> <button class="btn btn-light copy-document-id" data-document-id="{{ source_reference.source.id }}">Copy Document ID</button>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="card-text">
                                {% if source_reference.occurrences > 0 %}
                                    <a href='/map/#search//taxon=&search=&reference=["{{ source_reference.id }}"]'><span
                                            class="badge badge-info badge-occurrences">{{ source_reference.occurrences }} records</span>
                                    </a>
                                {% else %}
                                    <span class="badge badge-info badge-occurrences badge-zero">{{ source_reference.occurrences }} records</span>
                                {% endif %}
                                {% if perms.bims.change_sourcereference %}
                                    <div class="float-right">
                                        <a href="/edit-source-reference/{{ source_reference.id }}/?next={{ request.get_full_path | urlencode }}" class="badge badge-primary badge-occurrences">Update</a>
                                    </div>
                                     <div class="float-right">
                                        <a href="#" class="badge badge-danger badge-occurrences delete-reference" data-reference-id="{{ source_reference.id }}">Delete</a>&nbsp;
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="container">
            <div class="paginator-wrapper">
                {% include 'paginator_template.html' %}
            </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}

{% block foot %}
    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "lib/select2-4.1.0/js/select2.full.min.js" %}"></script>
    <script src="{% static "js/utils/insert_param_to_url.js" %}"></script>
    <script src="{% static "js/non_requirejs/multi_author_select.js" %}"></script>
    <script>

        const csrfToken = '{{ csrf_token }}';
        const authorIds = [];

        $('.copy-document-id').click(function (e) {
          let documentId = window.location.origin + '/documents/' + $(e.target).data('document-id');
          /* Copy the text inside the text field */
          navigator.clipboard.writeText(documentId);
          /* Alert the copied text */
          alert("Copied the text: " + documentId);
        })

        $('.custom-control-input').change(function (e) {
            let $parent = $(e.target).parent().parent();
            let filterName = $parent.data('filter');
            let checkedVals = $parent.find(':checkbox:checked').map(function () {
                return this.value;
            }).get();
            insertParam(filterName, checkedVals);
        })

        $('.input-group-append').click(function (e) {
            let value =  $('#search-input').val();
            insertParam('q', value);
        })

        $('.delete-reference').click(function (e) {
            e.preventDefault();
            const referenceId = $(e.target).data('reference-id');
            let r = confirm("Are you sure you want to remove this reference?");
            if (r === true) {
                $.ajax({
                    url: "/delete-source-reference/",
                    headers: {"X-CSRFToken": csrfToken},
                    type: 'POST',
                    data: {
                        'reference_id': referenceId
                    },
                    success: function (res) {
                        location.reload();
                    }
                });
            }
        })

        $('.apply-author-filter').click(function(e) {
            const $target = $(e.target).parent();
            const authorIds = $target.find('.author_result').map(function () {
                return $(this).data("author-id");
            }).get();
            insertParam('collectors', authorIds.join(','))
        })

    </script>
{% endblock %}
