{% extends 'main_base.html' %}
{% load static %}

{% block subtitle %}
    Upload {{ title }}
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/csv_uploader.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/openlayers-4.6.4/ol.css" %}"
          rel="stylesheet">
    <style>
        #log-container {
            background-color: black !important;
            color: white !important;
            font-size: 10pt;
        }
        body {
            background-image: none;
        }
    </style>

{% endblock %}

{% block body_content %}

    <div class="loading">Loading&#8230;</div>
    <div class="body-form container" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="dashboard-title">
                <h2>
                    Upload {{ title }}
                    <div class="upload-form-close dashboard-close-button">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </h2>
            </div>

            {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == 'spatial_layer_upload' %}
                        <div class="alert alert-{% if 'success' in message.tags %}success{% else %}danger{% endif %}" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="modal-body">
            <div class="alert alert-warning alert-block" style="margin-bottom: 20px; padding: 15px; padding-bottom: 0">
                Please review the following requirements before uploading your file:
                <ul>
                    <li>Ensure the file's coordinate system uses the EPSG:4326 projection.</li>
                </ul>
            </div>

            <form action="{{ request.path }}" method="post" id="spatial-layer-upload" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                <div class="help-block">
                    <div class="help-block-space"></div>
                    <div class="form-group row">
                        <label for="inputLayerName"
                               class="col-sm-2 col-form-label">
                            <b>Name</b>
                        </label>
                        <div class="col-sm-10">
                            <input name="name" class="form-control" type="text" id="layer-name"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLayerName"
                               class="col-sm-2 col-form-label">
                            <b>Files</b>
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" name="files" accept="*" id="spatial-layer-file" multiple/>

                            <span class="text-muted" style="font-size: 10pt; position: absolute;">
                                Currently, only shapefiles are supported for upload.
                            </span>
                        </div>
                    </div>
                    <div class="help-block-space"></div>

                    <button class="btn btn-primary" type="submit" id="submit-btn" disabled>Submit</button>
                </div>
            </form>

            {# Upload sessions #}
            {% if upload_sessions %}
                <div class="upload-progress-container">
                    <h5>Current process : </h5>
                    {% for upload_session in upload_sessions %}
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title" style="font-weight: 600">{{ upload_session.layer }}</h5> <div style="float: right; margin-top: -40px">
                            </div>
                            <p>Uploaded at {{ upload_session.created_at }}</p>
                            <p style="margin-top: -5px">Uploaded by {{ upload_session.created_by }}</p>
                            <p class="card-text">Status : <span class="progress-text">{% if upload_session.status %}{{ upload_session.status }}{% else %}Processing{% endif %}</span></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}

            {# Upload sessions #}
            {% if uploaded_layers %}
                <div class="upload-progress-container">
                    <h5>Processed layers : </h5>
                    {% for upload_session in uploaded_layers %}
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title" style="font-weight: 600">{{ upload_session.layer }}</h5>
                                <p>Uploaded at {{ upload_session.created_at }}</p>
                                <p style="margin-top: -5px">Uploaded by {{ upload_session.created_by }}</p>
                                {% if upload_session.canceled %}
                                    <p style="color:red">Canceled</p>
                                {% else %}
                                {% if upload_session.status != 'Success' %}
                                <p class="card-text">Result : {% if upload_session.status %}{{ upload_session.status }}{% else %}Processing{% endif %}</p>
                                {% endif %}
                                {% endif %}
                                {% if upload_session.maputnik_url %}
                                    <p class="card-text">
                                        <a class="btn btn-primary" target="_blank" href="{{ upload_session.maputnik_url }}">Style Editor</a>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            </div>
    </div>


{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/openlayers-4.6.4/ol.js" %}"></script>
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static 'js/utils/helpers.js' %}"></script>
    <script type="module" src="{% static "js/upload-spatial-layer.js" %}"></script>
    <script type="module" src="{% static "js/non_requirejs/dashboard_buttons.js" %}"></script>

{% endblock %}
