{% extends 'main_base.html' %}
{% load static %}
{% load site %}
{% load render_bundle from webpack_loader %}
{% block subtitle %}
    Taxa management
{% endblock %}
{% is_debug as debug %}

{% block head %}

    <!-- Custom styles for this template -->
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet"
          href="{% static "lib/select2-4.1.0/css/select2.min.css" %}">
    <link href="{% static "css/fish_form.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard_buttons.css" %}" rel="stylesheet">
    <link href="{% static "css/taxa_management.css" %}" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.8/fc-5.0.1/fh-4.0.1/datatables.min.css" rel="stylesheet">
    <script>
        const sourceCollection = {{ source_collections | safe }};
        const userCanEditTaxonGroup = {% if perms.bims.change_taxongroup %}true{% else %}false{% endif %};
        const userCanEditTaxon = {% if perms.bims.change_taxonomy %}true{% else %}false{% endif %};
        const isExpert = {% if is_expert %}true{% else %}false{% endif %}
        const rejectUrl = '/api/review-taxon/';
        const approveUrl = '/api/review-taxon/';
        let userAutocompletePlaceholder = 'Search for an expert';
        const taxaGroups = {{ taxa_groups_json | safe }};
    </script>
{% endblock %}

{% block body_content %}
    <div class="loading">
        <img src="/static/img/small-loading.svg"
             width="150"
             style="filter: brightness(104%) contrast(97%);"
             alt="Loading view">
    </div>
    {% if preferences.SiteSetting.default_data_source.lower == 'fbis' %}
    {% else %}
        <div class="nav-space" style="height: 51px;"></div>
    {% endif %}
    <div class="list-form container-fluid">
        <div class="row" style="height: 100%">
            <div class="col-2 side-panel">
                <ul id="sortable">
                    {% for taxa_group in taxa_groups %}
                        {% include "_taxongroup_item.html" with taxon_group=taxa_group %}
                    {% endfor %}
                </ul>
                {% if user.is_superuser %}
                    <div style="width: 100%; text-align: center">
                        <button class="btn btn-success btn-md my-0 ml-sm-2 mt-2 add-new-module"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                {% endif %}
            </div>
            <div class="col-10 list-content">
                <div class="dashboard-title">
                    {% if selected_taxon_group %}
                        <h2>{{ selected_taxon_group.name }}</h2>
                    {% else %}
                        <h2>Taxon Management</h2>
                    {% endif %}
                </div>
                <div class="dashboard-body">
                    <hr style="max-width: 100% !important; border-color: #e6c762"/>
                    <!-- Search form -->
                    <div class="form-inline d-flex md-form form-sm mt-0"
                         style="margin-bottom: 10px;">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input class="form-control form-control-sm ml-3 w-45"
                               type="text" placeholder="Taxon name"
                               aria-label="Search" id="taxon-name-input">
                        <button id="search-button"
                                class="btn btn-success btn-md my-0 ml-sm-2"
                                style="height: 31px; padding-top: 3px"><i class="fa fa-search" aria-hidden="true"></i> Search
                        </button>
                        <button id="add-filters"
                                class="btn btn-info btn-md my-0 ml-sm-2" data-toggle="collapse"  data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"
                                style="height: 31px; padding-top: 3px"><span class="badge badge-sm badge-warning" id="total-selected-filter"></span> Filters <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                        <button id="clear-search-button"
                                class="btn btn-danger btn-md my-0 ml-sm-2"
                                style="height: 31px; padding-top: 3px; display: none">Clear
                        </button>
                    </div>

                    <div class="row" style="font-size: 0.9em;">
                        <div class="col-md-6">
                            <div class="collapse" id="collapseFilter"  style="width: 100%; position: absolute;">
                                <div class="card card-body" style="background: #f2f2f2;">
                                    <div class="row" style="height: 20px;">
                                    <button type="button" class="close" aria-label="Close" data-toggle="collapse"  data-target="#collapseFilter" style="position: absolute; top: 10px; right: 10px;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label for="staticEmail"
                                                       class="col-sm-2 col-form-label">Rank</label>
                                                <div class="col-sm-10">
                                                    <select id="rank-filters" class="select-multiple"
                                                            name="states[]" multiple="multiple"
                                                            style="font-size: 1em; width: 100%">
                                                        {% for rank in all_ranks %}
                                                            <option value="{{ rank }}">{{ rank }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="staticEmail"
                                                       class="col-sm-2 col-form-label">Cons. Status (Global)</label>
                                                <div class="col-sm-10">
                                                    <select id="cons-status-filters" class="select-multiple"
                                                            name="states[]" multiple="multiple"
                                                            style="font-size: 1em; width: 100%">
                                                        {% for status in all_cons_status %}
                                                            <option value="{{ status.value }}">{{ status.label }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="staticEmail"
                                                       class="col-sm-2 col-form-label">Origin</label>
                                                <div class="col-sm-10">
                                                    <select id="origin-filters" class="select-multiple"
                                                            name="states[]" multiple="multiple"
                                                            style="font-size: 1em; width: 100%">
                                                        {% for origin in all_origins %}
                                                            <option value="{{ origin.value }}">{{ origin.label }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="staticEmail"
                                                       class="col-sm-2 col-form-label">Endemism</label>
                                                <div class="col-sm-10">
                                                    <select id="endemism-filters" class="select-multiple"
                                                            name="states[]" multiple="multiple"
                                                            style="font-size: 1em; width: 100%">
                                                        {% for endemism in all_endemism %}
                                                            <option value="{{ endemism }}">{{ endemism }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="parentTaxa" class="col-sm-2 col-form-label">Parent Taxonomy</label>
                                                <div class="col-sm-10">
                                                    <select id="taxa-auto-complete" class="taxa-auto-complete" style="width: 100%"></select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="validated" class="col-sm-2 col-form-label">Validated</label>
                                                <div class="col-sm-10 d-flex">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="validated" id="validatedTrue" value="True">
                                                        <label class="form-check-label" for="validatedTrue">
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="validated" id="validatedFalse" value="False">
                                                        <label class="form-check-label" for="validatedFalse">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="tag-auto-complete" class="col-sm-2 col-form-label">Tags</label>
                                                <div class="col-sm-10 d-flex flex-column">
                                                    <select id="tag-filters" name="tag-auto-complete"
                                                            class="tag-auto-complete form-control" multiple="multiple"
                                                            style="width: 100%"></select>
                                                    <div class="d-flex">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="tag-filter-type"
                                                                   id="filter-or" value="OR" checked>
                                                            <label class="form-check-label" for="filter-or">OR</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="tag-filter-type"
                                                                   id="filter-and" value="AND">
                                                            <label class="form-check-label" for="filter-and">AND</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button id="apply-filters"
                                                class="btn btn-success btn-md my-0 ml-sm-2 pull-right" style="font-size: 0.9em">
                                            Apply
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <!-- Download button -->
                    <div class="float-right download-button-container"
                         style="margin-top: -47px; display: none">
                        {% if perms.bims.add_taxonomy or is_expert %}
                        <button id="add-taxon-btn"
                                class="btn btn-outline-success" data-toggle="modal"
                                data-target="#addNewTaxonModal">Add a taxon
                        </button>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle btn-outline-success" data-toggle="dropdown" href="#">
                                <i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" id="download-csv">CSV Taxa List</a>
                                <a class="dropdown-item disabled" href="#" id="download-pdf">PDF Report</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="taxa-table">
                        <table id="taxaTable" class="table stripe">
                            <thead>
                            <tr>
                                <th></th>
                                <th scope="col">Taxon Name
                                </th>
                                <th scope="col">Family</th>
                                <th scope="col">Genus</th>
                                <th scope="col">Species</th>
                                <th scope="col">Author(s)</th>
                                <th scope="col">Biographic distribution</th>
                                <th scope="col">Rank</th>
                                <th scope="col">Cons. Status
                                </th>
{#                                <th scope="col">Origin#}
{#                                </th>#}
{#                                <th scope="col">Endemism#}
{#                                </th>#}
{#                                <th scope="col">Records#}
{#                                </th>#}
                                <th scope="col">Import date
                                </th>
                                <th scope="col">Tags
                                </th>
                                {% if perms.bims.change_taxonomy or is_expert %}
                                    <th scope="col"></th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody id="taxa-list"></tbody>
                        </table>
                    </div>
                    <div class="pagination-centered" style="display:none">
                        <ul class="pagination">
                            <li class="arrow"><a href="#"
                                                 class="pagination pagination-previous">&laquo;</a>
                            </li>
                            <li class="current">
                                <span id="taxa-current-page"></span> - <span
                                    id="taxa-current-size"></span> / <span
                                    id="taxa-count"></span>
                            </li>
                            <li class="arrow"><a href="#"
                                                 class="pagination pagination-next">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>

                {% if perms.bims.change_taxonomy or is_expert %}
                <div class="row-action" style="display: none">
                    <div class="btn-validated-container">
                        <div class="dropdown dropdown-action">
                           <button class="btn btn-primary" type="button" id="validatedDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v action-icon" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="validatedDropdown">
                                <button class="dropdown-item remove-taxon-from-group" title="Remove from group">
                                    <i class="fa fa-chain-broken" aria-hidden="true"></i> Remove from group
                                </button>
                                <a href="" class="dropdown-item edit-taxon" title="Edit">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                                </a>
                                <button class="dropdown-item add-tag" title="Manage tags">
                                    <i class="fa fa-tags" aria-hidden="true"></i> Manage tags
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="btn-unvalidated-container">
                        <div class="dropdown dropdown-action">
                            <button class="btn btn-primary" type="button" id="unvalidatedDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v action-icon" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="unvalidatedDropdown">
                                <a href="" class="dropdown-item validate-taxon" title="Approve">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i> Approve
                                </a>
                                <a href="" class="dropdown-item reject-taxon" title="Reject">
                                    <i class="fa fa-times-circle-o" aria-hidden="true"></i> Reject
                                </a>
                                <a href="" class="dropdown-item edit-taxon" title="Edit">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}

            </div>
        </div>
    </div>

    <!-- Add tag modal -->
    <div id="addTagModal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Add Tag
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tags</label>
                        <div class="taxon-group-experts-container">
                            <select id="taxa-tag-auto-complete" name="tag-auto-complete" class="tag-auto-complete form-control" multiple="multiple" data-add-new-tag="true">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="modal-action modal-close btn btn-action"
                            data-dismiss="modal">Close
                    </button>
                    <button class="modal-action modal-save btn btn-action btn-info save-tag">Save Tag</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" role="dialog" id="addNewTaxonModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Taxon</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                <input type="text" id="add-taxon-input"
                                       class="form-control form-control-sm"
                                       value="" placeholder="Taxon name" style="height: 100%;">
                            </div>
                            <div class="col-2">
                                <button type="button" id="find-taxon-button"
                                        class="btn btn-info" style="width: 100%;"> Find
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="max-height: 600px; overflow-y: auto">
                        <table class="table table-sm table-striped find-taxon-table" style="display:none;">
                            <thead>
                                <tr>
                                    <th scope="col">Scientific Name</th>
                                    <th scope="col">Canonical Name</th>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Source</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Stored</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="container new-taxon-form" style="margin-top: 15px; display: none">
                        <div class="alert alert-info" role="alert">
                            Whilst the system will accept taxa that are not listed in GBIF,
                            you should use the capability only for taxa where the classification is partly unresolved.
                            <br><br>
                            Click ADD to add this taxon even though it is not listed in GBIF,
                            alternatively you can refine your GBIF search to obtain a valid taxon name.
                        </div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 25%">Family</th>
                                    <th scope="col" style="width: 25%">Taxon Name</th>
                                    <th scope="col" style="width: 25%">Author</th>
                                    <th scope="col" style="width: 25%">Rank</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" class="form-control new-taxon-family-name" placeholder="Family">
                                    <input type="hidden" class="new-taxon-family-id"></td>
                                <td><input type="text" class="form-control" placeholder="Taxon Name" id="new-taxon-name"></td>
                                <td>

                                    <div>
                                        <select id="author-auto-complete" name="authorName" class="author-auto-complete form-control" data-add-new-tag="true"></select>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control new-taxon-rank">
                                        {% for rank in taxon_rank %}
                                            <option value="{{ rank }}" {% if rank == 'SPECIES' %}selected{% endif %}>{{ rank }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <button
                                        type="button"
                                        class="btn btn-success add-new-taxon-btn"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;ADD
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top-width: 0"><span class="text-muted" style="font-size: 10pt; font-style: italic">
                                    This is an autocomplete search, if the family does not exist in the system, please add it first.</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="width: 100%; height: 170px; text-align: center;display: none; margin-top: 15px;" class="find-taxon-loading">
                        <img src="/static/img/small-loading.svg" width="150"
                             alt="Loading view">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModuleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="moduleEditForm" enctype="multipart/form-data" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="moduleModalLabel">
                        Edit Module
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <input type="hidden" class="form-control"
                                   id="edit-module-id" name="module_id">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Label</label>
                            <input type="text" class="form-control"
                                   id="edit-module-name" name="module_name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Logo</label>
                            <div class="row">
                                <div class="col-4" id="edit-module-img-container">

                                </div>
                                <div class="col-8">
                                    <input type="file" class="form-control" id="inputLogo" name="module_logo">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="additional-attributes" class="col-form-label">Additional Attributes</label>
                            <div>
                                <button class="btn btn-warning btn-add-extra-attribute">Add attribute +</button>
                                <div class="extra-attribute-field">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Experts</label>
                            <div class="taxon-group-experts-container">
                                <select name="taxon-group-experts" class="form-control owner-auto-complete" multiple="multiple">
                                </select>
                            </div>
                        </div>
                        <div class="form-group gbif-species-container">
                            <label for="recipient-name" class="col-form-label">Parent</label>
                            <div id="parent-taxon-module-container">

                            </div>
                        </div>
                        <div class="form-group gbif-species-container">
                            <label for="recipient-name" class="col-form-label">GBIF Taxonomy</label>
                            <div class="taxon-group-experts-container">
                                <select name="gbif-species" class="form-control" id="edit-module-taxa-autocomplete">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="taxa-upload-template" class="col-form-label">Taxa Upload Template</label>
                            <div>
                                <a href="#" id="taxa-upload-template-link" target="_blank"></a>
                            </div>
                            <input type="file" class="form-control" id="taxa-upload-template" name="taxa_upload_template" accept=".csv,.xls">
                        </div>
                        <div class="form-group">
                            <label for="occurrence-upload-template" class="col-form-label">Occurrence Upload Template</label>
                            <div>
                                <a href="#" id="occurrence-upload-template-link" target="_blank"></a>
                            </div>
                            <input type="file" class="form-control" id="occurrence-upload-template" name="occurrence_upload_template" accept=".csv,.xls">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-success btn-submit">
                        <img class="loading-btn" src="/static/img/small-loading.svg" width="20" style="filter: brightness(104%) contrast(97%); display: none"
                             alt="Loading view">
                        <span class="btn-submit-text">Save</span>
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="removeModuleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="moduleRemoveForm" enctype="multipart/form-data" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Delete Module
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control"
                               id="remove-module-id" name="module_id">
                    <div class="warning">
                        This will delete the module, all the species, and all the occurrences.
                        This action is irreversible.
                        Do you wish to proceed? Please confirm by entering the module name.
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Module:</label>
                        <input type="text" class="form-control"
                               id="remove-module-name" name="module_name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="remove-module-btn" type="submit" class="btn btn-danger" disabled style="width: 100%">
                        DELETE MODULE
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="confirmRejectModal" data-id="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reject Taxon</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>What is the reason for rejecting this taxon?</p>
                    <div class="form-group">
                        <input class="form-control rejection-message">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="rejectBtn">
                         Reject
                    </button>
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editTaxonModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Taxon</h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveTaxon">
                        Save Changes
                    </button>
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="editTaxonForm">
        <form action="/api/update-taxon/<%= id %>/<%= taxon_group_id %>/" id="editTaxonForm" enctype="multipart/form-data" method="put">
        {% csrf_token %}
        <input type="hidden" name="taxon_id" value="<%= id %>">
        <input type="hidden" name="next" value="{{ request.build_absolute_uri }}">
        <input type="hidden" name="taxon_group_id" value="<%= taxon_group_id %>">
        <div class="form-group">
            <label for="scientific_name">Scientific Name</label>
            <input type="text"
                   class="form-control mb-2 mr-sm-2 ud-item"
                   id="scientific_name" name="scientific_name"
                   value="<%= scientific_name %>">
        </div>
        <div class="form-group">
            <label for="canonical_name">Canonical Name</label>
            <input type="text"
                   class="form-control mb-2 mr-sm-2 ud-item"
                   id="canonical_name" name="canonical_name"
                   value="<%= canonical_name %>">
        </div>
        <div class="form-group">
            <label for="rank">Rank</label>
            <select id="rank-options" class="form-control"
                    name="rank">
                {% for rank in all_ranks %}
                    <option value="{{ rank }}">{{ rank }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="conservation_status">Conservation Status</label>
            <select id="cons-status-options" class="form-control"
                    name="conservation_status">
                {% for status in all_cons_status %}
                    <option value="{{ status.value }}">{{ status.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="origin">Origin</label>
            <select id="origin-options"
                    class="form-control"
                    name="origin">
                {% for origin in all_origins %}
                    <option value="{{ origin.value }}">{{ origin.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="endemism">Endemism</label>
            <select id="endemism-options" class="form-control"
                    name="endemism">
                {% for endemism in all_endemism %}
                    <option value="{{ endemism }}">{{ endemism }}</option>
                {% endfor %}
            </select>
        </div>
        </form>
    </script>
    
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Validation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to validate this taxon?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="confirmButton">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="statusModalLabel">Status</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="statusModalBody">
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script>
        let csrfToken = '{{ csrf_token }}';
        function dismissAddAnotherPopup(win) {
            win.close();
        }
        function dismissChangeRelatedObjectPopup(window, value, obj, new_obj) {
            window.close();
            location.reload();
        }

        function dismissDeleteRelatedObjectPopup(window, value) {
            window.close();
            location.reload();
        }

        function dismissAddRelatedObjectPopup(window, value, obj) {
            window.close();
            location.reload();
        }
    </script>
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.6/underscore-umd-min.js"></script>
    <script src="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>

    <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.8/fc-5.0.1/fh-4.0.1/datatables.min.js"></script>
    <script src="{% static "library/popper.js/1.11.0/popper.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "lib/select2-4.1.0/js/select2.full.min.js" %}"></script>
    <script src="{% static "js/utils/insert_param_to_url.js" %}"></script>
    <script src="{% static "js/non_requirejs/helpers.js" %}"></script>
    <script src="{% static "js/non_requirejs/multi_author_select.js" %}"></script>
    {% if debug %}
        <script type="module" src="{% static "js/taxa_management/taxa_management.js" %}"></script>
    {% else %}
        {% render_bundle 'taxa_management' %}
    {% endif %}
    <script src="{% static "js/non_requirejs/tag_select.js" %}"></script>
{% endblock %}
