{% extends 'main_base.html' %}
{% load jsonify %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block subtitle %}
    Single Site Water Temperature
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/sass_dashboard.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard_buttons.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/openlayers-4.6.4/ol.css" %}"
          rel="stylesheet">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script type="text/javascript">
        const coordinates = [{{ coord.0 }}, {{ coord.1 }}];
        const siteCode = "{{ site_code }}";
        const siteId = "{{ site_id }}";
        const year = "{{ year }}";
        const sourceReferences = {{ source_references | safe }};
    </script>
    <style>

        #legend-summary-id ul {
            list-style: none;
            font-size: 12px;
        }
        #legend-summary-id li {
            display: inline;
            margin-right: 10px;
        }
        #legend-summary-id li span{
            width: 40px;
            height: 12px;
            display: inline-block;

        }
        .year-container {
            display: flex;
            max-width: 250px;
        }
        .col-form-label {
            width: 50px;
        }
        .col-header {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 13pt;
            font-weight: bold;
        }
        .row-indicator {
            padding-top: 1em;
            padding-left: 1em;
        }
        .row-indicator .col-lg-3, .row-indicator .col-lg-4, .row-indicator .col-lg-2 {
            padding-left: 0;
            padding-right: 0;
        }

        .row-indicator p {
            border-bottom: 1px solid rgba(138, 138, 138, 0.31);
            height: 20px;
        }

    </style>

{% endblock %}

{% block body_content %}
    <script type="text/javascript">
    </script>
    <div style="padding-bottom: 0.2em">
        <div class="body-form container">
            <div class="logo hide-logo pull-right"><img width="50"
                                                        src="{% static 'img/bims-stamp.png' %}">
            </div>

            <div class="modal fade" id="alertModal" tabindex="-1" role="dialog"
                 aria-labelledby="alertModalLabel" aria-hidden="true"
                 style="z-index: 99999">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body" id="alertModalBody">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard-title">
                <h2>Water Temperature for {{ site_code }}</h2>
                <div class="form-group year-container">
                    <label class="col-form-label">Year :</label>
                    <select class="form-control" id="years"
                            onchange="changeYear(this)">
                        {% for year_opt in years %}
                            <option value="{{ year_opt }}"
                                    {% if year_opt == year %}selected{% endif %}>{{ year_opt }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="dashboard-close"><i class="fa fa-times"
                                                aria-hidden="true"></i></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="map-container">
                        <div class="chart-title">Map
                            <i data-download-title="SASS charts"
                               data-toggle="tooltip" data-placement="left"
                               title="Download map as PNG"
                               class="fa fa-download pull-right download-icon download-map"></i>
                        </div>
                        <div id="map"></div>
                    </div>
                    <div class="vertical-space"></div>
                    <div class="table-container">
                        <div class="table-title">Overview
                            <i data-download-title="Overview"
                               data-toggle="tooltip" data-placement="left"
                               class="fa fa-download pull-right download-icon download-table"></i>
                        </div>
                        <table class="sass-summary table">
                            <tbody>
                            <tr>
                                <th class="title-row" colspan="2">Site Details</th>
                            </tr>
                            <tr>
                                <td scope="row">FBIS Site Code</td>
                                <td>{{ site_code }}</td>
                            </tr>
                            <tr>
                                <td scope="row">Original Site Code</td>
                                <td>{{ original_site_code }}</td>
                            </tr>
                            <tr>
                                <td scope="row">Site coordinates</td>
                                <td>{{ coord.0 }}, {{ coord.1 }}</td>
                            </tr>
                            <tr>
                                <td scope="row">Site description</td>
                                <td>{{ site_description }}</td>
                            </tr>
                            <tr>
                                <th class="title-row" colspan="2">River and
                                    Geomorphological Zone
                                </th>
                            </tr>
                            <tr>
                                <td scope="row">Original River Name</td>
                                <td>{{ original_river_name }}</td>
                            </tr>
                            <tr>
                                <td scope="row">River</td>
                                <td>{{ river }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="vertical-space"></div>
                    <div class="table-container">
                        <div class="table-title"> Monthly magnitudes
                            <i data-download-title="Monthly magnitudes"
                               data-toggle="tooltip" data-placement="left"
                               class="fa fa-download pull-right download-icon download-table"></i>
                        </div>

                        <div class="row row-indicator table" style="width: 100%;">
                            <div class="col-lg-4">
                                <div class="col-header">
                                    Monthly magnitudes
                                </div>
                                {% for key, value in indicators.monthly.items %}
                                    <p> {{ key }} </p>
                                {% endfor %}
                            </div>
                            <div class="col-lg-2">
                                <div class="col-header">
                                    Mean
                                </div>
                                {% for key, value in indicators.monthly.items %}
                                    <p> {{ value.monthly_mean|floatformat:2 }} </p>
                                {% endfor %}
                            </div>
                            <div class="col-lg-2">
                                <div class="col-header">
                                    Min
                                </div>
                                {% for key, value in indicators.monthly.items %}
                                    <p> {{ value.monthly_min|floatformat:2 }} </p>
                                {% endfor %}
                            </div>
                            <div class="col-lg-2">
                                <div class="col-header">
                                    Max
                                </div>
                                {% for key, value in indicators.monthly.items %}
                                    <p> {{ value.monthly_max|floatformat:2 }} </p>
                                {% endfor %}
                            </div>
                            <div class="col-lg-2">
                                <div class="col-header">
                                    Range
                                </div>
                                {% for key, value in indicators.monthly.items %}
                                    <p> {{ value.monthly_range|floatformat:2 }} </p>
                                {% endfor %}
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-6 mp">
                    <div class="chart-container">
                        <div class="chart-title">Water Temperature
                        </div>
                        <div id="water-temperature"></div>
                    </div>
                    <div class="vertical-space"></div>
                    <div class="table-container">
                        <div class="table-title">Thermal Metrics
                            <i data-download-title="Water Temperature"
                               data-toggle="tooltip" data-placement="left"
                               class="fa fa-download pull-right download-icon download-table"></i>
                        </div>
                        <table class="sass-summary table">
                            <tbody>
                            <tr>
                                <th class="title-row" colspan="2">Annual
                                    descriptive statistics
                                </th>
                            </tr>
                            <tr>
                                <td>Mean Annual temperature (MAT)</td>
                                <td>{{ indicators.annual.annual_mean|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>Standard deviation of MAT</td>
                                <td>{{ indicators.annual.annual_sd|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>Annual coefficient of variability</td>
                                <td>{{ indicators.annual.annual_cv|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>Mean of annual range</td>
                                <td>{{ indicators.annual.annual_range|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>Standard deviation of annual range</td>
                                <td>{{ indicators.annual.annual_range_sd|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>Mean of annual minima</td>
                                <td>{{ indicators.annual.annual_min|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>Mean of annual maxima</td>
                                <td>{{ indicators.annual.annual_max|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <th class="title-row" colspan="2">Magnitudes of
                                    extreme water temperature conditions
                                </th>
                            </tr>
                            <tr>
                                <td>Mean7</td>
                                <td>{{ indicators.weekly.weekly_mean_avg|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>Min7</td>
                                <td>{{ indicators.weekly.weekly_min_avg|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>Min_30</td>
                                <td>{{ indicators.thirty_days.thirty_min_avg|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>Min_90</td>
                                <td>{{ indicators.ninety_days.ninety_min_avg|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>Max7</td>
                                <td>{{ indicators.weekly.weekly_max_avg|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>Max_30</td>
                                <td>{{ indicators.thirty_days.thirty_max_avg|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td>Max_90</td>
                                <td>{{ indicators.ninety_days.ninety_max_avg|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <th class="title-row" colspan="2">Frequency and
                                    duration (successive days exceeding thresholds)
                                    of
                                    extreme water temperature conditions
                                </th>
                            </tr>
                            <tr>
                                <td>Mean7cnt</td>
                                <td>{{ indicators.threshold.weekly_mean }}</td>
                            </tr>
                            <tr>
                                <td>Min7cnt</td>
                                <td>{{ indicators.threshold.weekly_min }}</td>
                            </tr>
                            <tr>
                                <td>Max7cnt</td>
                                <td>{{ indicators.threshold.weekly_max }}</td>
                            </tr>
                            <tr>
                                <td>Mean7dur</td>
                                <td>{{ indicators.threshold.weekly_mean_dur }}</td>
                            </tr>
                            <tr>
                                <td>Min7dur</td>
                                <td>{{ indicators.threshold.weekly_min_dur }}</td>
                            </tr>
                            <tr>
                                <td>Max7dur</td>
                                <td>{{ indicators.threshold.weekly_max_dur }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12" style="margin-top: 10px;">
                    <div class="table-container">
                        <div class="table-title">
                            Metadata Table
                            <i data-download-title=" Metadata Table"
                               data-toggle="tooltip" data-placement="left"
                               class="fa fa-download pull-right download-icon download-table"></i>
                        </div>
                        <div class="data-content">
                            <table id="data-source-list" class="table table-hover custom-table metadata-table">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/libs/openlayers-4.6.4/ol.js" %}"></script>
    <script src="{% static "js/libs/moment.js" %}"></script>
    <script src="{% static "js/libs/chart/Chart-2.7.2.js" %}"></script>
    <script src="{% static "js/libs/htmlToCanvas/html2canvas.js" %}"></script>
    <script src="{% static "js/libs/canvas2svg.js" %}"></script>
    <script src="{% static "js/libs/highcharts/highcharts.js" %}"></script>
    <script src="{% static "js/libs/highcharts/modules/data.js" %}"></script>
    <script src="{% static "js/libs/highcharts/modules/exporting.js" %}"></script>
    <script src="{% static "js/libs/highcharts/modules/export-data.js" %}"></script>
    <script src="{% static "js/libs/highcharts/modules/accessibility.js" %}"></script>
    <script src="{% static "js/utils/download_csv.js" %}"></script>
    <script src="{% static "js/utils/svg_download.js" %}"></script>
    <script src="{% static "js/sass_dashboard_close.js" %}"></script>
    <script src="{% static "js/non_requirejs/water_temperature.js" %}"></script>

{% endblock %}
