{% extends 'main_base.html' %}
{% load jsonify %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block subtitle %}
    Single Site Water Temperature
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/sass_dashboard.css" %}" rel="stylesheet">
    <link href="{% static "css/dashboard_buttons.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/openlayers-4.6.4/ol.css" %}"
          rel="stylesheet">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script type="text/javascript">
        const coordinates = [{{ coord.0 }}, {{ coord.1 }}];
        const siteCode = "{{ site_code }}";
        const siteId = "{{ site_id }}";
        const arrAvg = arr => arr.reduce((a, b) => a + b, 0) / arr.length;
        const sassExists = {% if sass_exists %}true{% else %}false{% endif %};
    </script>
    <style>
          .carousel-inner, .carousel-item {
              height: 100% !important;
        }

        .carousel-item img {
            max-height: 100%;
            max-width: 100%;
        }
        .carousel-item-content {
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        #legend-summary-id{
            width: 90%;
            margin-top: auto;
            color: gray;
            position:absolute;
        }
        #legend-summary-id ul {
            list-style: none;
            font-size: 12px;
        }
        #legend-summary-id li {
            display: inline;
            margin-right: 10px;
        }
        #legend-summary-id li span{
            width: 40px;
            height: 12px;
            display: inline-block;

        }

    </style>

{% endblock %}

{% block body_content %}
        <script type="text/javascript">
            const riverCatchments = {% if river_catchments %}{{ river_catchments | safe }}{% else %}[]{% endif %};
            const ecoGeoGroup = {% if eco_geo %}{{ eco_geo | safe }}{% else %}[]{% endif %};
            const riverEcoregionGroup = {% if river_ecoregion_group %}{{ river_ecoregion_group | safe }}{% else %}[]{% endif %};
            const geomorphologicalGroup = {% if geomorphological_group %}{{ geomorphological_group | safe }}{% else %}[]{% endif %};
            const freshwaterEcoregion = {% if freshwater_ecoregion_of_the_world %}{{ freshwater_ecoregion_of_the_world | safe }}{% else %}[]{% endif %};
            const politicalBoundary = {% if political_boundary %}{{ political_boundary | safe }}{% else %}[]{% endif %};
            const waterManagementAreaGroup = {% if wma %}{{ wma | safe }}{% else %}[]{% endif %};
            const refinedGeomorphologicalZone = '{{ refined_geomorphological }}';
            const originalGeomorphologicalZone = '{{ original_geomorphological }}';
            const useCombinedGeo = {% if use_combined_geo %}true{% else %}false{% endif %};
            const sourceReferences = {{ source_references | safe }};
            const chemicalRecords = {{ chemical_records | safe }};
        </script>
        <div class="body-form container">
            <div class="logo hide-logo pull-right"><img width="50"
                                                        src="{% static 'img/bims-stamp.png' %}">
            </div>

            <div class="modal fade" id="alertModal" tabindex="-1" role="dialog"
                 aria-labelledby="alertModalLabel" aria-hidden="true"
                 style="z-index: 99999">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body" id="alertModalBody">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard-title">
                <h2>Single Site Water Temperature</h2>
                <div class="dashboard-close"><i class="fa fa-times" aria-hidden="true"></i></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="map-container">
                        <div class="chart-title">Map
                            <i data-download-title="SASS charts"
                               data-toggle="tooltip" data-placement="left"
                               title="Download map as PNG"
                               class="fa fa-download pull-right download-icon download-map"></i>
                        </div>
                        <div id="map"></div>
                    </div>
                    <div class="vertical-space"></div>
                    <div class="table-container">
                        <div class="table-title">Overview
                            <i data-download-title="Overview"
                               data-toggle="tooltip" data-placement="left"
                               class="fa fa-download pull-right download-icon download-table"></i>
                        </div>
                        <table class="sass-summary table">
                            <tbody>
                            <tr>
                                <th class="title-row" colspan="2">Site Details</th>
                            </tr>
                            <tr>
                                <td scope="row">FBIS Site Code</td>
                                <td>{{ site_code }}</td>
                            </tr>
                            <tr>
                                <td scope="row">Original Site Code</td>
                                <td>{{ original_site_code }}</td>
                            </tr>
                            <tr>
                                <td scope="row">Site coordinates</td>
                                <td>{{ coord.0 }}, {{ coord.1 }}</td>
                            </tr>
                            <tr>
                                <td scope="row">Site description</td>
                                <td>{{ site_description }}</td>
                            </tr>
                            <tr>
                                <th class="title-row" colspan="2">River and Geomorphological Zone</th>
                            </tr>
                            <tr>
                                <td scope="row">Original River Name</td>
                                <td>{{ original_river_name }}</td>
                            </tr>
                            <tr>
                                <td scope="row">River</td>
                                <td>{{ river }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="vertical-space"></div>
                </div>
        <div class="col-md-6 mp">
        <div class="chart-container">
            <div class="chart-title">Water Temperature
            </div>
            <div id="water-temperature"></div>
        </div>
        </div>

        </div>
        </div>
{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/libs/openlayers-4.6.4/ol.js" %}"></script>
    <script src="{% static "js/libs/moment.js" %}"></script>
    <script src="{% static "js/libs/chart/Chart-2.7.2.js" %}"></script>
    <script src="{% static "js/libs/htmlToCanvas/html2canvas.js" %}"></script>
    <script src="{% static "js/libs/canvas2svg.js" %}"></script>
    <script src="{% static "js/libs/highcharts.src.js" %}"></script>
    <script src="{% static "js/utils/download_csv.js" %}"></script>
    <script src="{% static "js/utils/svg_download.js" %}"></script>
    <script src="{% static "js/sass_dashboard_close.js" %}"></script>
    <script src="{% static "js/non_requirejs/water_temperature_time_series.js" %}"></script>

{% endblock %}
