# Specific configuration for development environment


# Exactly the same as production but for dev env, we expose the port and uses
# different port for the web.
version: '2'
services:

  dev:
    image: kartoza/kbims_uwsgi:latest
    command: ''
    links:
      - db:db
    environment:
      - SITE_DOMAIN_NAME=http://django-bims.test
      - CONTACT_US_EMAIL=dimas@kartoza.com
      - DEBUG=True
      - DJANGO_SETTINGS_MODULE=core.settings.test_docker
      - RABBITMQ_HOST=rabbitmq
      - PYTHONPATH=/usr/src/app:/home/web/django_project
      - ROOT_URLCONF=core.urls
      - DATABASE_NAME=gis
      - DATABASE_PASSWORD=docker
      - DATABASE_USERNAME=docker
      - DATABASE_HOST=db
      - SITEURL=http://django-bims.test/
      - GEOSERVER_LOCATION_SITE_LAYER=bims:location_site_view
      - GEONODE_INSTANCE_NAME=geonode
      - DEFAULT_BACKEND_DATASTORE=
      - UWSGI_CMD=uwsgi --ini /usr/src/app/uwsgi.ini
      - IS_CELERY=False
      - GEOSERVER_PUBLIC_LOCATION=http://django-bims.test/geoserver/
      - GEOSERVER_LOCATION=http://geoserver:8080/geoserver/
      - STATIC_ROOT=/home/web/static/static
      - MEDIA_ROOT=/home/web/media
      - GEOIP_PATH=/home/web/media/geoip.db
      - ALLOWED_HOSTS=['django-bims.test']
      - ADMIN_EMAILS=dimas@kartoza.com
      - GEOSERVER_ADMIN_PASSWORD=admingeoserver
      - ASYNC_SIGNALS_GEONODE=False
