{% extends 'admin/change_list.html' %}
<!-- LOADING -->
{% load i18n admin_urls static %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">
      (function ($) {
        $(document).ready(function () {
          $('#dst-file-upload').on("change", function(){
            let url = '/api/decision-support-tool/';
            let formData = new FormData();
            formData.append("dst_file", $(this)[0].files[0]);
            $.ajax({
              type: "POST",
              url: url,
              data: formData,
              processData: false,
              contentType: false,
              headers: {
                'X-CSRFToken': "{{ csrf_token }}"
              },
              success: function (data) {
                location.reload(true);
              }
            })
          });
        });
      })(grp.jQuery);
    </script>

{% endblock %}

{% block object-tools %}
    <ul class="grp-object-tools">
        {% block object-tools-items %}
            {% if has_add_permission %}
                {% url cl.opts|admin_urlname:'add' as add_url %}
                <li><a href="{% add_preserved_filters add_url is_popup to_field %}" class="grp-add-link grp-state-focus">{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li>
            {% endif %}
        {% endblock %}
        <li>
            <a href={% static "data/dst_template.csv" %} class="grp-state-focus">
                Download Template
            </a>
        </li>
        <li>
            <a class="custom-file-upload grp-add-link grp-state-focus">
                <label for="dst-file-upload" style="cursor: pointer;">
                    <i class="fa fa-cloud-upload"></i> Upload Data
                </label>
                <input id="dst-file-upload" type="file" style="display: none" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
            </a>
        </li>
{% endblock %}
