{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <script>

        (function($) {
            $(document).ready(function() {
                $('#grp-content').find('.iucn_status ').find('.c-2').append(
                    `<button class="grp-button" style="width: 150px;" id="find-iucn">Find IUCN</button>`
                );
                $('#find-iucn').click(function(e) {
                    e.preventDefault();
                    const $target = $(e.target);
                    const originalButtonText = $target.html();
                    const $iucnId = $('#id_iucn_redlist_id');
                    const $iucnData = $('#id_iucn_data');
                    $target.html('Fetching...')
                    const speciesName = $('#grp-content').find('[name="canonical_name"]').val();
                    const iucnKey = '{{ preferences.SiteSetting.iucn_api_key }}';
                    let iucnApiUrl = '/bims_proxy/http://apiv3.iucnredlist.org/api/v3';
                    iucnApiUrl += '/species/' + speciesName + '?token=' + iucnKey;
                    $.ajax({
                        type: 'GET',
                        url: iucnApiUrl,
                        success: function (data) {
                            if (data['result'].length > 0) {
                                $target.html(originalButtonText);
                                const result = data['result'][0];
                                $("#id_iucn_status option:contains(" + result['category'] + ")").attr('selected', 'selected');
                                $iucnId.val(result['taxonid']);
                                $iucnData.val(JSON.stringify(result, null, 2));
                            } else {
                                $target.html("IUCN Data not found");
                                $target.attr('disabled', 'disabled')
                                $target.css('background', '#adadad');
                                $target.css('border-color', '#adadad');
                            }
                        }
                    })
                });
                $('#grp-content').find('.gbif_key').find('.c-2').append(
                    `<button class="grp-button" style="width: 150px; margin-left: 10px" id="find-gbif">Find GBIF</button>`
                );
                $('#find-gbif').click(function(e) {
                    e.preventDefault();
                    const $target = $(e.target);
                    const originalButtonText = $target.html();
                    const $gbifKey = $('#id_gbif_key');
                    const $scientificName = $('#id_scientific_name');
                    const $canonicalName = $('#id_canonical_name');
                    const $taxonomicStatus = $('#id_taxonomic_status')
                    const $author = $('#id_author');
                    $target.html('Fetching...');
                    let key = '{{ key }}';
                    if(key === "None") key = "";
                    if(key !== "") {
                        $target.html(originalButtonText);
                        $gbifKey.val(key);
                        $scientificName.val("{{ scientificName }}");
                        $canonicalName.val("{{ canonicalName }}");
                        $taxonomicStatus.val("{{taxonomicStatus}}");
                        $author.val("{{ authorship }}");
                        
                    }
                    else{
                        $target.html("GBIF Key not found");
                        $target.attr('disabled', 'disabled')
                        $target.css('background', '#adadad');
                        $target.css('border-color', '#adadad')
                    }

                });
            }
            );
        })(grp.jQuery);

    </script>
{% endblock %}
