{% extends 'admin/change_form.html' %}
{% load static i18n admin_modify admin_urls grp_tags %}

<!-- OBJECT TOOLS -->
{% block object-tools-items %}
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <li><a href="{% add_preserved_filters history_url %}">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="grp-state-focus" target="_blank">{% trans "View on site" %}</a></li>{% endif%}
    <li ><a class="grp-state-focus" href="../password">{% trans "Change Password" %}</a></li>
{% endblock %}