{% extends 'main_base.html' %}
{% load static from staticfiles %}

{% block subtitle %}
    {{ object.first_name }}
{% endblock %}

{% block pre-head %}
    <style>
        hr {
            max-width: 100% !important;
            border-width: 1px !important;
            border-color: #bcbcbc !important;
        }
        .edit-button {
            padding-left: 30px;
            padding-right: 30px;
            font-size: 14px !important;
            padding-top: 4px;
            padding-bottom: 2px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body_content %}
    <div class="container body-container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <h2 style="font-weight: bold">{{ object.first_name }} {{ object.last_name }}</h2>
                <h5 class="text-muted">{{ object.username }}</h5>

                <hr/>

                <p><i class="fa fa-building-o text-muted"></i> {{ object.organization }}</p>
                <p><i class="fa fa-user-o text-muted"></i> {{ object.bims_profile.role | capfirst }}</p>
                <p><i class="fa fa-envelope-o text-muted"></i> <a href="mailto:{{ object.email }}">{{ object.email }}</a></p>

                {% if request.user == object %}
                    <button class="btn btn-outline-secondary edit-button">Edit Profile</button>
                {% endif %}
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Site Visits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Source References</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}

{% block foot %}

    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
{% endblock %}