{% extends 'main_base.html' %}
{% load static from staticfiles %}

{% block title %}
    Bibliography
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing_page.css" %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <!-- Override styles -->
    <!-- Custom styles for this template -->
    <link href="{% static "css/base.css"  %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="{% static "css/fonts.css" %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">

{% endblock %}

{% block body_content %}

    <style>
        body {
            margin-top: 5%;
            padding-bottom: 5%;
        }

        .not-active {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
        }


    </style>

    <body class="{% block page_class %}
    Bibliography management{% endblock page_class %}">
    <div class="container">
        <div id="page-header">
            <h1>
                <a href="#" class="not-active" style="color: #526B43 !important;">
                    Bibliography
                </a>
                <span>
          Manage your references.
        </span>
            </h1>
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div role="main">
            {% block content %}{% endblock content %}
        </div>

    </div>

    {% block javascripts %}{% endblock javascripts %}
    </body>


{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-easing/jquery.easing.min.js" %}"></script>

{% endblock %}