body {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    box-sizing: border-box; //to account for the border on top
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    position: relative;
}

.body-form {
    padding-top: 100px;
    padding-bottom: 70px;
}

.bold {
    font-weight: bold;
}

.body-form input, .body-form select {
    height: 30px !important;
}

td.taxon-name {
    vertical-align: middle !important;
    min-width: 300px;
    max-width: 300px;
    font-size: 11pt;
}

td.sampled-name {
    vertical-align: middle !important;
    max-width: 100px;
    font-size: 11pt;
}

.submit-wrapper {
    text-align: center;
}

.submit-wrapper .btn {
    text-transform: capitalize;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: normal;
}

.no-line td {
    border: 0 !important;
}

.input-label {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
    font-weight: bold;
}

.fbis-sass-logo img {
    padding-top: 50px;
}