body {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    box-sizing: border-box; //to account for the border on top
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    position: relative;
}

.body-form {
    padding-top: 100px;
    padding-bottom: 70px;
}

#map {
    height: 400px;
    width: 100%;
}

#sass-score-chart {
    display: block;
    width: 100%;
}

.vertical-space {
    height: 10px;
}

.chart-container, .map-container, .table-container {
    padding: 10px;
    border: 1px solid rgba(219, 175, 0, 0.41);
}

.table-container {
    padding-top: 20px;
}

.dashboard-title {
    border-bottom: 3px solid #1b900d;
}

.table-title, .chart-title {
    padding-bottom: 10px;
    font-size: 13pt;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sass-taxon-per-biotope-table {
    font-size: 10pt;
}

.sass-taxon-per-biotope-table td, .sass-taxon-per-biotope-table th {
    padding: .50rem !important;
}