{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% load jsonify %}
{% block subtitle %}
    SASS
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "js/libs/openlayers-4.6.4/ol.css" %}"
          rel="stylesheet">
    <link href="{% static "css/form_page.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery.timepicker.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript">
        var isUpdate = {% if is_update %}true{% else %}false{% endif %};
        const location_site_lat = '{{ location_site_lat }}';
        const location_site_lon = '{{ location_site_lon }}';
        const geoserverPublicUrl = '{{ geoserver_public_location }}';
        const locationSiteGeoserverLayer = '{{ bims_preferences.geoserver_location_site_layer }}';
        const defaultWMSSiteParameters = '{{ preferences.SiteSetting.default_location_site_cluster }}'
    </script>

{% endblock %}

{% block body_content %}
    <form action="{{ request.path }}" method="post" id="sass-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="body-form container">
        <div class="alert alert-danger frontend-alert" style="display: none;" role="alert">
        </div>
        {% if alert %}
        <div class="alert alert-success" role="alert">
            {{ alert | safe }}
        </div>
        {% endif %}

        <div class="dashboard-title">
            <h2>
                {% if is_update %}
                    Update SASS record for site {{ site_code }}
                {% else %}
                    Add SASS record for site {{ site_code }}
                {% endif %}
                <div class="site-form-close sass-form-close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </h2>
        </div>

        <div id="site-map"></div>

        <div class="form-group row">
            <label for="date"
                   class="col-sm-2 col-form-label col-form-label">Latitude</label>
            <div class="col-sm-4">
                <input type="text" id="latitude" name="latitude"
                   class="form-control form-control-sm" style="height: 100%"
                   value="{{ location_site_lat }}" disabled>
            </div>
            <label for="date"
                   class="col-sm-2 col-form-label col-form-label" style="text-align: right">Longitude</label>
            <div class="col-sm-4">
            <input type="text" id="longitude" name="longitude"
                   class="form-control form-control-sm" style="height: 100%;"
                   value="{{ location_site_lon }}" disabled>
            </div>
        </div>

        <div class="separator-line"></div>

        <div class="form-group row">
            <label for="date"
                   class="col-sm-2 col-form-label col-form-label required-text">Date</label>
            <div class="col-sm-10">
                <input type="text" name="date"
                       class="form-control form-control-sm"
                       id="date" placeholder="" {% if date %} value="{{ date|date:'m/d/Y' }}" {% endif %} required>
                <div class="invalid-feedback">
                    Please provide a valid date
                </div>
            </div>
        </div>

        <div class="form-group row even-row">
            <label for="date"
                   class="col-sm-2 col-form-label col-form-label required-text">Owner</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm"
                       onClick="this.setSelectionRange(0, this.value.length)"
                       id="owner" placeholder="" name="owner" value="{% if owner.get_full_name %}{{ owner.get_full_name }}{% else %}{{ owner.username }}{% endif %}"
                       required>
                <small class="form-text text-muted">Please select the
                    Owner, if you are the data capturer and not the
                    Owner</small>
                <input type="hidden" id="owner_id" name="owner" {% if owner %} value="{{ owner.id }}" {% endif %}>
                <div class="invalid-feedback">
                    Please provide a owner
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10" style="padding-left: 35px;">
                <input class="form-check-input" type="radio" {% if accredited %} checked {% endif %} id="accredited" name="accredited">
                <label class="form-check-label" for="accredited" style="padding-top: 10px;">
                    Accredited at the time of collection
                </label>
            </div>
        </div>

        {% if is_update %}
            <div class="form-group row">
                <label for="data-source" class="col-sm-2">Source Reference</label>
                <div class="col-sm-10">
                    <div class="source-reference-wrapper">
                        {% if source_reference %}
                            <div style="font-weight: bold">{{ source_reference.reference_type }}</div>
                            {% if source_reference.reference_type == 'Published report or thesis' or source_reference.reference_type == 'Peer-reviewed scientific article' %}
                                <div>{{ source_reference.authors }} |
                                {{ source_reference.year }} |
                                {{ source_reference.title }}</div>
                            {% else %}
                                <div>{{ source_reference }}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div><small class="text-muted">To update this value, click the
                        next button to go to the Source Reference form</small>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="data-source" class="col-sm-2">Site Image</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" style="height: 43px !important;"
                           name="site_image" accept="image/*">
                    <br/><small class="error-upload"></small>
                    <img id="site_image" class="site-image" src="{{ site_image.image.url }}" {% if site_image.image.url %} style="display: block" {% endif %}>
                </div>
            </div>
        {% else %}
            <div class="form-group row">
                <label class="col-sm-2" for="data-source">Site Image</label>
                <div class="col-sm-10">
                    <div class="input-group input-file">
                        <input type="file" class="form-control" name="site_image"
                               accept="image/*" style="height: 43px !important;">
                        <br/><small class="error-upload"></small>
                    </div>
                    <img id="site_image" src="" class="site-image">
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>
                            Biotopes Sampled
                        </th>
                        <th>
                            <div class="container-fluid">
                                <div class="row" style="text-align: center;">
                                    {% autoescape off %}
                                        {% get_html_for_radio_group_headings 6 %}
                                    {% endautoescape %}
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for biotope_form in biotope_form_list %}
                            <tr>
                                <td class="sampled-name">
                                    {{ biotope_form.name }}
                                </td>
                                <td>
                                    <div class="container-fluid">
                                        <div class="row">
                                            {% autoescape off %}
                                                {% get_html_for_radio_group biotope_form.name biotope_form.rate %}
                                            {% endautoescape %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col" colspan="2">Taxa</th>
                <th scope="col">Stones</th>
                <th scope="col">Vegetation</th>
                <th scope="col">Gravel, sand, mud</th>
                <th scope="col">Site</th>
            </tr>
            </thead>
            <tbody id="taxon-list">
            {% for taxon in taxon_list %}
                {% if taxon.score %}
                    <tr class="{% if taxon.bold_bottom_border %} bold_bottom_border {% endif %}">
                        <td class="taxon-group">{{ taxon.group }}</td>
                        <td data-score="{{ taxon.score }}" data-rating-scale="{% if taxon.rating_scale %}{{ taxon.rating_scale }}{% endif %}" data-id="{{ taxon.id }}" scope="row"
                            class="taxon-name {% if taxon.should_bold %} bold {% endif %}">
                            {{ taxon.name }}
                        </td>
                        <td><input data-biotope="stones" data-id="{{ taxon.id }}" type="text" name="taxon_list-{{ taxon.id }}-S" class="rating-input form-control"
                                   {% if taxon.s_value %} value="{{ taxon.s_value }}" {% endif %} placeholder="" maxlength="1"></td>
                        <td><input data-biotope="vegetation" data-id="{{ taxon.id }}" type="text" name="taxon_list-{{ taxon.id }}-Veg" class="rating-input form-control"
                                   {% if taxon.veg_value %} value="{{ taxon.veg_value }}" {% endif %} placeholder="" maxlength="1"></td>
                        <td><input data-biotope="gsm" data-id="{{ taxon.id }}" type="text" name="taxon_list-{{ taxon.id }}-GSM" class="rating-input form-control"
                                   {% if taxon.gsm_value %} value="{{ taxon.gsm_value }}" {% endif %} placeholder="" maxlength="1"></td>
                        <td><input data-biotope="total" data-id="{{ taxon.id }}" type="text" name="taxon_list-{{ taxon.id }}-TOT" class="rating-input total-rating form-control"
                                   {% if taxon.tot_value %} value="{{ taxon.tot_value }}" {% endif %} placeholder="" maxlength="1"></td>
                    </tr>
                {% else %}
                    <tr>
                        <th colspan="5" scope="row">
                            {{ taxon.name }}
                        </th>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr class="sass-score-row">
                <td scope="row" colspan="2"
                    class="taxon-name bold ">
                    SASS Score
                </td>
                <td>
                    <div id="sass-score-stones" class="sass-score">
                        0
                    </div>
                </td>
                <td>
                    <div id="sass-score-vegetation" class="sass-score">
                        0
                    </div>
                </td>
                <td>
                    <div id="sass-score-gsm" class="sass-score">
                        0
                    </div>
                </td>
                <td>
                    <div id="sass-score-total" class="sass-score">
                        0
                    </div>
                </td>
            </tr>

            <tr class="sass-score-row">
                <td scope="row"
                    class="taxon-name bold " colspan="2">
                    Number of Taxa
                </td>
                <td>
                    <div id="number-taxa-stones" class="sass-score">
                        0
                    </div>
                </td>
                <td>
                    <div id="number-taxa-vegetation" class="sass-score">
                        0
                    </div>
                </td>
                <td>
                    <div id="number-taxa-gsm" class="sass-score">
                        0
                    </div>
                </td>
                <td>
                    <div id="number-taxa-total" class="sass-score">
                        0
                    </div>
                </td>
            </tr>

             <tr class="sass-score-row">
                <td scope="row"
                    class="taxon-name bold " colspan="2">
                    ASPT
                </td>
                <td>
                    <div id="aspt-stones" class="sass-score">
                        0.0
                    </div>
                </td>
                <td>
                    <div id="aspt-vegetation" class="sass-score">
                        0.0
                    </div>
                </td>
                <td>
                    <div id="aspt-gsm" class="sass-score">
                        0.0
                    </div>
                </td>
                <td>
                    <div id="aspt-total" class="sass-score">
                        0.0
                    </div>
                </td>
            </tr>

            <tr>
                <th colspan="6" scope="row">
                    Other biota:
                </th>
            </tr>
            <tr>
                <td colspan="6" scope="row">
                    <textarea class="form-control rounded" rows="6" name="other-biota">{{ other_biota }}</textarea>
                </td>
            </tr>
            <tr>
                <th colspan="6" scope="row">
                    Comments/Observations:
                </th>
            </tr>
            <tr>
                <td colspan="6" scope="row">
                    <textarea class="form-control rounded" rows="6" name="notes"> {{ comments }}</textarea>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="submit-wrapper">
            {% if not is_update %}
                <div class="disclaimer" style="margin-bottom: 10px;">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"
                                       value="" id="disclaimerCheck">
                                <label class="form-check-label"
                                       for="disclaimerCheck"
                                       style="padding-top: 12px;">
                                    {{ preferences.SiteSetting.disclaimer_form_text|urlize|linebreaks }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="button" name="btn" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-info" value="Next" disabled>
                <script>
                    const checkbox = document.getElementById('disclaimerCheck');
                    const submitButton = document.getElementById('submitBtn');
                    checkbox.addEventListener('change', (event) => {
                        if (event.target.checked) {
                            submitButton.disabled = false;
                        } else {
                            submitButton.disabled = true;
                        }
                    })
                </script>
            {% else %}
                <input type="button" name="btn" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-info" value="Next">
            {% endif %}
        </div>

        <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Submit
                    </div>
                    <div class="modal-body">
                        Are you sure you want to submit the SASS form and go to the next form?
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cancel-submit" class="btn btn-default"
                                data-dismiss="modal">Cancel
                        </button>
                        <a href="#" id="submit"
                           class="btn btn-success success">Submit</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

    </form>
{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static "js/libs/openlayers-4.6.4/ol.js" %}"></script>
    <script src="{% static "js/libs/jquery.timepicker.min.js" %}"></script>
    <script src="{% static "js/sass_form.js" %}"></script>

{% endblock %}
