{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% load jsonify %}
{% block subtitle %}
    SASS
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/form_page.css" %}" rel="stylesheet">
    <script type="text/javascript">
        var isUpdate = {% if sass_sheet %}true{% else %}false{% endif %};
        var sicRating = {% if sass_sheet %}"{{ sass_sheet.biotope_stones_in_current }}"{% else %}""{% endif %};
        var soocRating = {% if sass_sheet %}"{{ sass_sheet.biotope_stones_out_of_current }}"{% else %}""{% endif %};
        var bedrockRating = {% if sass_sheet %}"{{ sass_sheet.biotope_bedrock }}"{% else %}""{% endif %};

        var aquaticVegRating = {% if sass_sheet %}"{{ sass_sheet.biotope_aquatic_vegetation }}"{% else %}""{% endif %};
        var micRating = {% if sass_sheet %}"{{ sass_sheet.biotope_margin_veg_in_current }}"{% else %}""{% endif %};
        var moocRating = {% if sass_sheet %}"{{ sass_sheet.biotope_margin_veg_out_of_current }}"{% else %}""{% endif %};

        var gravelRating = {% if sass_sheet %}"{{ sass_sheet.biotope_gravel }}"{% else %}""{% endif %};
        var sandRating = {% if sass_sheet %}"{{ sass_sheet.biotope_sand }}"{% else %}""{% endif %};
        var mudRating = {% if sass_sheet %}"{{ sass_sheet.biotope_mud }}"{% else %}""{% endif %};

        var handPickingRating = {% if sass_sheet %}"{{ sass_sheet.biotope_hand_picking }}"{% else %}""{% endif %};
    </script>

{% endblock %}

{% block body_content %}

    <form action="{{ request.path }}" method="post" id="sass-form">
    {% csrf_token %}
    <div class="body-form container">
        {% if sass_sheet %}
            <h2>Update SASS record</h2>
        {% else %}
            <h2>Add SASS record</h2>
        {% endif %}
        <div class="row">
            <div class="col-lg-9">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>
                            Biotopes Sampled
                        </th>
                        <th>
                            <div class="container-fluid">
                                <div class="row" style="text-align: center;">
                                    {% autoescape off %}
                                        {% get_html_for_radio_group_headings 6 %}
                                    {% endautoescape %}
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="no-line">
                        <td class="sampled-name">
                            Stones In Current (SIC)
                        </td>
                        <td>
                             <div class="container-fluid">
                                <div class="row">
                                    {% autoescape off %}
                                        {% get_html_for_radio_group "sic-rating" sass_sheet.biotope_stones_in_current %}
                                    {% endautoescape %}
                                </div>
                             </div>
                        </td>

                    </tr>
                    <tr class="no-line">
                        <td class="sampled-name">
                            Stones Out Of Current (SOOC)
                        </td>
                        <td>
                            {% autoescape off %}
                                {% get_html_for_radio_group "sooc-rating" sass_sheet.biotope_stones_out_of_current %}
                            {% endautoescape %}
                        </td>

                    </tr>
                    <tr class="no-line">
                        <td class="sampled-name">
                            Bedrock
                        </td>
                        <td>
                            {% autoescape off %}
                                {% get_html_for_radio_group "bedrock-rating" sass_sheet.biotope_bedrock  %}
                            {% endautoescape %}
                        </td>

                    </tr>
                    <tr>
                        <td class="sampled-name">
                            Aquatic Veg
                        </td>
                        <td>
                           {% autoescape off %}
                                {% get_html_for_radio_group "aquatic-veg-rating" sass_sheet.biotope_aquatic_vegetation %}
                            {% endautoescape %}
                        </td>

                    </tr>
                    <tr class="no-line">
                        <td class="sampled-name">
                            MargVeg In Current
                        </td>
                        <td>
                            {% autoescape off %}
                                {% get_html_for_radio_group "mic-rating" sass_sheet.biotope_margin_veg_in_current %}
                            {% endautoescape %}
                        </td>

                    </tr>
                    <tr class="no-line">
                        <td class="sampled-name">
                            MargVeg Out Of Current
                        </td>
                        <td>
                            {% autoescape off %}
                                {% get_html_for_radio_group "mooc-rating" sass_sheet.biotope_margin_veg_out_of_current %}
                            {% endautoescape %}
                        </td>

                    </tr>
                    <tr>
                        <td class="sampled-name">
                            Gravel
                        </td>
                        <td>
                            {% autoescape off %}
                                {% get_html_for_radio_group "gravel-rating" sass_sheet.biotope_gravel %}
                            {% endautoescape %}
                        </td>

                    </tr>
                    <tr class="no-line">
                        <td class="sampled-name">
                            Sand
                        </td>
                        <td>
                            {% autoescape off %}
                                {% get_html_for_radio_group "sand-rating" sass_sheet.biotope_sand %}
                            {% endautoescape %}
                        </td>

                    </tr>
                    <tr class="no-line">
                        <td class="sampled-name">
                            Mud
                        </td>
                        <td>
                            {% autoescape off %}
                                {% get_html_for_radio_group "mud-rating" sass_sheet.biotope_mud %}
                            {% endautoescape %}
                        </td>

                    </tr>
                    <tr>
                        <td class="sampled-name">
                            Hand picking/Visual observation
                        </td>
                        <td>
                            {% autoescape off %}
                                {% get_html_for_radio_group "hand-picking-rating" sass_sheet.biotope_hand_picking %}
                            {% endautoescape %}
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="time_min" class="input-label">Time (min):</label>
                    <input type="number" class="form-control" id="time_min" name="time-min" {% if sass_sheet.time_minutes %} value="{{ sass_sheet.time_minutes }}" {% endif %} >
                </div>
                <div class="fbis-sass-logo">
                    <img src="{% static 'img/fbis_sass_logo.png' %}" width="100%">
                </div>
            </div>
        </div>

        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Taxon</th>
                <th scope="col">S</th>
                <th scope="col">Veg</th>
                <th scope="col">GSM</th>
                <th scope="col">TOT</th>
            </tr>
            </thead>
            <tbody>
            {% for taxon in taxon_list %}
                {% if taxon.has_score %}
                    <tr>
                        <td scope="row"
                            class="taxon-name {% if taxon.should_bold %} bold {% endif %}">
                            {{ taxon.name }}
                            <input type="hidden" value="{{ taxon.id }}">
                        </td>
                        <td><input type="text" name="{{ taxon.id }}-S" class="form-control"
                                   {% if taxon.s_value %} value="{{ taxon.s_value }}" {% endif %} placeholder="S"></td>
                        <td><input type="text" name="{{ taxon.id }}-Veg" class="form-control"
                                   {% if taxon.veg_value %} value="{{ taxon.veg_value }}" {% endif %} placeholder="Veg"></td>
                        <td><input type="text" name="{{ taxon.id }}-GSM" class="form-control"
                                   {% if taxon.gsm_value %} value="{{ taxon.gsm_value }}" {% endif %} placeholder="GSM"></td>
                        <td><input type="text" name="{{ taxon.id }}-TOT" class="form-control"
                                   {% if taxon.tot_value %} value="{{ taxon.tot_value }}" {% endif %} placeholder="TOT"></td>
                    </tr>
                {% else %}
                    <tr>
                        <th colspan="5" scope="row">
                            {{ taxon.name }}
                        </th>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <th colspan="5" scope="row">
                    Other biota:
                </th>
            </tr>
            <tr>
                <td colspan="5" scope="row">
                    <textarea class="form-control rounded" rows="6" name="other-biota">{{ sass_sheet.other_biota }}</textarea>
                </td>
            </tr>
            <tr>
                <th colspan="5" scope="row">
                    Comments/Observations:
                </th>
            </tr>
            <tr>
                <td colspan="5" scope="row">
                    <textarea class="form-control rounded" rows="6" name="notes"> {{ sass_sheet.notes }}</textarea>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="submit-wrapper">
            <input type="button" name="btn" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-info" value="Submit">
        </div>

        <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Submit
                    </div>
                    <div class="modal-body">
                        Are you sure you want to submit the SASS form?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">Cancel
                        </button>
                        <a href="#" id="submit"
                           class="btn btn-success success">Submit</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

    </form>
{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/sass_5_record.js" %}"></script>

{% endblock %}
