{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% load jsonify %}
{% block subtitle %}
    SASS
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "js/libs/openlayers-4.6.4/ol.css" %}"
          rel="stylesheet">
    <link href="{% static "css/form_page.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery.timepicker.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript">
        var isUpdate = {% if is_update %}true{% else %}false{% endif %};
        const location_site_lat = '{{ location_site_lat }}';
        const location_site_lon = '{{ location_site_lon }}';
        const geoserverPublicUrl = '{{ geoserver_public_location }}';
        const locationSiteGeoserverLayer = '{{ bims_preferences.geoserver_location_site_layer }}';
        const defaultWMSSiteParameters = '{{ preferences.SiteSetting.default_location_site_cluster }}';
        const bingKey = '{{ bing_key }}';
    </script>

{% endblock %}

{% block body_content %}

    <div class="body-form container">
        <div class="dashboard-title">
            <h2>
                View SASS record for site <a href="/location-site-form/update/?id={{ site_id }}">{{ site_identifier }}</a>
                <div class="site-form-close sass-form-close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </h2>
        </div>
        {% if user.is_superuser or owner == user or collector == user %}
            <a class="btn btn-primary btn-normal" style="margin-bottom: 10px;" href="/sass/update/{{ site_visit_id }}/">Edit</a>
            <div class="btn btn-danger btn-normal" style="margin-bottom: 10px;" data-toggle="modal" data-target="#confirm-submit">Delete</div>
            <div class="modal fade" id="confirm-submit" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <form method="POST" action="/sass/delete/{{ site_visit_id }}/">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                Confirm Delete
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this SASS
                                record?
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="cancel-submit"
                                        class="btn btn-default"
                                        data-dismiss="modal">Cancel
                                </button>
                                <button type="submit" value="Yes"
                                        class="btn btn-success success" data-message="Deleting...">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
        <div id="site-map"></div>

        <div class="form-group row">
            <label for="date"
                   class="col-sm-1 col-form-label col-form-label">Latitude</label>
            <input type="text" id="latitude" name="latitude"
                   class="col-sm-2 form-control form-control-sm"
                   value="{{ location_site_lat }}" disabled>
            <label for="date"
                   class="col-sm-1 col-form-label col-form-label">Longitude</label>
            <input type="text" id="longitude" name="longitude"
                   class="col-sm-2 form-control form-control-sm"
                   value="{{ location_site_lon }}" disabled>
        </div>

        <div class="separator-line"></div>

        <div class="form-group row">
            <label for="date"
                   class="col-sm-2 col-form-label col-form-label required-text">Date</label>
            <div class="col-sm-10">
                <input type="text" name="date"
                       class="form-control form-control-sm" placeholder="" {% if date %} value="{{ date|date:'m/d/Y' }}" {% endif %} readonly>
            </div>
        </div>

        <div class="form-group row even-row">
            <label for="date"
                   class="col-sm-2 col-form-label col-form-label required-text">Owner</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm"
                       onClick="this.setSelectionRange(0, this.value.length)"
                        placeholder="" name="owner" value="{% if owner.get_full_name %}{{ owner.get_full_name }}{% else %}{{ owner.username }}{% endif %}"
                       readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10" style="padding-left: 35px; margin-top: -20px;">
                <input class="form-check-input" type="radio" {% if accredited %} checked {% endif %} id="accredited" name="accredited" readonly>
                <label class="form-check-label" for="accredited" style="padding-top: 10px;">
                    Accredited at the time of collection
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label for="data-source" class="col-sm-2">Source Reference</label>
            <div class="col-sm-10">
                <div class="source-reference-wrapper">
                    {% if source_reference %}
                        <div style="font-weight: bold">{{ source_reference.reference_type }}</div>
                        {% if source_reference.reference_type == 'Published report or thesis' or source_reference.reference_type == 'Peer-reviewed scientific article' %}
                            <div>{{ source_reference.authors }} |
                                {{ source_reference.year }} |
                                {{ source_reference.title }}</div>
                        {% else %}
                            <div>{{ source_reference }}</div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="data-source" class="col-sm-2">Site Image</label>
            <div class="col-sm-10">
                {% if site_image %}
                <img id="site_image" class="site-image" src="{{ site_image.image.url }}" {% if site_image.image.url %} style="display: block" {% endif %}>
                {% else %}
                -
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>
                            Biotopes Sampled
                        </th>
                        <th>
                            <div class="container-fluid">
                                <div class="row" style="text-align: center;">
                                    {% autoescape off %}
                                        {% get_html_for_radio_group_headings 6 %}
                                    {% endautoescape %}
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for biotope_form in biotope_form_list %}
                            <tr>
                                <td class="sampled-name">
                                    {{ biotope_form.name }}
                                </td>
                                <td>
                                    <div class="container-fluid">
                                        <div class="row">
                                            {% autoescape off %}
                                                {% get_html_for_radio_group biotope_form.name biotope_form.rate %}
                                            {% endautoescape %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Taxon</th>
                <th scope="col">Stones</th>
                <th scope="col">Vegetation</th>
                <th scope="col">Gravel, sand, mud</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody id="taxon-list">
            {% for taxon in taxon_list %}
                {% if taxon.score %}
                    <tr>
                        <td data-score="{{ taxon.score }}" data-id="{{ taxon.id }}" scope="row"
                            class="taxon-name {% if taxon.should_bold %} bold {% endif %}">
                            {{ taxon.name }}
                        </td>
                        <td><input data-biotope="stones" data-id="{{ taxon.id }}" type="text" name="taxon_list-{{ taxon.id }}-S" class="rating-input form-control"
                                   {% if taxon.s_value %} value="{{ taxon.s_value }}" {% endif %} placeholder="" maxlength="1" readonly></td>
                        <td><input data-biotope="vegetation" data-id="{{ taxon.id }}" type="text" name="taxon_list-{{ taxon.id }}-Veg" class="rating-input form-control"
                                   {% if taxon.veg_value %} value="{{ taxon.veg_value }}" {% endif %} placeholder="" maxlength="1" readonly></td>
                        <td><input data-biotope="gsm" data-id="{{ taxon.id }}" type="text" name="taxon_list-{{ taxon.id }}-GSM" class="rating-input form-control"
                                   {% if taxon.gsm_value %} value="{{ taxon.gsm_value }}" {% endif %} placeholder="" maxlength="1" readonly></td>
                        <td><input data-biotope="total" data-id="{{ taxon.id }}" type="text" name="taxon_list-{{ taxon.id }}-TOT" class="rating-input total-rating form-control"
                                   {% if taxon.tot_value %} value="{{ taxon.tot_value }}" {% endif %} placeholder="" maxlength="1" readonly></td>
                    </tr>
                {% else %}
                    <tr>
                        <th colspan="5" scope="row">
                            {{ taxon.name }}
                        </th>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr class="sass-score-row">
                <td scope="row"
                    class="taxon-name bold ">
                    SASS Score
                </td>
                <td>
                    <div id="sass-score-stones" class="sass-score">
                        0
                    </div>
                </td>
                <td>
                    <div id="sass-score-vegetation" class="sass-score">
                        0
                    </div>
                </td>
                <td>
                    <div id="sass-score-gsm" class="sass-score">
                        0
                    </div>
                </td>
                <td>
                    <div id="sass-score-total" class="sass-score">
                        0
                    </div>
                </td>
            </tr>

            <tr class="sass-score-row">
                <td scope="row"
                    class="taxon-name bold ">
                    Number of Taxa
                </td>
                <td>
                    <div id="number-taxa-stones" class="sass-score">
                        0
                    </div>
                </td>
                <td>
                    <div id="number-taxa-vegetation" class="sass-score">
                        0
                    </div>
                </td>
                <td>
                    <div id="number-taxa-gsm" class="sass-score">
                        0
                    </div>
                </td>
                <td>
                    <div id="number-taxa-total" class="sass-score">
                        0
                    </div>
                </td>
            </tr>

             <tr class="sass-score-row">
                <td scope="row"
                    class="taxon-name bold ">
                    ASPT
                </td>
                <td>
                    <div id="aspt-stones" class="sass-score">
                        0.0
                    </div>
                </td>
                <td>
                    <div id="aspt-vegetation" class="sass-score">
                        0.0
                    </div>
                </td>
                <td>
                    <div id="aspt-gsm" class="sass-score">
                        0.0
                    </div>
                </td>
                <td>
                    <div id="aspt-total" class="sass-score">
                        0.0
                    </div>
                </td>
            </tr>

            <tr>
                <th colspan="5" scope="row">
                    Other biota:
                </th>
            </tr>
            <tr>
                <td colspan="5" scope="row">
                    <textarea class="form-control rounded" rows="6" name="other-biota" readonly>{{ other_biota }}</textarea>
                </td>
            </tr>
            <tr>
                <th colspan="5" scope="row">
                    Comments/Observations:
                </th>
            </tr>
            <tr>
                <td colspan="5" scope="row">
                    <textarea class="form-control rounded" rows="6" name="notes" readonly> {{ comments }}</textarea>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static "js/libs/openlayers-4.6.4/ol.js" %}"></script>
    <script src="{% static "js/libs/jquery.timepicker.min.js" %}"></script>
    <script src="{% static "js/sass_form.js" %}"></script>
    <script type="text/javascript">
        $(':radio:not(:checked)').attr('disabled', true);
    </script>
{% endblock %}
