{% extends 'main_base.html' %}
{% load static from staticfiles %}

{% block subtitle %}
    SASS Dashboard Single Site
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/sass_dashboard.css" %}" rel="stylesheet">
    <link href="{% static "js/libs/openlayers-4.6.4/ol.css" %}"
          rel="stylesheet">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script type="text/javascript">
        const sassScores = {{ sass_score_chart_data.sass_scores }};
        const dateLabels = {{ sass_score_chart_data.date_labels | safe }};
        const taxaNumbers = {{ sass_score_chart_data.taxa_numbers }};
        const asptList = {{ sass_score_chart_data.aspt_list }};
        const sassTaxonData = {{ sass_taxon_table_data.sass_taxon_data | safe }};
        const biotopeData = {{ sass_taxon_table_data.biotope_data | safe }};
        const sensitivityChartData = {{ sensitivity_chart_data | safe }};
        const coordinates = [{{ coord.0 }}, {{ coord.1 }}];
        const siteCode = "{{ site_code }}";
        const biotopeRatingData = {{ biotope_ratings_chart_data.rating_data | safe }};
        const biotopeRatingLabels = {{ biotope_ratings_chart_data.biotope_labels | safe }};
    </script>

{% endblock %}

{% block body_content %}
    <div class="body-form container">

        <h2 class="dashboard-title">SASS Dashboard</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="map-container" id="map"></div>
                <div class="vertical-space"></div>
                <div class="table-container">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th scope="row">FBIS Site Code</th>
                            <td>{{ site_code }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Site coordinates</th>
                            <td>{{ coord.0 }}, {{ coord.1 }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Site description</th>
                            <td>{{ site_description }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Number of SASS records</th>
                            <td id="number-of-sass-record">0</td>
                        </tr>
                        <tr>
                            <th scope="row">Earliest record</th>
                            <td id="earliest-record">-</td>
                        </tr>
                        <tr>
                            <th scope="row">Latest record</th>
                            <td id="latest-record">-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="vertical-space"></div>
                <div class="table-container">
                    <div class="table-title">
                        SASS Taxa per biotope
                        <span class="pull-right">
                            {{ sass_taxon_table_data.site_visit_date }}
                        </span>
                    </div>
                    <table class="table table-condensed table-striped sass-taxon-per-biotope-table">
                        <thead>
                        <tr>
                            <th>
                                TAXA
                            </th>
                            <th></th>
                            <th>
                                Weight
                            </th>
                            <th>S</th>
                            <th>V</th>
                            <th>G</th>
                            <th>Site</th>
                        </tr>
                        </thead>
                        <tbody id="sass-taxon-per-biotope">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6 mp">
                <div class="chart-container">
                    <canvas id="sass-score-chart"></canvas>
                    <canvas id="taxa-numbers-chart"></canvas>
                    <canvas id="aspt-chart"></canvas>
                </div>
                <div class="vertical-space"></div>
                <div class="chart-container">
                    <div class="chart-title">Proportion of sensitive to tolerant</div>
                    <canvas id="sensitivity-chart"></canvas>
                </div>
                <div class="vertical-space"></div>
                <div class="chart-container">
                    <div class="chart-title">Biotope ratings</div>
                    <canvas id="biotope-ratings-chart"></canvas>
                </div>
                <div class="vertical-space"></div>
                <div class="chart-container">
                    <div class="chart-title">Ecological category</div>
                    <canvas id="ecological-category-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/libs/openlayers-4.6.4/ol.js" %}"></script>
    <script src="{% static "js/libs/moment.js" %}"></script>
    <script src="{% static "js/libs/chart/Chart-2.7.2.js" %}"></script>
    <script src="{% static "js/sass_dashboard.js" %}"></script>

{% endblock %}
