
{% regroup publications by publication_date.year as entry_years %}

<ul class="publication-list-years">

{% for entry_year in entry_years %}
    <li class="publication-list-year">

        <a name="{{ entry_year.grouper }}"></a>
        <div class="year">{{ entry_year.grouper }}</div>

        <ul class="publication-list">
        {% for entry in entry_year.list %}
            <li class="publication">
                {% include "td_biblio/entry_item.html" %}
            </li>
        {% endfor %}
        </ul>

    </li>
{% endfor %}
</ul>
