<div id="captcha-info"><span id="warning-captcha">Please verify that you are not a bot first.</span><br/></div>
<div class="g-recaptcha" data-callback="enableBtn"></div>

{% if recaptcha_site_key %}
    <script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit&hl=en"></script>
 {% else %}
    <script>
        $(document).ready(function () {
            enableBtn();
            $('#captcha-info').hide();
        })
    </script>
{% endif %}

<script type="text/javascript">
    var CaptchaCallback = function(){
      $('.g-recaptcha').each(function(){
        grecaptcha.render(this,{'sitekey' : '{{ recaptcha_site_key }}' } );
      })
    };

    function enableBtn(){
        $('.btn-recaptcha-verified').show();
        $('#warning-captcha').html('Verified');
    }

</script>