
{% load static %}
<div class="table-container">
    <div class="table-title">Overview
        <i data-download-title="Overview"
           data-toggle="tooltip" data-placement="left"
           class="fa fa-download pull-right download-icon download-table"></i>
    </div>
    <div class="table content-body">

    </div>
</div>
<style>
    .content-body {
        margin-bottom: 10px;
    }

    .content-body .col-12.sub-title {
        padding: 0.25rem;
        border: 1px solid #d3d4d1;
        font-size: 12px;
        font-weight: 700;
    }

    .col-12.sub-title.site-details-header {
        text-align: center;
    }

    .site-details-header {
        background: #bebebe;
        border-color: #bebebe !important;
    }

    .content-body .col-6 {
        padding: 0.25rem;
        border: 1px solid #d3d4d1;
        padding-left: 0.5rem;
        font-size: 12px;
        margin-bottom: -1px;
    }

</style>
<script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
<script>
    function renderLocationContextTable() {
        let $table = $('.content-body');
        let tableData = {
            'Geomorphological zone': '-',
            'User Geomorphological zone': refinedGeomorphologicalZone,
            'Catchments': 'title',
            'Primary Catchment': '-',
            'Secondary Catchment': '-',
            'Tertiary Catchment': '-',
            'Quaternary Catchment': '-',
            'Management Areas': 'title',
            'Water Management Area': '-',
            'Sub Water Management Area': '-',
            'River Management Unit': '-',
            'Ecoregion and Province': 'title',
            'SA Ecoregion Level 1': '-',
            'SA Ecoregion Level 2': '-',
            'Freshwater Ecoregion': '-',
            'Province': '-',
        };
        if (siteDetailsData) {
            tableData = siteDetailsData;
            $.each(tableData, function (key, value) {
                let $container = $('<div class="site-details-container"></div>');
                $table.append($container)
                $container.append(
                    `<div class="col-12 sub-title site-details-header">${key}</div>`
                )
                let $overviewContent = $('<div class="col-12 site-details-content"></div>');
                $container.append($overviewContent);
                $.each(value, function (rowKey, rowValue) {
                    $overviewContent.append(
                        `<div class="row">
                            <div class="col-6">${rowKey} </div>
                            <div class="col-6">${rowValue} </div>
                        </div>`
                    )
                })
            });
        } else {
            try {
                tableData['Geomorphological zone'] = geomorphologicalGroup['geo_class_recoded'];
                tableData['SA Ecoregion Level 1'] = riverEcoregionGroup['eco_region_1'];
                tableData['SA Ecoregion Level 2'] = riverEcoregionGroup['eco_region_2'];
                tableData['Sub Water Management Area'] = waterManagementAreaGroup['sub_wmas'];
                tableData['Water Management Area'] = waterManagementAreaGroup['water_management_area'];
                if (waterManagementAreaGroup['river_management_unit']) {
                    tableData['River Management Unit'] = waterManagementAreaGroup['river_management_unit'];
                }
            } catch (e) {
            }

            let freshwaterEcoregionValue = '-';
            if (freshwaterEcoregion.hasOwnProperty('feow_hydrosheds')) {
                if (freshwaterEcoregion['feow_hydrosheds'] !== 'None') {
                    freshwaterEcoregionValue = freshwaterEcoregion['feow_hydrosheds'];
                }
            }
            tableData['Freshwater Ecoregion'] = freshwaterEcoregionValue;

            if (originalGeomorphologicalZone) {
                tableData['Geomorphological zone'] = originalGeomorphologicalZone;
            }

            if (politicalBoundary) {
                try {
                    if (politicalBoundary['combination_saprovince_sadc_boundary'])
                        tableData['Province'] = politicalBoundary['combination_saprovince_sadc_boundary'];
                } catch (e) {
                }
            }

            if (riverCatchments) {
                try {
                    tableData['Primary Catchment'] = riverCatchments['primary_catchment_area'];
                    tableData['Secondary Catchment'] = riverCatchments['secondary_catchment_area'];
                    tableData['Tertiary Catchment'] = riverCatchments['tertiary_catchment_area'];
                    tableData['Quaternary Catchment'] = riverCatchments['quaternary_catchment_area'];
                } catch (e) {
                }
            }

            $.each(tableData, function (key, value) {
                let $container = $('<div class="site-details-container"></div>');
                $table.append($container)
                if (value === 'title') {
                    $container.append(
                        `<div class="col-12 sub-title site-details-header">${key}</div>`
                    )
                } else {
                    $container.append(
                        `<div class="row">
                            <div class="col-6">${key} </div>
                            <div class="col-6">${value} </div>
                        </div>`
                    )
                }
            });
        }

    }

    {% if preferences.SiteSetting.default_data_source == 'fbis' %}
    renderLocationContextTable();
    {% endif %}
</script>
