
{% load static from staticfiles %}
<div class="table-container">
    <div class="table-title">Overview
        <i data-download-title="Overview"
           data-toggle="tooltip" data-placement="left"
           class="fa fa-download pull-right download-icon download-table"></i>
    </div>
    <table class="summary-table table">
        <tbody>
        <tr>
            <th class="title-row" colspan="2">Site Details</th>
        </tr>
        <tr>
            <th>{{ preferences.SiteSetting.default_site_name }} Site Code</th>
            <td>{{ site_code }}</td>
        </tr>
        <tr>
            <th>Original Site Code</th>
            <td>{{ original_site_code }}</td>
        </tr>
        <tr>
            <th>Site coordinates</th>
            <td>{{ coord.0 }}, {{ coord.1 }}</td>
        </tr>
        <tr>
            <th>Site description</th>
            <td>{{ site_description }}</td>
        </tr>
        <tr>
            <th class="title-row" colspan="2">River and
                Geomorphological Zone
            </th>
        </tr>
        <tr>
            <th>Original River Name</th>
            <td>{{ original_river_name }}</td>
        </tr>
        <tr>
            <th>River</th>
            <td>{{ river }}</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
<script>

    function renderLocationContextTable() {
        let $table = $('.summary-table tbody');
        let tableData = {
            'Geomorphological zone': '-',
            'Refined Geomorphological zone': refinedGeomorphologicalZone,
            'Catchments': 'title',
            'Primary Catchment': '-',
            'Secondary Catchment': '-',
            'Tertiary Catchment': '-',
            'Quaternary Catchment': '-',
            'Management Areas': 'title',
            'Water Management Area': '-',
            'Sub Water Management Area': '-',
            'River Management Unit': '-',
            'Ecoregion and Province': 'title',
            'SA Ecoregion Level 1': '-',
            'SA Ecoregion Level 2': '-',
            'Freshwater Ecoregion': '-',
            'Province': '-',
        };
        try {
            tableData['Geomorphological zone'] = geomorphologicalGroup['geo_class_recoded'];
            tableData['SA Ecoregion Level 1'] = riverEcoregionGroup['eco_region_1'];
            tableData['SA Ecoregion Level 2'] = riverEcoregionGroup['eco_region_2'];
            tableData['Sub Water Management Area'] = waterManagementAreaGroup['sub_wmas'];
            tableData['Water Management Area'] = waterManagementAreaGroup['water_management_area'];
            if (waterManagementAreaGroup['river_management_unit']) {
                tableData['River Management Unit'] = waterManagementAreaGroup['river_management_unit'];
            }
        } catch (e) {
        }

        let freshwaterEcoregionValue = '-';
        if (freshwaterEcoregion.hasOwnProperty('feow_hydrosheds')) {
            if (freshwaterEcoregion['feow_hydrosheds'] !== 'None') {
                freshwaterEcoregionValue = freshwaterEcoregion['feow_hydrosheds'];
            }
        }
        tableData['Freshwater Ecoregion'] = freshwaterEcoregionValue;

        if (originalGeomorphologicalZone) {
            tableData['Geomorphological zone'] = originalGeomorphologicalZone;
        }

        if (politicalBoundary) {
            try {
                if (politicalBoundary['sa_provinces'])
                    tableData['Province'] = politicalBoundary['sa_provinces'];
            } catch (e) {
            }
        }

        if (riverCatchments) {
            try {
                tableData['Primary Catchment'] = riverCatchments['primary_catchment_area'];
                tableData['Secondary Catchment'] = riverCatchments['secondary_catchment_area'];
                tableData['Tertiary Catchment'] = riverCatchments['tertiary_catchment_area'];
                tableData['Quaternary Catchment'] = riverCatchments['quaternary_catchment_area'];
            } catch (e) {
            }
        }

        $.each(tableData, function (key, value) {
            if (value === 'title') {
                $table.append('<tr>\n' +
                    '<th class="title-row" colspan="2"> ' + key + ' </th>' +
                    '</tr>');
            } else {
                $table.append('<tr>\n' +
                    '<th> ' + key + ' </th>' +
                    '<td>' + value + '</td>\n' +
                    '</tr>');
            }
        });
    }

    renderLocationContextTable();
</script>