<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="RemoteMappingsManager">
    <list>
      <list>
        <remote-mappings server-id="python@ssh://root@localhost:{{ docker_port_forward.django.ssh }}/usr/local/bin/python">
          <settings>
            <list>
              <mapping local-root="$PROJECT_DIR$" remote-root="/home/web/django_project" />
            </list>
          </settings>
        </remote-mappings>
      </list>
    </list>
  </component>
</project>
