{% extends 'main_base.html' %}
{% load static %}
{% load thumbnail %}
{% block subtitle %}
    Location Site Form
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "js/libs/openlayers-10.2.0/ol.css" %}" rel="stylesheet">
    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{% static "css/site_form.css" %}" rel="stylesheet">

    <script type="text/javascript">
        const geoserverPublicUrl = '{{ geoserver_public_location }}';
        const locationSiteGeoserverLayer = '{{ preferences.SiteSetting.geoserver_location_site_layer }}';
        const defaultExtentMap = '{{ preferences.SiteSetting.default_extent_map }}';
        const defaultWMSSiteParameters = '{{ preferences.SiteSetting.default_location_site_cluster }}';
        const locationSiteLat = '{{ location_site_lat }}';
        const locationSiteLong = '{{ location_site_long }}';
        const allowToEdit = {% if update %}{% if allow_to_edit %}true{% else %}false{% endif %}{% else %}true{% endif %};
        const siteId = '{{ site_id }}';
        const siteCodeGeneratorMethod = '{{ preferences.SiteSetting.site_code_generator }}';
        const bingKey = '{{ bing_key }}';
        const isFbis = {% if preferences.SiteSetting.default_data_source.lower == 'fbis' %}true{% else %}false{% endif %};
        const ecosystemType = '{{ ecosystem_type }}';
        const parkLayerName =  '{{ preferences.SiteSetting.park_layer.name }}';
        const parkLayerTiles = '{{ park_layer_tiles }}';
        const parkAttribute = '{{ preferences.SiteSetting.park_wfs_attribute_key }}';
        const parkLayerStyle = {% if park_layer_style %}'{{ park_layer_style | safe }}'{% else %}null{% endif %};
    </script>
    <style>
        .carousel {
            height: 500px
        }
        .carousel-inner, .carousel-item {
            height: 100% !important;
        }

        .carousel-item img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        .form-control-sm {
            line-height: 2;
        }
        .form-control:disabled {
            background-color: #fff;
        }

        .btn-info, .btn-primary {
            margin-bottom: 10px;
            width: 272px;
        }

        #site-map {
            width: 100%;
            max-height: 500px;
            height: 500px;
            padding-bottom: 15px;
            position: relative;
        }
    </style>

{% endblock %}

{% block body_content %}

{% endblock %}

{% block foot %}

    <!-- Plugin JavaScript -->
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v9.0.0/dist/ol.js"></script>
    <script src="https://unpkg.com/ol-pmtiles@1.0.2/dist/olpmtiles.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol-mapbox-style@12.3.5/dist/olms.js"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/libs/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/libs/additional-methods.min.js" %}"></script>
    <script src="{% static "js/non_requirejs/site_form.js" %}"></script>
    <script src="{% static "js/non_requirejs/dashboard_buttons.js" %}"></script>

{% endblock %}

{% block extra_foot %} {% endblock %}