{% extends 'main_base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load static from staticfiles %}

{% block subtitle %}Login{% endblock %}

{% block head %}
    <!-- Chosen library -->
    <link rel="stylesheet" href="{% static 'chosen/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.min.js"></script>

    <script src="{% static 'chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('a.google').html($('.google-button'));
            $('a.github').html($('.github-button'));
        });
    </script>
{% endblock %}

{% block body_content %}
    <div class="content">
        {% block content %}

            {% csrf_token %}
            <div class="container">

                <div class="custom-form-container">
                    {% if messages %}
                        <ul class="errorlist">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <h1>{% trans "LOG IN" %}</h1>

                    {% get_providers as socialaccount_providers %}

                    <form class="login" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="login custom-form-submit btn-login" type="submit">{% trans "LOGIN" %}</button>
                    </form>

                    {% if socialaccount_providers %}

                        <div class="socialaccount_ballot">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="github-button btn-social-login">
                                    <div class="text-button">LOGIN WITH GITHUB</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="google-button btn-social-login">
                                    <div class="text-button">LOGIN WITH GOOGLE</div>
                                </div>
                            </div>
                        </div>

                        {% include "socialaccount/snippets/login_extra.html" %}

                    {% else %}
                        <p>{% blocktrans %}If you have not created an account yet, then please
                            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                    {% endif %}

                    <div class="login-help">
                        <p>This will automatically signs you up if you login with social account for the first time.</p>
                        If you want to sign up manually you can click here : <a href="{% url 'account_signup' %}">Sign Up</a>
                    </div>
                </div>
            </div> <!-- /container -->
            </div>
        {% endblock %}
{% endblock %}

{% block foot %}
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
    <script>
        $(document).ready(function () {
            $('input[id=id_password]').parent().append('' +
                '<div class="login-help pull-right forgot-password">' +
                '<a href="{% url 'account_reset_password' %}">{% trans "Forgot Password" %}</a></div>')
        })
    </script>
{% endblock %}
