{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}

{% block css_head %}
    <title> {{ APPLICATION_NAME }} | Logout </title>
    <!-- Chosen library -->
    <link rel="stylesheet" href="{% static 'chosen/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock %}

{% block js_head %}

    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}"></script>

    <script src="{% static 'js/libs/chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>

{% endblock %}

{% block container %}
    <div class="content" style="height: 100%;">
        {% block content %}

            {% csrf_token %}
            <div class="container" style="height: 100%;">

                <div class="custom-form-container" style="margin-top: 40px;">
                    <h1>{% trans "SIGN UP" %}</h1>
                    <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">{% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-warning">
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="login custom-form-submit btn-login" type="submit">{% trans "SIGN UP" %}</button>
                    </form>
                    <div class="login-help">
                        <a href="{% url 'account_login' %}">{% trans "Log In" %}</a> -
                        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password" %}</a>
                    </div>
                </div>
                <div class="form-space"></div>
            </div> <!-- /container -->
            </div>
        {% endblock %}
{% endblock %}

{% include 'main_base.html' %}