{% load static from staticfiles %}
<html>
    <link rel="stylesheet" href="{% static 'js/libs/datepicker/datepicker.css' %}">
    <style>
         #dashboard {
            margin-top: 8%;
            padding-bottom: 5%;
        }

        .button, button, input[type="button"], input[type="reset"], input[type="submit"] {
            background-color: #9b4dca;
            border: 0.1rem solid #9b4dca;
            border-radius: .4rem;
            color: #526B43 !important;

            background-color: white !important;
            color: #526B43 !important;
            border: 0.1rem solid #526B43 !important;
        }

    </style>
        <body>
        <div class="container" id="dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header
                text-center"><h1><b>Dashboard</b></h1></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="tracking-filters">
                    <form method="GET">
                        {{ form.as_table }}
                        <input type="submit" name="submit" value="submit" />
                    </form>
                </div>
                <div id="tracking-info">
                    <p>
                        Visitor tracking began on
                        {{ track_start_time|date:"Y-m-d H:i:s" }}
                    </p>
                    {% if warn_incomplete %}
                    <p class=warning>
                        The start time precedes the oldest tracked visitor, thus
                        the stats are not complete for the specified range.
                    </p>
                    {% endif %}
                </div>
                <div id="tracking-stats">
                    {% include "tracking/snippets/stats.html" %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card-header"><h2 style="color: darkgreen;">Database Statistics</h2></div>
                <nav aria-label="breadcrumb">
                  <div class="breadcrumb">
                      <h3>Taxon records: <span style="padding-right: 2px;"><b>{{ taxon_count }}</b></span></h3>
                      <h3>Total validated collections: <span style="padding-right: 2px;"><b>{{ collections_count }}</b></span></h3>
                  </div>
                </nav>
            </div>
        </div>
        </div>
    </body>

    <script src="{% static 'js/libs/datepicker/datepicker.js' %}"></script>
    <script src="{% static 'js/libs/datepicker/i18n/datepicker.en.js' %}"></script>
    <script>
    $(function() {
        var start_date = $("#id_start").val();
        var end_date = $("#id_end").val();

        $("#id_start").attr('data-language', 'en');
        $("#id_end").attr('data-language', 'en');

        $("#id_start").datepicker({
            dateFormat: 'yyyy-mm-dd',
            autoClose: true,
            position: 'bottom left',
            timepicker: true,
            timeFormat: "hh:ii",
            onSelect: function (date) {
                $("#id_end").val(date);
                $("#id_end").datepicker({minDate: new Date(date)})
            }
        });

        $("#id_end").datepicker({
            dateFormat: 'yyyy-mm-dd',
            autoClose: true,
            position: 'bottom left',
            timepicker: true,
            timeFormat: "hh:ii",
            onSelect: function (date) {
                $("#id_start").val(date);
                $("#id_start").datepicker({maxDate: new Date(date)})
            }
        });

        $('#id_start').datepicker().data('datepicker').selectDate(new Date(start_date.toString()));
        $('#id_end').datepicker().data('datepicker').selectDate(new Date(end_date.toString()));
    });
    </script>
</html>